.grid {
	width: 100%;
	margin-bottom: $space-large;

	@include flexbox();
	@include align-content(flex-start);

	&:last-child {
		margin-bottom: 0;
	}

	> * {
		max-width: 100%;

		@include flex(1 1 auto);
	}

	.col {
		@include flexbox();
		@include flex-wrap(wrap);
		@include align-content(flex-start);
		@include align-items(flex-start);

		&.col-50 {
			width: 50%;
			margin-right: $grid-gutter;

			&:nth-child(2) {
				margin-right: 0;
			}
		}

		// VERTICAL ALIGN CONTENT

		&.center {
			@include align-content(center);
		}
	}

	// MEDIA QUERIES

	@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 799px) {
		@include flex-direction(column);

		.col {
			margin-bottom: $space-large;

			&:last-child {
				margin-bottom: 0;
			}

			&.col-50 {
				width: 100%;
				margin-right: 0;
			}
		}
	}
}