body > header {
	display: inline-block;
	width: $header-width;
	height: 100vh;
	padding: $space-large;

    @include flexbox();
    @include flex-direction(column);
	@include align-items(center);
    @include justify-content(space-between);

	.logo {
		display: block;
		width: $header-width - ($space-large * 2);
		height: $header-width - ($space-large * 2);
		// Horizontal alignment
		margin: 0 auto;
		border-radius: 50%;

		&:hover,
		&:active {
			background: transparent;
		}

		&.has-focus {
			box-shadow: 0 0 0 $space-tiny $yellow;
		}

		img {
			width: inherit;
			height: inherit;
		}
	}

	nav {
		margin-top: $space-large;

		@include flexbox();
		@include flex-direction(column);
		@include align-items(center);

		a {
			@extend h5;

			margin-bottom: $space-tiny;
			padding: $space-small;
			// Fix for vertical align
			padding-bottom: $space-small - $text-fix;
			border: 1px solid transparent;
			transition: all $speed-default ease;
			cursor: pointer;

			&:active {
				color: $white;
			}

			&.is-current {
				color: $blue;
				border-color: $blue;
				text-decoration: none;
				pointer-events: none;

				&:focus {
					background: transparent;
				}
			}
		}
	}

    .current-section {
		writing-mode: vertical-lr;

		@include flexbox();
		@include flex-direction(column);
		@include justify-content(center);
		@include transform(rotate(180deg));

		h4, h6 {
			display: block;
			text-align: center;
			transition: all $speed-default ease;
		}

		h6 {
			margin-left: $space-tiny;
		}
    }

	.social {
		@include flexbox();
		@include flex-direction(column);
		@include justify-content(center);

		a {
			width: 30px;
			height: 30px;
			margin-top: $space-small;

			@include flexbox();
			@include align-items(center);
			@include justify-content(center);

			svg	{
				@include transform(scale(1.2));
			}
		}
	}

	// MEDIA QUERIES

	@media (max-height: $screen-height-average) {
		.social {
			a {
				width: 28px;
				height: 28px;

				svg	{
					@include transform(scale(1));
				}
			}
		}
	}

	@media (max-height: $screen-height-small) {
		width: $header-width-small;
		padding: ($space-base + $text-fix) $space-base;
		// Fix for text alignment
		padding-right: $space-base - $text-fix;

		.logo {
			width: $header-width-small - ($space-base * 3.5);
			height: $header-width-small - ($space-base * 3.5);
		}

		nav {
			margin-top: $space-base;

			a {
				padding: $space-small - 2px;
				// Fix for vertical align
				padding-bottom: $space-small - 2px - $text-fix;
			}
		}

		.social {
			a {
				width: 24px;
				height: 24px;
				margin-top: $space-tiny;

				svg	{
					@include transform(scale(.8));
				}
			}
		}
	}
}