main {
	overflow: hidden;
	width: $main-width;
	height: $main-height;
	margin: $space-large 0;
	scroll-snap-type: mandatory;
  	scroll-snap-points-y: repeat(300px);
	scroll-snap-type: y mandatory;

	> section {
		overflow: hidden;
		width: inherit;
		height: inherit;
		padding: $section-padding;
		background-color: $blue;
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		scroll-snap-align: start;

		@include flexbox;
		@include justify-content(center);
		@include align-items(center);

		> blockquote {
			max-width: $default-width / 2.5;
		}
	}

	// MEDIA QUERIES

	@media screen and (max-height: $screen-height-small) {
		width: $main-width-small;
		height: $main-height-small;
		margin: $space-base 0;

		> section {
			padding: $section-padding-small;
		}
	}
}