@use "../variables";

// DUAL COLUMN COMPONENT

.dual-column {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: flex-start;
    gap: var(--space-extra) !important;

    article {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-extra);
 
        > div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--space-extra);

            aside {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
}
