// DUAL COLUMN COMPONENT

.dual-column {
	display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: $space-extra;

    article {
        a:first-of-type {
            width: 100%;
            height: auto;

            picture, 
            video {
                margin: 0;
                width: inherit;
                height: inherit;

                img {
                    width: inherit;
                    height: inherit;
                }
            }
        }

        hgroup {
            margin-top: $space-extra;

            h3 {
                margin-bottom: $space-large;
            }

            h4 {
                margin-bottom: $space-extra;
            }

            ~ p {
                margin-bottom: $space-large;
                font-size: 1rem;

                + a {
                    margin-top: $space-large;
                }
            }
        }

        > div > div {
            h3 {
                margin-top: $space-extra;
            }

            p {
                font-size: 1rem;
            }

            &:last-of-type {
                h4, p {
                    display: none;
                }

                a {
                    width: auto;
                    margin-top: $space-extra;
                }
            }
        }
    }
}