footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $space-extra;
    margin: 96px 0;

    section {
        margin: 0;

        p {
            &:last-of-type {
                margin-bottom: $space-extra;
            }

            .highlight {
                margin: -2px 0;
                padding: 2px $space-tiny;
                background: var(--main-bg-transparency);
                font-weight: inherit;
            }
        }
    }

    .icon {
        justify-self: flex-end;
        align-self: flex-end;
    }
}   