@use "../variables";

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--space-extra);
    margin: var(--section-margin) 0;

    section {
        margin: 0;
        align-items: flex-start;

        p {
            &:last-of-type {
                margin-bottom: var(--space-extra);
            }

            .highlight {
                margin: -2px 0;
                padding: 2px var(--space-tiny);
                background: var(--main-bg-transparency);
                font-weight: inherit;
                cursor: help;
            }
        }
    }

    .icon {
        justify-self: flex-end;
        align-self: flex-end;
    }

    // MEDIA QUERIES
    @media only screen and (max-device-width: 799px) {
        grid-template-columns: auto;
        column-gap: 0;
        margin-bottom: 0;

        section {
            margin: 0;
        }

        .icon {
            justify-self: flex-start;

            svg {
                width: 50px;
                height: auto;
            }
        }
    }
}
