@use "../variables";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        scroll-margin: var(--space-jumbo);
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        a {
            padding: var(--space-base);
            font-weight: var(--bold);
            text-decoration: none;
            transition: all var(--speed-default) ease;

            &::after {
                content: "↓";
                margin-left: var(--space-small);
                opacity: 0;
            }

            &:hover:not(:active),
            &:focus {
                background: var(--main-bg-transparency);

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .mobile-only {
        display: none;
    }
}