@use "../mixins/flexbox";
@use "../variables";

header {
    @include flexbox.flexbox();
    @include flexbox.justify-content(space-between);
    @include flexbox.align-items(center);

    .logo {
        scroll-margin: variables.$space-jumbo;
    }

    nav {
        @include flexbox.flexbox();
        @include flexbox.flex-direction(row);
        @include flexbox.justify-content(center);
        @include flexbox.align-items(flex-start);

        a {
            padding: variables.$space-base;
            font-weight: variables.$bold;
            text-decoration: none;
            transition: all variables.$speed-default ease;

            &::after {
                content: "↓";
                margin-left: variables.$space-small;
                opacity: 0;
            }

            &:hover:not(:active),
            &:focus {
                background: var(--main-bg-transparency);

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    .mobile-only {
        display: none;
    }
}