@use "../variables";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        scroll-margin: var(--space-jumbo);
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        a {
            padding: var(--space-base);
            font-weight: var(--bold);
            text-decoration: none;
            transition: all var(--speed-default) ease;

            &.arrow-down {
                &::after {
                    content: "↓";
                    margin-left: var(--space-small);
                    opacity: 0;
                }

                &:hover:not(:active),
                &:focus {
                    background: var(--main-bg-transparency);

                    &::after {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .mobile-only {
        display: none;
    }

    // MEDIA QUERIES
    @media only screen and (max-device-width: 799px) {
        .logo {
            width: 65px;
            height: auto;
        }

        nav {
            display: none;
        }

        section {
            grid-template-columns: auto;
            column-gap: initial;
            margin: var(--space-extra) 0;
            margin-top: var(--space-jumbo);

            .name {
                &::after {
                    padding: var(--space-tiny);
                    border-width: 1px;
                    font-size: 0.3em;
                    transform: translate(0, 0.3em);
                }
            }
        }
    }
}
