// REDUCED MOTION

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

// MOBILE DEVICES

@media only screen
and (min-device-width: 375px)
and (max-device-width: 799px) {
	body {
		overflow: auto;
		touch-action: pan-y;
		-ms-touch-action: pan-y;

		@include flex-direction(column);

		> header {
			width: 100vw;
			height: auto;
			padding-bottom: 0;

			@include order(1);

			.logo,
			nav {
				display: none;
			}

			.social {
				@include flex-direction(row);

				a {
					margin: 0;
					margin-right: $space-small;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		> main {
			overflow: auto;
			width: 100vw;
			height: auto;
			min-height: 100vh;
			margin: 0;

			@include order(0);

			> section {
				width: 100vw;
				height: auto;
				min-height: 100vh;
				padding: ($section-padding-small + $btn-height) $section-padding-small;
			}
		}

		> footer {
			width: 100vw;
			height: auto;

			@include flex-direction(row);
			@include flex-wrap(wrap);
			@include justify-content(center);
			@include order(2);

			hgroup {
				display: block;
				text-align: center;
				writing-mode: initial;

				@include transform(rotate(0deg));

				h6 {
					margin: 0;

					&:last-child {
						width: 100%;
					}

					span {
						margin-left: 0;
						@include transform(rotate(0deg));
					}
				}
			}
		}

		// SCROLL BUTTONS

		button {
			&.scroll {
				display: none;
			}
		}

		// HOME

		#home {
			background-image: url($path-images + 'bg-mom-mobile.webp');

			h1 {
				max-width: 100%;
				font-size: 1.6em;
			}
		}

		// ABOUT

		#about {
			background-image: url($path-images + 'bg-brownie-mobile.webp');

			.card {
				margin: 0;
				margin-top: $space-extra;
				padding-top: $card-space-small + ($avatar-size-small / 2);

				h2{
					display: none;
				}

				.timeline {
					margin-bottom: 0;

					.event {
						width: $timeline-event-size * 1.2;
						height: $timeline-event-size * 1.2;
					}
				}

				.grid {
					display: none;
				}
			}

			blockquote {
				display: none;
			}
		}

		// WORK

		#work {
			.wrapper {
				height: auto;

				&:not(:first-of-type) {
					display: none;
				}

				.item {
					width: 100vw;
					height: calc(100vh / 3);
				}
			}
		}

		// CONTACT

		#contact {
			background-image: url($path-images + 'bg-phone-mobile.webp');

			.card {
				margin: 0;

				.input {
					margin-bottom: $space-base;
				}
			}

			blockquote {
				display: none;
			}
		}

		// MODAL

		.modal {
			.container {
				width: 100vw;
				margin: 0;
				padding: $space-large;

				article {
					padding: $space-large;

					#work-content {
						aside {
							display: none;
						}

						header,
						p {
							width: 100%;
							margin-right: 0;
						}

						p {
							+ figure,
							+ img,
							+ video,
							+ .vimeo {
								margin-top: $space-base;
							}
						}

						hr {
							margin-top: $space-base;
						}

						img,
						figure,
						video,
						.vimeo {
							margin-top: $space-base;

							&:last-child {
								margin-top: 0;
							}
						}

						figure {
							figcaption {
								display: none;
							}
						}

						.grid {
							&:nth-of-type(2),
							&:nth-of-type(4),
							&:nth-of-type(6) {
								@include flex-direction(column-reverse);
							}
						}
					}
				}
			}

			~ #close-modal {
				top: $space-extra;
				right: 0;
				left: auto;

				@include transform(translate(0, 0));
			}
		}
	}

	// NO WEBP SUPPORT

	.no-webp {
		#home { background-image: url($path-images + 'bg-mom-mobile.jpg'); }
		#about { background-image: url($path-images + 'bg-brownie-mobile.jpg'); }
		#contavt { background-image: url($path-images + 'bg-phone-mobile.jpg'); }
	}
}