// REDUCED MOTION

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

// SMARPHONE TEMP FIX

@media only screen
and (min-device-width: 375px)
and (max-device-width: 799px) {
	body {
		overflow: auto;
		min-height: 100vh;
		padding: $space-extra;
		color: white;
		background-image: url($path-images + 'bg-mom-mobile.jpg');
		background-color: $blue;
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		text-align: center;

		@include flexbox();
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);

		&::before,
		&::after {
			content: '';
			max-width: 100%;
		}

		&::before {
			width: 300px;
			height: 300px;
			margin-bottom: $space-extra;
			background-image: url($path-images + 'logo.png');
			background-size: cover;
			background-repeat: no-repeat;
		}

		&::after {
			content: "Mobile version coming soon... please visit on a laptop or tablet";
			font-size: 2em;
			text-transform: uppercase;
			text-shadow: $text-shadow;
			line-height: 1.2em;
		}

		> * {
			display: none !important;
		}
	}
}