@use "../variables";

a {
	color: var(--main-text-color);
	font-weight: var(--bold);
	text-underline-offset: .15em;

	&:hover:not(:active),
	&:focus {
		color: var(--main-text-color);
	}

    &:focus {
        @extend .focus !optional;
    }

	&.arrow-right {
		&::after {
			content: '\00a0\00a0→';
		}
	}

	&.arrow-left {
		&::before {
			content: '←\00a0\00a0';
		}
	}
}