.avatar {
    z-index: var(--z-index-back-to-top);
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 150px;
    height: auto;
    aspect-ratio: 1 / 1;
    margin-right: var(--space-small);
    padding: var(--space-base);
    background: var(--main-bg-transparency);
    border-radius: var(--border-radius-card);
    mix-blend-mode: multiply;
    cursor: pointer;

    picture {
        position: absolute;
        width: calc(150px - (var(--space-base) * 2));
        height: auto;
        aspect-ratio: 1 / 1;
        mix-blend-mode: darken;
        transition: opacity var(--speed-slow) ease;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            border-radius: 50%;
            transition: opacity var(--speed-slow) ease;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            opacity: 0;
        }
    }
}
