.avatar {
    position: relative;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 150px;
    height: auto;
    aspect-ratio: 1 / 1;
    margin-right: var(--space-small);
    padding: var(--space-base);
    background: var(--main-bg-transparency);
    border-radius: var(--border-radius-card);
    mix-blend-mode: multiply;
    cursor: pointer;
    z-index: var(--z-index-back-to-top);

    picture {
        position: absolute;
        width: calc(150px - (var(--space-base) * 2));
        height: auto;
        aspect-ratio: 1 / 1;
        mix-blend-mode: darken;
        transition: opacity var(--speed-slow) ease;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
            border-radius: 50%;
            transition: opacity var(--speed-slow) ease;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            opacity: 0;
        }
    }

    // MEDIA QUERIES
    @media only screen and (max-device-width: 1200px) {
        width: 100px;

        picture {
            width: calc(100px - (var(--space-base) * 2));
        }
    }

    @media only screen and (max-device-width: 799px) {
        width: 72px;
        padding: var(--space-small);

        picture {
            width: calc(72px - (var(--space-small) * 2));
        }
    }

    @media only screen and (max-device-width: 580px) {
        width: 55px;
        margin-right: var(--space-tiny);
        padding: var(--space-small);

        picture {
            width: calc(55px - (var(--space-small) * 2));
        }
    }

    @media only screen and (max-device-width: 410px) {
        width: 40px;
        padding: var(--space-tiny);

        picture {
            width: calc(40px - (var(--space-tiny) * 2));
        }
    }
}
