@use "../mixins/mixins";
@use "../variables";

.back-to-top {
    position: fixed;
    right: variables.$space-extra;
    bottom: variables.$space-extra;
    width: variables.$back-to-top-size;
    height: variables.$back-to-top-size;
    margin: 0;
    color: var(--main-bg-color);
    background: var(--main-text-color);
    border: 2px solid transparent;
    border-radius: variables.$back-to-top-size * 0.5;
    font-size: 24px;
    text-decoration: none;
    user-select: none;
    transition: all variables.$speed-default ease;
    opacity: 0;
    pointer-events: none;

    &::after {
        content: '↑';
        position: absolute;
        top: 50%;
        left: 50%;
        color: inherit;

        @include mixins.transform(translate(-50%, -50%));
    }

    &:hover:not(:active) {
        color: var(--main-text-color);
        background: var(--main-bg-color);
        border-color: var(--main-text-color);
    }

    &.is-visible {
        opacity: 1;
        pointer-events: all;
    }
}