button,
.btn {
    display: inline-block;
    margin: 0;
    margin-right: $space-base;
    margin-bottom: $space-base;
    padding: $space-base;
    background: none;
    border: 2px solid var(--main-text-color);
    font-family: inherit;
    font-weight: $bold;
    letter-spacing: normal;
    text-decoration: none;
    user-select: none;
    transition: all $speed-default ease;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &:hover:not(:active) {
        background: var(--main-text-color);
        color: var(--main-bg-color);
    }

    &.secondary {
        background: var(--main-bg-transparency);
        border: none;
    }
}