button {
    z-index: 0;
    position: relative;
    overflow: hidden;
    display: inline-block;
    height: $btn-height;
    margin-right: $space-small;
    padding: $space-base ($space-base + $space-tiny);
    color: $blue;
    background: $yellow;
    box-shadow: $default-box-shadow;
    border: 0;
    outline: 0;
    font-family: $body-font;
    font-size: 1.1em; // 20px
    text-transform: uppercase;
    // Fix for text align
    line-height: 1.5em;
    transition: all $speed-default ease;
    cursor: pointer;

    &::before {
        content: '';
        // Fix so that the text content can show
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $blue;
        transition: transform $speed-default ease;

        @include transform(translate(101%, 0));
    }

    &:hover {
        color: $yellow;

        &::before {
            @include transform(translate(0, 0));
        }
    }

    &:active {
        color: $blue;

        &::before {
            background: $yellow;
        }
    }

    svg {
        // Fix for text align
        margin-top: -($text-fix * 2);
        margin-right: $space-small;
        vertical-align: middle;
        pointer-events: none;

        @include transform(scale(1.1));
    }

    &.has-focus {
        outline: $space-tiny solid $blue;
    }

    // HIDING CLASS

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }

    // SCROLL BUTTONS

    &.scroll {
        z-index: $scroll-btn-index;
        position: fixed;
        width: $btn-height;
        padding: 0;

        svg {
            margin: 0;
        }

        &.up,
        &.down,
        &.top {
            left: 50%;
        }

        &.up {
            top: 0;

            &::before {
                @include transform(translate(0, 101%));
            }

            &:hover::before {
                @include transform(translate(0, 0));
            }
        }

        &.down {
            bottom: 0;

            &::before {
                @include transform(translate(0, -101%));
            }

            &:hover::before {
                @include transform(translate(0, 0));
            }

            svg {
                @include transform(rotate(180deg));
            }
        }

        // BACK TO TOP

        &.top {
            bottom: 0;
        }

        // USED WITHIN THE WORK SECTION

        &.left,
        &.right {
            position: fixed;
            top: 50%;

            @include transform(translate(0, -50%));
        }

        &.left {
            left: $header-width - ($btn-height / 2);

            svg {
                @include transform(rotate(180deg));
            }
        }

        &.right {
            right: $footer-width - ($btn-height / 2);
            left: auto;

            &::before {
                @include transform(translate(-101%, 0));
            }

            &:hover::before {
                @include transform(translate(0, 0));
            }
        }
    }

    // INVERTED BUTTONS FOR YELLOW SECTIONS

    &.blue {
        color: $yellow;
        background: $blue;

        &:hover {
            color: $blue;

            &::before {
                background: $yellow;

                @include transform(translate(101%, 0));
            }
        }

        &:active {
            color: $yellow;

            &::before {
                background: $blue;

                @include transform(translate(0, 0));
            }
        }

        &.has-focus {
            outline-color: $yellow;
        }
    }

    // MEDIA QUERIES

	@media (max-height: $screen-height-average) {
        height: $btn-height-average;

        svg {
            @include transform(scale(.9));
        }

        &.scroll {
            width: $btn-height-average;

            &.left {
                left: $header-width - ($btn-height-average / 2);
            }

            &.right {
                right: $footer-width - ($btn-height-average / 2);
            }
        }
    }

    @media (max-height: $screen-height-small) {
        height: $btn-height-small;
        padding: $space-small ($space-small + $space-tiny);
        // Fix for text align
        padding-bottom: $space-small - $text-fix;

        svg {
            margin-right: $space-tiny;

            @include transform(scale(.8));
        }

        &.scroll {
            width: $btn-height-small;

            &.left {
                left: $header-width-small - ($btn-height-small / 2);
            }

            &.right {
                right: $footer-width-small - ($btn-height-small / 2);
            }
        }
    }
}
