.card {
    width: $card-width;
    margin: $card-space;
    padding: $card-space;
    color: $black;
    background: $white;

    h1 {
        margin-bottom: $space-large;
    }

    mark {
        color: $blue;
        background: $yellow;
        font-weight: $regular;
    }

    .input {
        max-width: 100%;
    }

    // MEDIA QUERIES

    @media (max-width: $screen-width-average) {
		width: $card-width-average;
	}

    @media (max-width: $screen-height-average) {
		padding: $card-space-small;
	}

	@media (max-height: $screen-height-small) {
        width: $card-width-small;

        h1 {
            margin-bottom: $space-base + $space-tiny;
        }
    }
}