@use "../variables";

.cursor {
    z-index: var(--z-index-tooltip);
    position: absolute;
    top: -100vh;
    left: -100vw;
    width: var(--cursor-size);
    height: var(--cursor-size);
    border-radius: calc(var(--cursor-size) * 0.5);
    backdrop-filter: invert(1) grayscale(1);
    transform: translate(-50%, -50%);
    transition: all var(--speed-slow) cubic-bezier(0.5, 1, 0.89, 1);
    pointer-events: none;

    @media (hover: none) {
        display: none;
    }
}