.input {
    position: relative;
    width: 100%;
    margin-bottom: $space-large;

    &:last-of-type {
        margin-bottom: $space-extra;
    }

    label {
        position: absolute;
        top: ($input-height / 2);
        left: $input-padding;
        margin: 0;
        color: var(--main-text-color);
        font-size: .65rem;
        font-weight: $bold;
        text-transform: uppercase;
        line-height: 1em;
        pointer-events: none;
        transition: all $speed-default ease;

        @include transform(translate(0, -50%));
    }

    input,
    textarea {
        width: 100%;
        height: $input-height;
        padding: $input-padding;
        padding-bottom: $space-base;
        background-color: var(--main-input-transparency);
        background-image: none;
        background-position-x: 150%;
        border: 1px solid transparent;
        font-family: 'Inter', Helvetica, Arial, sans-serif;
        font-size: 1rem;
        font-weight: $medium;
        transition: background $speed-default ease;

        &:hover {
            border-color: var(--main-text-color);
        }
    
        &:active,
        &:focus {
            border-width: 2px;
            border-color: var(--main-text-color);

            // LABEL CHANGES ON INPUT FOCUS

            ~ label {
                top: $input-padding + 2px;
                left: $input-padding + 2px;
                font-size: .5rem;
            }
        }

        &:-webkit-autofill {
            transition: background-color 10000s ease-in-out 0s;
        }

         &.has-value {
            ~ label {
                top: $input-padding + 2px;
                left: $input-padding + 2px;
                font-size: 0.5em;
            }
            
            &:hover ~ label,
            &:active ~ label,
            &:focus ~ label {
                top: $input-padding + 2px;
                left: $input-padding + 2px;
                font-size: 0.5em;
            }
        }
            
    }

    textarea {
        height: $input-height * 3;
        padding: $input-padding;
        padding-top: $input-padding + $space-small;
        resize: vertical;
    }
}