.loading {
    width: $loading-width;
    height: $loading-width;
    transition: opacity $speed-default ease;

    &::before {
        content: '';
        display: inline-block;
        width: $loading-width;
        height: $loading-width;
        background-image: url($path-images + 'pencil.svg');
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 1;
        visibility: visible;

        @include animation(anim-loading $speed-loading infinite ease);

        @include keyframes(anim-loading) {
            0% {
                @include transform(rotate(0deg));
            }
            100% {
                @include transform(rotate(360deg));
            }
        }
    }

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
    }
}