.modal {
    // DARK MODE

    &.dark-mode {
        background: rgba($body-bg-dark, .95);

        .container {
            background-color: $body-bg-dark;
            background-image: url($path-images + 'pattern-white-faded-2.webp');

            article {
                color: $white;
                background: $body-bg-dark;

                aside {
                    h6 > a {
                        color: $white;

                        &:hover {
                            background: $blue;
                        }
                    }
                }

                h6 {
                    color: $white;

                     a {
                        color: $white;

                        &:hover {
                            background: $blue;
                        }
                    }
                }

                a, em {
                    // Blue looks darker on blacks
                    color: tint($blue, 15%);
                }
            }
        }
    }

    // ERICSSON

    &.ericsson {
        .container {
            background-color: #000000;

            article {
                background-color: inherit;
            }
        }
    }

    // GOLD

    &.gold {
        .container {
            article {
                aside {
                    a {
                        color: $gold;

                        &:hover {
                            color: $white;
                            background: $gold;
                        }
                    }
                }

                h1, h2, h3, h4, h5, em {
                    color: $gold;
                }

                h3::after {
                    background: $gold;
                }

                a {
                    color: $gold;

                    &:hover {
                        color: $white;
                        background: $gold;
                    }
                }

                figure {
                    figcaption {
                        color: $black;
                        background: $gold;
                    }
                }
            }
        }

        button,
        ~ #close-modal {
            color: $black;
            background: $gold;

            &::before {
                background: $black;
            }

            &:hover {
                color: $gold;
            }
        }
    }

    // ALIEN

    &.alien {
        .container {
            article {
                h1, h2, h3, h4, h5, em {
                    color: $alien-color;
                }

                h1 {
                    text-shadow: 0 0 $space-base rgba($alien-color, .5);
                }

                h3::after {
                    background: $alien-color;
                }

                a {
                    color: $alien-color;

                    &:hover {
                        color: $white;
                        background: $alien-color;
                    }
                }

                figure {
                    figcaption {
                        color: $black;
                        background: $alien-color;
                    }
                }
            }
        }

        article > button,
        ~ #close-modal {
            color: #000000;
            background: $alien-color;

            &::before {
                background: $black;
            }

            &:hover {
                color: $alien-color;
            }

            &.has-focus {
                outline-color: transparent;
                box-shadow: 0 0 $space-base $space-tiny rgba($alien-color, .8);
            }
        }
    }

    // MANA

    &.mana {
        .container {
            background-color: #000000;

            article {
                background-color: inherit;

                h1, h2, h3, h4, h5, em {
                    color: $mana-color;
                }

                h3::after {
                    background: $mana-color;
                }

                a {
                    color: $mana-color;

                    &:hover {
                        color: $white;
                        background: $mana-color;
                    }
                }
            }
        }

        article > button,
        ~ #close-modal {
            color: $white;
            background: $mana-color;

            &::before {
                background: $white;
            }

            &:hover {
                color: $mana-color;
            }

            &.has-focus {
                outline-color: $white;
            }
        }
    }

    // TRIOPTIMA

    &.trioptima {
        .container {
            article {
                h1, h2, h3, h4, h5, em {
                    color: $trids-color;
                }

                h3::after {
                    background: $trids-color;
                }

                a {
                    color: $trids-color;

                    &:hover {
                        color: $white;
                        background: $trids-color;
                    }
                }

                figure {
                    figcaption {
                        color: $trids-color;
                    }
                }
            }
        }
    }
}

// NO WEBP SUPPORT

.no-webp .modal {
    &.dark-mode {
        .container {
            background-image: url($path-images + 'pattern-white-faded-2.png');
        }
    }
}
