.modal {
    z-index: $modal-index;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	overflow-y: auto;
    width: 100vw;
    height: 100vh;
    background: rgba($white, .8);
    visibility: hidden;
    opacity: 0;
    transition: transform $speed-slow ease;
    will-change: transform;
    cursor: pointer;

    @include transform(translate(100%, 0));

    // MODAL CLOSE BUTTON

    ~ #close-modal {
        z-index: $modal-index + 1;
        position: fixed;
        top: $space-modal * 2;
        left: $header-width * 2;
        width: $btn-height;
        padding: 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity $speed-slow $speed-slow ease;

        @include transform(translate(-50%, 0));

        svg {
            margin: 0;
        }
    }

    .container {
        width: calc(100% - (#{$header-width} * 2) - #{$footer-width});
        min-height: 100vh;
        margin-right: $footer-width;
        margin-left: $header-width * 2;
        padding: $space-modal;
        background-color: $white;
        background-image: url($path-images + 'pattern-blue-faded.png');
        transition: transform $speed-slow ease;
        cursor: default;

        article {
            position: relative;
            padding: $space-modal;
            padding-right: $space-modal;
            max-width: $max-article-width;
            min-height: calc(100vh - (#{$space-modal} * 2));
            background: $white;

            @include flexbox();
            @include flex-wrap(wrap);
            @include align-content(flex-start);
            @include align-items(flex-start);
            @include justify-content(flex-start);

            aside {
                position: absolute;
                top: 0;
                right: 0;
                width: $modal-aside-width;
                padding: $space-modal;
                letter-spacing: $letter-spacing;
                writing-mode: vertical-lr;

                @include transform(rotate(180deg));

                h5 {
                    margin-top: $space-base;
                }

                h6 {
                    margin-top: $space-tiny;
                }
            }

            header {
                width: calc(100% - #{$modal-aside-width});
                margin-right: $modal-aside-width;
                margin-bottom: $space-extra;

                h1 {
                    font-size: 2.6em; // 48px
                    margin-bottom: $space-base;
                }

                h3 {
                    display: inline-block;
                    width: auto;
                    margin-bottom: $space-base;
                    color: $blue;
                    font-weight: $regular;

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        margin-top: $space-small;
                        background: $blue;
                    }
                }

                h5 {
                    margin-right: $space-tiny;
                    letter-spacing: $letter-spacing;
                }

                h6 {
                    margin-right: $space-base;
                    line-height: 1.2em;
                    letter-spacing: $letter-spacing;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                hgroup {
                    margin-bottom: $space-base;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            h2, h3 {
                width: 100%;
                color: $blue;
                margin: $space-large 0;

                &:first-child {
                    margin-top: 0;
                }
            }

            h3 {
                font-size: 1.2em;
                font-weight: $bold;
            }

            p {
                width: calc(100% - #{$modal-aside-width});
                max-width: $max-text-width;
                margin-right: $modal-aside-width;
                line-height: 1.4em;

                + figure,
                + img,
                + .vimeo {
                    margin-top: $space-large;
                }
            }

            mark {
                color: $blue;
                background: $yellow;
            }

            img,
            figure,
            video,
            .vimeo {
                position: relative;
                max-width: 100%;
                height: auto;
                margin: 0;
                margin-bottom: $space-large;
                color: $gray-mid;
                font-size: .9em;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            figure {
                width: 100%;

                @include flexbox();
                @include justify-content(center);

                figcaption {
                    position: absolute;
                    top: $space-large;
                    right: -$space-base;
                    padding: $space-tiny $space-small;
                    // Fix for vertical alignment
                    padding-bottom: $space-tiny - $text-fix;
                    color: $blue;
                    background: $yellow;
                    font-size: .8em;
                    text-transform: uppercase;

                    // BOTTOM POSITIONED

                    &.bottom {
                        top: auto;
                        bottom: $space-large;
                    }
                }

                // FIGCAPTION ON A VIMEO VIDEO

                .vimeo {
                    ~ figcaption {
                        top: auto;
                        bottom: 80px;
                    }
                }
            }

            // VIMEO VIDEO WRAPPER

            .vimeo {
                position: relative;
                display: block;
                width: 100%;
                padding: 56.25% 0 0 0;
            }

            // LOADING CLASS

            &.is-loading {
                @include justify-content(center);
                @include align-content(center);

                &::before {
                    content: '';
                    width: $loading-width;
                    height: $loading-width;
                    color: $blue;
                    background-image: url($path-images + 'pencil.svg');
                    background-repeat: no-repeat;
                    background-size: contain;

                    @include align-self(center);

                    @include animation(anim-loading $speed-loading infinite ease);

                    @include keyframes(anim-loading) {
                        0% {
                            @include transform(rotate(0deg));
                        }
                        100% {
                            @include transform(rotate(360deg));
                        }
                    }
                }

                &.is-fading::before {
                    @include animation(anim-loading-fade $speed-default 1 ease forwards);

                    @include keyframes(anim-loading-fade) {
                        0% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }

    // MODAL OPENING CLASS

    &.is-open {
        visibility: visible;
        opacity: 1;

        @include transform(translate(0, 0));

        ~ #close-modal {
            visibility: visible;
            opacity: 1;
        }
    }

    // MEDIA QUERIES

	@media screen and (max-height: $screen-height-average) {
        ~ #close-modal {
            left: $header-width;
            width: $btn-height-average;
        }

        .container {
            width: calc(100% - #{$header-width} - #{$footer-width});
            margin-left: $header-width;
        }
    }

    @media screen and (max-height: $screen-height-small) {
        ~ #close-modal {
            left: $header-width-small;
            width: $btn-height-small;
        }

        .container {
            width: calc(100% - #{$header-width-small} - #{$footer-width-small});
            margin-right: $footer-width-small;
            margin-left: $header-width-small;
        }
    }
}

// IMPORT THE DIFFERENT COLOR THEMES

@import 'modal-themes';
