.name {
    position: relative;
    cursor: pointer;

    &::after {
        content: 'Hear' / '';
        position: absolute;
        top: 0;
        display: inline-block;
        margin-left: $space-tiny;
        padding: $space-tiny;
        // Fix for vertical alignment
        padding-bottom: 2px;
        color: $blue;
        background: $yellow;
        box-shadow: $text-shadow;
        text-shadow: none;
        font-size: .3em;
        line-height: 1em;
    }
}