.name {
    cursor: pointer;

    &::after {
        content: 'Hear' / '';
        display: inline-block;
        margin-left: $space-tiny;
        padding: $space-tiny;
        // Fix for vertical alignment
        padding-bottom: 2px;
        text-shadow: none;
        font-size: .3em;
        line-height: 1em;
    }
}