.name {
    position: relative;
    cursor: pointer;

    &::after {
        content: '←\00a0\00a0Hear';
        position: absolute;
        margin-left: $space-small;
        padding: $space-small;
        border: 2px solid var(--main-text-color);
        font-weight: $bold;
        font-size: .2em;
        line-height: 1em;
        transition: all $speed-default ease;
        user-select: none;
        transform: translate(0, .5em);
    }

    &:hover {
        &::after {
            color: var(--main-bg-color);
            background: var(--main-text-color);
        }
    }
}