@use "../variables";

.pill {
    display: block;
    margin-right: var(--space-small);
    margin-bottom: var(--space-small);
    padding: var(--space-small) var(--space-base);
    background: var(--main-bg-transparency);
    border-radius: 100vw;
    font-size: var(--body-font-size);
    font-weight: var(--regular);
    backdrop-filter: blur(16px);
    
    &:last-of-type {
        margin-right: 0;
    }

    &.black {
        background: var(--main-text-color);
        color: var(--main-bg-color);
    }

    &:is(a) {
        text-decoration: none;
    }

    // MEDIA QUERIES
    @media only screen and (max-device-width: 580px) {
        font-size: 0.8rem;
    }
}