@use "../mixins/mixins";
@use "../variables";

.tooltip {
    z-index: var(--z-index-tooltip);
    position: absolute;
    max-width: calc(var(--space-jumbo) * 3);
    padding: var(--space-base) calc(var(--space-base) + var(--space-tiny));
    color: var(--main-bg-color);
    background: var(--main-text-color);
    font-size: 1em;
    font-weight: var(--medium);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
        opacity var(--speed-default) ease,
        transform var(--speed-default) ease;

    @include mixins.transform(translate(0, 100%));

    &::after {
        content: '';
        z-index: calc(var(--z-index-tooltip) - 1);
        position: absolute;
        top: auto;
        right: auto;
        bottom: 1px;
        left: 50%;
        width: var(--tooltip-caret-width);
        height: var(--tooltip-caret-width);
        background: inherit;
        font-size: 1rem;
        user-select: none;

        @include mixins.transform(translate(-50%, 50%) rotate(45deg));
    }

    &.is-visible {
        opacity: 1;
        visibility: visible;

        @include mixins.transform(translate(0, 0));
    }
}