.tooltip {
    z-index: $z-index-tooltip;
    position: absolute;
    max-width: $default-width / 3;
    padding: $space-small $space-base;
    color: $blue;
    background: $yellow;
    font-size: 0.9em; // 16px
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    box-shadow: $default-box-shadow;
    transition:
        opacity $speed-default ease,
        transform $speed-default ease;

    @include transform(translate(0, 100%));

    &::after {
        content: '';
        z-index: $z-index-tooltip - 1;
        position: absolute;
        top: auto;
        right: auto;
        bottom: 1px;
        left: 50%;
        width: $tooltip-caret-width;
        height: $tooltip-caret-width;
        background: inherit;
        font-size: 1rem;
        user-select: none;
        box-shadow:
            1px 1px 1px 0 rgba($black, .2),
            1px 2px 4px 0 rgba($black, .1);

        @include transform(translate(-50%, 50%) rotate(45deg));
    }

    // BLUE TOOLTIP

    &.blue {
        color: $yellow;
        background: $blue;

        &::after {
            background: $blue;
        }
    }

    &.is-visible {
        opacity: 1;
        visibility: visible;

        @include transform(translate(0, 0));
    }
}