.hero {
	width: 100vw;
	height: 100vh;
	color: white;
	background: url(../images/mom.jpg) no-repeat center;
	background-size: cover;

	.logo {
	    width: 320px;
	    height: 320px;
	    margin-bottom: 36px;
	    background: url(../images/logo_@2X.png) no-repeat center;
	    background-size: contain;
	}

	h1 {
		max-width: 500px;
		text-transform: uppercase;
		text-align: center;

		@include text-shadow(2px, 2px, 0, rgba(0,0,0,0.5));
	}
}
