<!DOCTYPE html>
<html lang="en">

<head>
    <title>menosketiago™ — Salary transparency</title>

	{{> head}}
</head>

<body>
	<div class="wrapper">
		<header class="work-header">
			{{> layout/pages-header}}
		</header>

		<main class="standalone-page salary">
            <section>
                <div>
                    <h1>Salary</h1>

                    <p>
                        I've talked about money with my colleagues, mentees, and friends for years. Knowing how much people get paid is one of the missing steps to fixing gender-based income inequality (you can also replace gender with race and country of origin).
                    </p>

                    <p>
                        Last week, <b>Dan Mall</b> blew my mind with his <a href="https://danmall.com/salary-income" target="_blank" rel="noopener">public salary and income page</a>, and just like he borrowed the idea from <b><a href="https://matthewsmith.website/salary" target="_blank" rel="noopener">Matthew Smith</a></b>, I also decided to "steal like an artist".
                    </p>

                    <p>
                        A little bit of extra context. 
                    </p>

                    <p>
                        I skipped over the first few years as a professional working in <b>Portugal</b>. Like many other Portuguese millennials that started their careers around the <b><time>2008</time> crisis</b>, I spent many years working as a "fake freelancer".
                    </p>

                    <p>
                        That means that even though I had a boss and hierarchy, workplace, and working hours like any employee, I was being paid like a service provider and had to pay all taxes and social security (while illegal, this was very common among young people).
                    </p>

                    <p>
                        In <time>2014</time>, I moved to <b>Sweden</b>, where my career took off (or started to happen, depending on how you look at it). So all numbers from then on are shown in Swedish Krona (SEK).
                    </p>

                    <p>
                        Sweden is quite transparent when it comes to income. All Swedish residents and organizations can request yearly financial data on anyone living here (for AB companies, that info is fully public). The catch is that the person being checked will also know who requested the financial record.
                    </p>

                    <p>
                        But let's be honest, asking for a check to figure out your colleague's salary would be rude (and might lead to incorrect conclusions as salary is only one form of income).
                    </p>

                    <p>
                        Also, in most European countries, salaries are paid monthly. Just multiply my values by 12 to get yearly figures 🤓
                    </p>

                    <p>
                        One last note, you might know that I have a Product Design focused <a href="https://www.youtube.com/@menosketiago" target="_blank" rel="noopener">YouTube channel</a>, but I am very far from reaching the minimum subscribers and watch time to get ad money from it.
                    </p>
                    <p>
                        And so far, <a href="https://www.buymeacoffee.com/menosketiago" target="_blank" rel="noopener">Buy me a coffee</a> donations have reached a whopping 15$ (no shade, I love you my oat milk latte patrons).
                    </p>

                     <p>
                        All values displayed are income before taxes.
                    </p>
                </div>
            </section>

            <section>
                <h3>Freelancing and WannaPlayer —</h3>
                
                <article class="grid-1-4">
                    <time>2010 — 2014</time>

                    <div>
                        <h4>Graphic Designer — UI/UX Designer</h4>
                        <h5>€700/month on average</h5>

                        <p>
                            After a few years of unpaid internships and fake freelancing, I decided to skip the employers and become a real freelancer (just like Pinocchio became a real boy).
                        </p>

                        <p>
                            Being shy and lacking a good network meant a hard time finding clients that were both great to work with and paid well. But I managed to make ends meet, even though I never made more than €10 000 a year (if I had, the year after, I would also have to take out 25% VAT tax lowering from my income).
                        </p>

                        <p>
                            At <b>WannaPlayer</b>, as we were a bootstrapped startup, I worked for free for a few months until we secured a state-sponsored internship that, interestingly, landed me at around €700/month.
                        </p>
                    </div>
                </article>
            </section>

            <section>
                <h3>Goo Technologies —</h3>

                <article class="grid-1-4">
                    <time>2014 — 2015</time>

                    <div>
                        <h4>UI/UX Designer</h4>
                        <h5>24 000 SEK/month</h5>

                        <p>
                            My good friend <b>Hugo Campos</b> (with whom I worked at WannaPlayer) and I both joined this super exciting gaming adjacent startup, working on a WebGL engine and editor that allowed you to have games and other 3D experience running on any browser (very similar to <a href="https://spline.design/" target="_blank" rel="noopener">Spline</a>).
                        </p>

                        <p>
                            This salary meant a 3.4x increase from what I made back in Lisbon. In hindsight, it was a low salary by Swedish standards, but everyone there was trading money to work in something we all deeply believed in.
                        </p>

                        <p>
                            We even took a salary cut for almost a year to temporarily avoid layoffs and increase our runway while we tried to find product-market fit. Unfortunately, we ended up failing.
                        </p>
                    </div>
                </article>
            </section>

            <section>
                <h3>Ericsson —</h3>

                <article class="grid-1-4">
                    <time>2015 — 2017</time>

                    <div>
                        <h4>Senior Visual/Interaction Designer</h4>
                        <h5>32 500 SEK/month → 40 000 SEK/month</h5>
                        <h5>30 000 SEK bonus</h5>

                        <p>
                            I was recruited to be a full-time in-house consultant at Ericsson, one of the best know international Swedish brands (I even had a Sony Ericsson mobile one year prior).
                        </p>

                        <p>
                            It meant a decent salary jump but did not include paid time off, and the contract would end if the assignment concluded. I was employed by <b>SPLIT Stockholm</b>, but there was another agency in the middle called <b>Screen Interaction</b> (now <b>Daresay</b>). Between the two agencies, what Ericsson paid for me and what I got were two dismally different sums of money.
                        </p>

                        <p>
                            During my first assignment, I was found and poached by one of the main UX teams in the company. After learning that I was the only consultant without paid time off, Didier (my manager at Ericsson) required that my consultant contract be adjusted to include it.
                        </p>

                        <p>
                            Due to our team's performance and a lot of evangelism on the value of design, Ericsson decided to switch from consultants to hiring only full-time designers. As I was under a non-compete clause, I needed to start thinking of my next job.
                        </p>

                        <p>
                            To retain me until I finished my part on a mission-critical rebranding project (that led to the award-winning <a href="/work/ericsson.html" target="_blank" rel="noopener">Ericsson Design System</a>), I was offered a month's salary as a bonus.
                        </p>
                    </div>
                </article>
            </section>

            <section>
                <h3>TriOptima —</h3>

                <article class="grid-1-4">
                    <time>2017 — 2019</time>

                    <div>
                        <h4>Product Designer</h4>
                        <h5>52 000 SEK/month → 56 000 SEK/month</h5>
                        <h5>~85 000 SEK/yearly bonus</h5>

                        <p>
                            One of my consultant colleagues from Ericsson got word that I would be unemployed soon, so she referred me to her manager. Everything clicked, and I got a huge salary increase.
                        </p>

                        <p>
                            I spent two and a half years ensuring I worked to deserve the money. I implemented the <a href="/work/trioptima.html" target="_blank" rel="noopener">TriOptima Design System</a> both in Sketch and code, and even worked closely with the different product teams to create new features and improve the user experience for our customers.
                        </p>

                        <p>
                            By 2019, I started feeling frustrated with the pace of product development and the lack of career growth opportunities. So it was time to find something new.
                        </p>
                    </div>
                </article>
            </section>

            <section>
                <h3>MedPeople —</h3>

                <article class="grid-1-4">
                    <time>2019</time>

                    <div>
                        <h4>Product Designer</h4>
                        <h5>45 000 SEK/month</h5>

                        <p>
                            Did I mention I was feeling stuck career-wise?
                        </p>

                        <p>
                            I took a big pay cut under the impression that I was being hired to be the <b>Head of Design</b> at a startup with a really good mission, helping to address the staff shortage in Swedish healthcare. Soon I learned that my employers thought I was coming in to maybe, eventually, if I deserved it, become their design executive.
                        </p>

                        <p>
                            To this day, I don't know if I was gaslighted into cutting my salary by 11 000 SEK to do the same job in a different office with new people or if I misunderstood what they said during the interviews.
                        </p>

                        <p>
                            Here's what I do know. I was not ready to be a Design Leader and let my frustration and hubris get the best of me.
                        </p>

                        <p>Lesson learned 🤓</p>
                    </div>
                </article>
            </section>

            <section>
                <h3>Stravito —</h3>

                <article class="grid-1-4">
                    <time>2019</time>

                    <div>
                        <h4>Product Designer</h4>
                        <h5>45 000 SEK/month</h5>
                        <h5>Occupational pension and stock options</h5>

                        <p>
                            With my belly full of humble pie, I joined a great team of experienced individuals at Stravito.
                        </p>

                        <p>
                            Even with a cut salary, I worked my but off from day one. One week after starting, I got praised by the CEO during our town hall for helping to release the new website. During a hackathon, I prototyped a voice search feature that sales used to secure one of our largest customers.
                        </p>

                        <p>
                            Then <b>COVID-19</b> happened, and because in Sweden, the last employees hired needed to be the first out in a layoff, I was again between jobs (a local euphemism for being unemployed). And no, I did not get to keep any stock options I had already worked towards.
                        </p>
                    </div>
                </article>
            </section>

            <section>
                <h3>Mentimeter —</h3>

                <article class="grid-1-4">
                    <time>2020 — 2021</time>

                    <div>
                        <h4>Product Designer</h4>
                        <h5>48 000 SEK/month → 49 000 SEK/month</h5>
                        <h5>~49 000 SEK/year occupational pension</h5>

                        <p>
                            When interviewing for Mentimeter, I got assigned a Frontend Dev take-home assignment by mistake. I don't normally do them as I think they are spec-work and do not provide value in evaluating designers (there is no collaboration or stakeholder management, which, IMO are key to work performance).
                        </p>

                        <p>
                            But the assignment was to create a <b>React</b>-based modular component as part of a hypothetical Design System, and I felt like even if I did not get the job, I would spend a week improving my code chops. I wrapped the assignment, sent it in, and waited for the eventual thanks for doing it, but we are going forward with another candidate.
                        </p>
                        <p>
                            Instead, I got a video call scheduled from <b>Niklas</b>, one of the founders and then CPO. The dev team was impressed with my exercise but very confused with a Designer who could write code. I was offered a Frontend Dev role, but I refused in favor of remaining a Product Designer, even if I would make the occasional PR. 
                        </p>

                        <p>
                            At Menti, I was finally able to do some real User Research. I also continued my path to becoming a Figma master, creating the missing component library to complete the <b>Ragnar Design System</b>, allowing the design team to create mockups and prototypes quickly that could be tested with users, saving us development time when the ideas did not work as planned. I also made several product improvements that remain to this day while proudly wearing the nickname "CSS Fairy" on my sleeve.
                        </p>
                        <p>
                            Unfortunately, around my year anniversary, we hired a new Design leader that wasn't so happy with my work and influence in the company. After trying for months to fix our relationship, I sadly concluded that I would need to move on for the sake of my mental health.
                        </p>
                    </div>
                </article>
            </section>

            <section>
                <h3>Klarna —</h3>

                <article class="grid-1-4">
                    <time>2021 — 2022</time>

                    <div>
                        <h4>Senior Product Designer</h4>
                        <h5>55 238 SEK/month</h5>
                        <h5>Occupational pension and stock options</h5>

                        <p>
                            At Klarna, I almost managed to recover my 2019 salary level. I got an official <b>Senior Product Designer</b> title (contrary to what some say, the title matters more than we think) and got my first full-time <b>Design System</b> role.
                        </p>

                        <p>
                            It's also good to let you know that this was my 4th attempt at getting hired at Klarna (on the three previous ones, I did not even score a Talent Acquisition interview). And the process took two entire months of interviews, case study presentation, and take-home assignment.
                        </p>

                        <p>
                            Then the <b>tech layoffs of 2021/22</b> finally caught up with us after an 85% drop in Klarna's valuation.
                        </p>

                        <p>
                            I wasn't part of the layoff, but I did not like what I saw during the process, and soon the culture became very toxic as everyone was fighting to ensure they did not become the next to go. The last layoff we needed (according to the CEO) became the second last one, and so on.
                        </p>

                        <p>
                            By the end of summer 2022, I decided the resulting organization was at odds with my values and sense of ethics. I was burned out from trying to do my job while dealing with conflicting stakeholder agendas. It was a crazy year, but my team goals were fully achieved before my notice period came to an end 🤘
                        </p>
                </article>
            </section>

            <section>
                <h3>Transfer Galaxy —</h3>

                <article class="grid-1-4">
                    <time>2022 — 2023</time>

                    <div>
                        <h4>Senior Product Designer</h4>
                        <h5>60 000 SEK/month</h5>
                        <h5>Occupational pension</h5>

                        <p>
                            After two coffees with <a href="https://josephbertino.com/" target="_blank" rel="noopener">Joe Bertino</a> and an engaging interview with the CPO, <b>Wanda</b>, I accepted an offer to join Transfer Galaxy and work with <b>Design Ops</b>, improve the <b>Design System</b> and help manage/coach a junior Designer (as a start).
                        </p>

                        <p>
                            Like in 2017, I jumped in, willing and keen to prove I deserved my new salary. I worked on everything from implementing a design critique practice, adding components to the <b>Luna Design System</b>, evaluating and requiring new software for the team, and even designing the now available <b>Transfer Galaxy debit card</b> (since I was the only one with print and production experience).
                        </p>

                        <p>
                            Then the entire Product department (which included the Design team) was laid off, marking my third time getting laid off in Sweden.
                        </p>
                    </div>
                </article>
            </section>
		</main>

		{{!-- Back to top button --}}
		<a href="#top" target="_self" class="back-to-top"></a>

		<footer>
			{{> layout/footer}}
		</footer>
	</div>

	{{> tooltip}}

    <div class="cursor"></div>

	{{!-- JS --}}
	<script src="/index.js" type="text/javascript"></script>
</body>

</html>