<!DOCTYPE html>
<html lang="en">

<head>
    <title>menosketiago™ — Salary transparency</title>

    {{> head/meta}}

    <meta property="article:published_time" content="2023-07-25" />
    <meta property="article:modified_time" content="2023-07-27" />

    <meta property="og:title" content="menosketiago™ → Salary and income" />
    <meta property="og:description"
        content="Salary and income data from the last few years of my Product Designer career, including bonuses and side-hustles. Anecdotal information about career progression in Sweden (Europe)." />
    <meta property="og:url" content="http://menosketiago.com/salary.html" />
    <meta property="og:image" content="http://menosketiago.com/files/og-image-salary.jpg" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="720" />

    {{> head/links-scripts}}
</head>

<body data-toggle-theme>
    <div class="wrapper">
        <header class="work-header">
            {{> layout/pages-header}}
        </header>

        <main class="standalone salary">
            <section>
                <h1>Salary and income</h1>

                <p>
                    I've talked about money with my colleagues, mentees, and friends for years. Knowing how much people
                    get paid is one of the missing steps to fixing gender-based income inequality (you can also replace
                    gender with race and country of origin).
                </p>
                <p>
                    <b>Dan Mall</b> blew my mind with his <a href="https://danmall.com/salary-income"
                        target="_blank" rel="noopener">public salary and income page</a>, and just like he borrowed the
                    idea from <b><a href="https://matthewsmith.website/salary" target="_blank" rel="noopener">Matthew
                            Smith</a></b>, I also decided to "steal like an artist".
                </p>
                <p>
                    A little bit of extra context before jumping into numbers.
                </p>
                <p>
                    I skipped over the first few years as a professional working in <b>Portugal</b>.
                </p>
                <p>
                    Like many other Portuguese millennials that started their careers around the <b><time>2008</time>
                        crisis</b>, I spent many years working as a "fake freelancer". Even though I had a boss and
                    hierarchy, workplace, and working hours like any employee, I was being paid like a service provider
                    and had to pay all taxes and social security (while illegal, this is still a common practice).
                </p>
                <p>
                    In <time>2014</time>, I moved to <b>Sweden</b>, where my career took off (or started to happen,
                    depending on how you look at it). All numbers from then on are shown in <b>Swedish Krona</b> (SEK).
                </p>
                <p>
                    Keep in mind that in most European countries, salaries are paid monthly. Just multiply values by 12
                    to get yearly figures 🤓
                </p>
                <p>
                    All values displayed are income before taxes.
                </p>
            </section>
            
            <section>
                <h3>Regarding side-hustles</h3>

                <div>
                    <p>
                        The <a href="http://www.swedishdesignsystems.se/" target="_blank" rel="noopener">Swedish Design
                            Systems</a> has not gathered any sponsors, so it's only an expense at this point (time, domain
                        name and Notion subscription).
                    </p>
                    <p>
                        My Product Design focused <a href="https://www.youtube.com/@menosketiago" target="_blank"
                            rel="noopener">YouTube channel</a>, is still far from reaching the minimum subscribers and watch
                        time to enable monetization.
                    </p>
                    <p>
                        The <a href="https://figma.com/@menosketiago" target="_blank" rel="noopener">Figma community
                            assets</a> I have published so far have been almost 100% free. The paid automation file that
                        works with <a href="https://www.figma.com/community/file/1233490043546742002" target="_blank"
                            rel="noopener">Style/token documentation components™</a> library has not made a single sale
                        (it's a new product category so I expected as much).
                    </p>
                    <p>
                        <a href="https://www.buymeacoffee.com/menosketiago" target="_blank" rel="noopener">Buy me a
                            coffee</a> donations have reached a whopping 15$ (no shade, super thankful for my few oat milk
                        latte patrons).
                    </p>
                </div>
            </section>

            <h2>Work history</h2>
            <div class="pill">Back to the Future ⏱️</div>

            <section class="grid-2-3">
                <div>
                    <h3>Freelance and Wanna&shy;Player</h3>

                    <time class="pill date">2010 → 2014</time>
                </div>

                <div>
                    <hgroup>
                        <h4>Graphic Designer → UI/UX Designer</h4>
                        <h5 class="money">€700/month on average</h5>
                    </hgroup>

                    <p>
                        After a few years of unpaid internships and fake freelancing, I decided to skip the
                        employers and become a real freelancer (just like Pinocchio became a real boy).
                    </p>
                    <p>
                        Being shy and lacking a good network meant a hard time finding clients that were both great
                        to work with and paid well. But I managed to make ends meet, even though I never made more
                        than <span>€10 000</span> a year.
                    </p>
                    <p>
                        As a founding member at <b>WannaPlayer</b>, I worked for free for a few months until we
                        secured a state-sponsored internship that landed me close to €700/month (around my average from
                        freelancing).
                    </p>
                </div>
            </section>

            <section class="grid-2-3">
                <div>
                    <h3>Goo Techno&shy;logies</h3>
                
                    <time class="pill date">2014 → 2015</time>
                </div>

                <div>
                    <hgroup>
                        <h4>UI/UX Designer</h4>
                        <h5 class="money">24 000 SEK/month</h5>
                    </hgroup>

                    <p>
                        My good friend <b>Hugo Campos</b> (from <b>WannaPlayer</b>) and I joined this super exciting
                        startup, working on a WebGL engine and editor that allowed you to have games and interactive
                        3D experience running on any browser (very similar to <a href="https://spline.design/"
                            target="_blank" rel="noopener">Spline</a>).
                    </p>
                    <p>
                        This salary meant a 3.4x increase from what I made back in Lisbon. In hindsight, it was a
                        low salary by Swedish standards, but everyone there was trading money for working in
                        something we felt passionate about and deeply believed in.
                    </p>
                    <p>
                        We even took a pay cut for a year to temporarily avoid layoffs and increase our runway while
                        we tried to find product-market fit. Eventually, the money ran out, and <b>Amazon</b> bought
                        the IP after we declared bankruptcy (for some years after, the product existed on AWS under
                        the name <b>Sumerian</b>).
                    </p>
                </div>
            </section>

            <section class="grid-2-3">
                <div>
                    <h3>Ericsson</h3>

                    <time class="pill date">2015 → 2017</time>
                </div>

                <div>
                    <hgroup>
                        <h4>Senior Visual/<wbr>Interaction Designer</h4>
                        <h5 class="money">
                            32 500 SEK/month → 40 000 SEK/month<br>
                            <span>30 000 SEK one-off bonus</span>
                        </h5>
                    </hgroup>

                    <p>
                        I was a full-time in-house consultant at <b>Ericsson</b>, one of the best know international
                        Swedish brands (I even had a Sony Ericsson mobile one year prior).
                    </p>
                    <p>
                        It meant a decent salary jump but did not include paid time off, and the contract would end
                        if the assignment concluded. I was employed by <b>SPLIT Stockholm</b>, but there was another
                        agency in the middle called <b>Screen Interaction</b> (now <b>Daresay</b>). After the two
                        agencies cut, my salary was far from what Ericsson paid for my work.
                    </p>
                    <p>
                        During my first assignment, I was found and poached by one of the main UX teams in the
                        company. After learning that I was the only consultant on the team without paid time off,
                        Didier (my manager at Ericsson) required that my consultant contract be adjusted
                        accordingly.
                    </p>
                    <p>
                        Due to our team's performance and a lot of evangelism on the value of design, Ericsson
                        decided to switch from consultants to hiring only full-time designers. As I was under a
                        non-compete clause, I needed to start thinking of my next job.
                    </p>
                    <p>
                        So to retain me until I finished my part on a mission-critical project (which led to the
                        award-winning <a href="/work/ericsson.html" target="_blank" rel="noopener">Ericsson Design
                            System</a>), I was offered a month's salary as an assignment completion bonus.
                    </p>
                </div>
            </section>

            <section class="grid-2-3">
                <div>
                    <h3>Tri&shy;Optima</h3>

                    <time class="pill date">2017 → 2019</time>
                </div>

                <div>
                    <hgroup>
                        <h4>Product Designer</h4>
                        <h5 class="money">
                            52 000 SEK/month → 56 000 SEK/month<br>
                            <span>~85 000 SEK yearly bonus</span>
                        </h5>
                    </hgroup>

                    <p>
                        One of my consultant colleagues from <b>Ericsson</b> got word that I would be unemployed
                        soon, so she referred me to her manager. Everything clicked, and I got a huge salary
                        increase (plus a generous profit-sharing bonus each year).
                    </p>

                    <p>
                        I spent two and a half years ensuring I worked to deserve the money. I implemented the <a
                            href="/work/trioptima.html" target="_blank" rel="noopener">TriOptima Design System</a>
                        both in <b>Sketch</b> and code. I also worked closely with the different product teams to
                        create new features and improve the user experience for our customers.
                    </p>

                    <p>
                        By 2019, I started feeling frustrated with the pace of product development and a lack of
                        career growth opportunities. Money isn't everything, and I decided to find a new challenge.
                    </p>
                </div>
            </section>

            <section class="grid-2-3"n>
                <div>
                    <h3>Med&shy;People</h3>

                    <time class="pill date">2019</time>
                </div>

                <div>
                    <hgroup>
                        <h4>Product Designer</h4>
                        <h5 class="money">45 000 SEK/month</h5>
                    </hgroup>

                    <p>
                        Did I mention I was feeling stuck career-wise?
                    </p>
                    <p>
                        I took a big pay cut because I was accepting a <b>Head of Design</b> role. The mission had a
                        serious social impact, as the goal was to address the staff shortage in Swedish healthcare.
                        Soon I learned that my employers thought I was coming in to maybe, eventually, if I deserved
                        it, become their design executive.
                    </p>
                    <p>
                        To this day, I don't know if I mistakenly took a <span>11 000 SEK</span>
                        salary cut to do the same job I was doing before or if I misunderstood what we talked about
                        during the interview process. I cannot fully dismiss the possibility of having heard what I
                        wanted to hear (but gaslighting also leverages the ambiguity of individual memory).
                    </p>
                    <p>
                        Here's what I know for sure. I wasn't ready to be a Design Leader and let my ambition and
                        hubris get the best of me. A lesson learned the hard way 🤓
                    </p>
                </div>
            </section>

            <section class="grid-2-3">
                <div>
                    <h3>Stravito</h3>

                    <time class="pill date">2019</time>
                </div>

                <div>
                    <hgroup>
                        <h4>Product Designer</h4>
                        <h5 class="money">
                            45 000 SEK/month<br>
                            <span>Pension + stock options</span>
                        </h5>
                    </hgroup>

                    <p>
                        With my belly full of humble pie, I joined a great team of experienced individuals at
                        <b>Stravito</b>.
                    </p>
                    <p>
                        Even though my salary kept at the cut level, I worked my but off from day one. One week
                        after starting, I got praised by the CEO during our town hall for helping to release the new
                        website. During a hackathon, I prototyped a voice search feature that sales used to secure
                        one of our largest customers.
                    </p>
                    <p>
                        Then <b>COVID-19</b> happened, and because in Sweden, the last employees hired needed to be
                        the first out in a layoff, I was again between jobs (a local euphemism for being
                        unemployed).
                    </p>
                    <p>
                        I did not get any severance package (not required by law since I was on probation) or
                        support, nor kept any stock options I had already worked towards.
                    </p>
                </div>
            </section>

            <section class="grid-2-3">
                <div>
                    <h3>Menti&shy;meter</h3>

                    <time class="pill date">2020 → 2021</time>
                </div>

                <div>
                    <hgroup>
                        <h4>Product Designer</h4>
                        <h5 class="money">
                            48 000 SEK/month → 49 000 SEK/month<br>
                            <span>~49 000 SEK/year pension</span>
                        </h5>
                    </hgroup>

                    <p>
                        When interviewing for <b>Mentimeter</b>, I got assigned a Frontend Developer take-home
                        assignment by mistake. I don't normally do them as I think they are spec-work and do not
                        provide much value for evaluating designers (there is no collaboration or stakeholder
                        management, which, IMO are the core skills you need to look for).
                    </p>
                    <p>
                        The assignment was to create a <b>React</b>-based modular component as part of a
                        hypothetical Design System, and I felt like even if I did not get the job, I would spend a
                        week improving my code chops. I wrapped the assignment, sent it in, and waited for the
                        eventual thanks for doing it, but we are going forward with another candidate.
                    </p>
                    <p>
                        Instead, I got a video call scheduled from <b>Niklas</b> (founder and then CPO). The dev
                        team was impressed with my exercise but surprised/confused with a designer that also codes.
                        I got asked if I wanted a Frontend role, but I refused in favor of remaining a Product
                        Designer, even if I would make the occasional PR.
                    </p>
                    <p>
                        I could finally improve my User Research knowledge. And I continued my path to becoming a
                        <b>Figma</b> ninja, creating the missing component library to complete the <b>Ragnar Design
                            System</b>, allowing the design team to create mockups and prototypes quickly that could
                        be tested with users, saving us development time when the ideas did not work as planned.
                    </p>
                    <p>
                        Close to my first work anniversary, there was a design leadership change. After a few hard
                        months, I eventually accepted I wasn't part of the new "wolf pack" and that it was time to
                        move on (one of the toughest decisions I ever had to take).
                    </p>
                </div>
            </section>

            <section class="grid-2-3">
                <div>
                    <h3>Klarna</h3>

                    <time class="pill date">2021 → 2022</time>
                </div>

                <div>
                    <hgroup>
                        <h4>Senior Product Designer</h4>
                        <h5 class="money">
                            55 238 SEK/month<br>
                            <span>Pension + stock options</span>
                        </h5>
                    </hgroup>

                    <p>
                        At Klarna, I almost managed to recover my 2019 salary level. I got an official <b>Senior
                            Product Designer</b> title and got my first full-time <b>Design System</b> role.
                    </p>
                    <p>
                        It's also good to let you know that this was my 4th attempt at getting hired at Klarna (on
                        the three previous ones, I did not even score a Talent Acquisition interview). And the
                        process took two entire months of interviewing, case study presentation, and even a
                        take-home assignment.
                    </p>
                    <p>
                        Then the <b>tech layoffs of 2021/22</b> finally caught up with us after an 85% drop in
                        Klarna's valuation.
                    </p>
                    <p>
                        While I wasn't part of the layoff, the process, communication, and subsequent decisions
                        increased the toxicity level of the culture and worsened work relationships.
                    </p>
                    <p>
                        By the end of summer 2022, I decided the resulting organization was at odds with my values
                        and sense of ethics. I finally became too burned out from trying to do my job while dealing
                        with conflicting stakeholder agendas.
                    </p>
                    <p>
                        It was a crazy year, but with my team goals achieved, I left with a sense of fulfilled duty
                        💪
                    </p>
                    <p>
                        Once again, I did not vest any stock options (even though I paid taxes on them).
                    </p>
                </div>
            </section>

            <section class="grid-2-3">
                <div>
                    <h3>Transfer Galaxy</h3>

                    <time class="pill date">2022 → 2023</time>
                </div>

                <div>
                    <hgroup>
                        <h4>Senior Product Designer</h4>
                        <h5 class="money">
                            60 000 SEK/month<br>
                            <span>Pension</span>
                        </h5>
                    </hgroup>

                    <p>
                        After two coffees with <a href="https://josephbertino.com/" target="_blank" rel="noopener">
                        Joe Bertino</a> and an engaging interview with the CPO, <b>Wanda</b>, I
                        accepted an offer to join Transfer Galaxy and work with <b>Design Ops</b>, improve the
                        <b>Design System</b> and help manage/coach a junior Designer (as a start).
                    </p>
                    <p>
                        Like in 2017, I jumped in, willing and keen to prove I deserved my new (and finally updated)
                        salary. I worked on everything from implementing a design critique practice, adding
                        components to the <b>Luna Design System</b>, evaluating and requiring new software for the
                        team, and even designing the now available <b>Transfer Galaxy debit card</b>.
                    </p>
                    <p>
                        Just four months after I started, the entire Product department (which included the Design
                        team) was laid off, marking my third time getting laid off in Sweden.
                    </p>
                </div>
            </section>

            <section class="grid-2-3">
                <div>
                    <h3>H&amp;M Group</h3>

                    <time class="pill date">2023</time>
                </div>

                <div>
                    <hgroup>
                        <h4>Design Ops Lead</h4>
                        <h5 class="money">
                            58 000 SEK/month<br>
                            <span>Pension</span>
                        </h5>
                    </hgroup>

                    <p>
                        Some months into a new job-hunt after being laid off from <b>Transfer Galaxy</b>, H&amp;M Group reached out about
                        joining their Design Ops team.
                    </p>
                    <p>
                        The position meant a small pay cut to align with the salary levels on the team but I felt that doing DesignOps
                        in a larger organization would be an interesting challenge after doing it in smaller startup.
                    </p>
                    <p>
                        Unfortunately, after a few months I realized that I wasn't a culture fit and that due to a less than optimally
                        done re-organization, the designers weren't really ready for a culture change either.
                    </p>
                </div>
            </section>

            <h2>Related links</h2>

            <div class="pill">More things I wrote on the internet</div>

            <section class="dual-column">
                <article>
                    <h4>State of Swedish Design</h4>

                    <p>
                        A yearly survey that collects statistically relevant quantitative data about working in Design in Sweden.
                    </p>
                    <p>
                        Includes detailed salary data for different roles and levels of seniority.
                    </p>

                    <a 
                        class="btn arrow-right" 
                        href="https://designleadership.se/state-of-design-the-swedish-edition" 
                        target="_blank"
                        rel="noopener" 
                        aria-label="Learn about the State of Swedish Design survey"
                    >State of Swedish Design</a>
                </article>

                <article>
                    <h4>Design Hiring in Sweden 🇸🇪</h4>

                    <p>
                        A survey I ran a few years ago to discover what matters to recruiters and hiring managers when looking for, interviewing, and hiring Designers.
                    </p>

                    <p>
                        Get insights about the best times to look for a job, what sites recruiters and hiring managers use to look for talent, do cover letters matter, and much more.
                    </p>

                    <a 
                        class="btn arrow-right" 
                        href="https://designleadership.se/state-of-design-the-swedish-edition" 
                        target="_blank"
                        rel="noopener" 
                        aria-label="Discover the Design Hiring in Sweden survey results"
                    >Design Hiring in Sweden</a>
                </article>
            </section>
        </main>

        {{!-- Back to top button --}}
        {{> back-to-top}}

        <footer>
            {{> layout/footer}}
        </footer>
    </div>

    {{> tooltip}}

    <div class="cursor"></div>

    {{!-- JS --}}
    <script src="/index.js" type="text/javascript"></script>
</body>

</html>