<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>menosketiago - Designer &amp; Illustrator</title>

	<link rel="stylesheet" href="./styles/index.css">

	<script src="./scripts/index.js"></script>
</head>

<body>
	<nav>
		{{> nav}}
	</nav>
	<main>
		<button class="scroll up">
			{{> icon-arrow}}
		</button>
		{{> hero}}
		{{> about}}
		{{> work}}
		{{> contact}}
		<button class="scroll down">
			{{> icon-arrow}}
		</button>
	</main>
	<footer>
		{{> footer}}
	</footer>
	{{> modal}}
</body>

</html>