<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSWB49G"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<header>
		{{> header}}
	</header>
	<main>
		{{!-- Buttons to scroll the content sections --}}
		<button id="btn-scroll-up" class="scroll up is-hidden" tabindex="-1" aria-label="Scroll up">{{> icons/arrow}}</button>
		<button id="btn-scroll-down" class="scroll down" tabindex="-1" aria-label="Scroll down">{{> icons/arrow}}</button>
		<button id="btn-scroll-top" class="scroll top is-hidden" tabindex="-1" aria-label="Back to top">{{> icons/back-to-top}}</button>

		{{!-- Content sections --}}
		{{> sections/home}}
		{{> sections/about}}
		{{> sections/work}}
		{{> sections/contact}}
	</main>
	<footer>
		{{> footer}}
	</footer>
	{{> modal}}
	{{> tooltip}}

	{{!-- JS --}}
	<script src="index.js" type="text/javascript"></script>

	{{!-- Howler.js --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>
</body>

</html>