<!DOCTYPE html>
<html lang="en">

<head>
	<title>menosketiago™ — Product Design, Design Systems and Design Ops</title>
	
	{{> head/meta}}
	{{> head/og}}
	{{> head/links-scripts}}

	<link rel="me" href="https://mastodon.social/@menosketiago">Mastodon</a>
</head>

<body>
	<div class="wrapper">
		<header>
			{{> layout/header}}
		</header>

		<main>
			{{!-- Content sections --}}
			{{> sections/about}}
			{{> sections/work}}
			{{> sections/content}}
			{{> sections/contact}}
			{{> sections/bye}}
		</main>

		{{!-- Back to top button --}}
		<a href="#top" target="_self" class="back-to-top" aria-hidden="true"></a>

		<footer>
			{{> layout/footer}}
		</footer>
	</div>

	{{> tooltip}}

	<div class="cursor"></div>

	{{> scripts}}
</body>

</html>