<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>menosketiago™ · Designer and Illustrator</title>

	<meta name="description" content="Designer and Illustrator based in Stockholm, Sweden">

	<link rel="shortcut icon" href="./images/favicon.png" type="image/png">
	<link rel="stylesheet" href="./styles/index.css" type="text/css">
	<script src="./scripts/index.js" type="text/javascript"></script>
</head>

<body>
	<header>
		{{> header}}
	</header>
	<main>
		{{!-- Buttons to scroll the content sections --}}
		<button class="scroll up is-hidden" tabindex="-1">{{> icons/icon-arrow}}</button>
		<button class="scroll down" tabindex="-1">{{> icons/icon-arrow}}</button>
		<button class="scroll top is-hidden" tabindex="-1">{{> icons/icon-back-to-top}}</button>

		{{!-- Content sections --}}
		{{> home}}
		{{> about}}
		{{> work}}
		{{> contact}}
	</main>
	<footer>
		{{> footer}}
	</footer>
	{{> modal}}
	{{> tooltip}}
</body>

</html>