<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}
</head>

<body>
	{{> google-tag-manager}}

	<header>
		{{> header}}
	</header>
	<main>
		{{!-- Buttons to scroll the content sections --}}
		<button id="btn-scroll-up" class="scroll up is-hidden" tabindex="-1" aria-label="Scroll up">{{> icons/arrow}}</button>
		<button id="btn-scroll-down" class="scroll down" tabindex="-1" aria-label="Scroll down">{{> icons/arrow}}</button>
		<button id="btn-scroll-top" class="scroll top is-hidden" tabindex="-1" aria-label="Back to top">{{> icons/back-to-top}}</button>

		{{!-- Content sections --}}
		{{> sections/home}}
		{{> sections/about}}
		{{> sections/work}}
		{{> sections/contact}}
	</main>
	<footer>
		{{> footer}}
	</footer>
	{{> modal}}
	{{> tooltip}}
</body>

</html>