<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSWB49G"
		height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div class="wrapper">
		<header>
			{{> header}}
		</header>

		<main>
			{{!-- Scroll to top button --}}
			<button id="btn-scroll-top" class="back-to-top is-hidden" tabindex="-1" aria-hidden="true">↑</button>

			{{!-- Content sections --}}
			{{> sections/about}}
			{{> sections/work}}
			{{> sections/writing}}
			{{> sections/contact}}
			{{> sections/bye}}
		</main>

		<footer>
			{{> footer}}
		</footer>
	</div>

	{{> tooltip}}

	{{!-- JS --}}
	<script src="index.js" type="text/javascript"></script>

	{{!-- Howler.js --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>
</body>

</html>