<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>menosketiago™ · Designer and Illustrator</title>

	<meta name="description" content="Designer and Illustrator based in Stockholm, Sweden">

	<link rel="stylesheet" href="./styles/index.css">

	<script src="./scripts/index.js"></script>
</head>

<body>
	<header>
		{{> header}}
	</header>
	<main>
		{{!-- Buttons to scroll the content sections --}}
		<button class="scroll up is-hidden">
			{{> icon-arrow}}
		</button>
		<button class="scroll down">
			{{> icon-arrow}}
		</button>
		<button class="scroll top is-hidden">
			{{> icon-back-to-top}}
		</button>

		{{!-- Content sections --}}
		{{> home}}
		{{> about}}
		{{> work}}
		{{> contact}}
	</main>
	<footer>
		{{> footer}}
	</footer>
	{{> modal}}
</body>

</html>