.theme {
    // DARK THEME

    &-dark {
        color: var(--theme-dark-text-color);
        background: var(--theme-dark-bg-color);

        h1,
        h2,
        h3,
        h4 {
            color: var(--theme-dark-accent);
        }

        a {
            color: var(--theme-dark-accent);
        }

        figcaption {
            color: var(--theme-dark-accent);
        }

        .btn {
            color: var(--theme-dark-accent);
            border-color: var(--theme-dark-accent);

            &:hover:not(:active) {
                background: var(--theme-dark-accent);
                color: var(--theme-dark-bg-color);
            }

            &.secondary {
                background: var(--theme-dark-transparency);
            }
        }

        .back-to-top {
            background: var(--theme-dark-accent);
            color: var(--theme-dark-bg-color);

            &:hover:not(:active) {
                background: var(--theme-dark-bg-color);
                color: var(--theme-dark-accent);
                border-color: var(--theme-dark-accent);
            }
        }

        .highlight {
            background: var(--theme-dark-transparency);
        }

        .tooltip {
            color: var(--theme-dark-accent);
        }
    }

    // ALIEN THEME

    &-alien {
        background: var(--theme-alien-bg-color);

        h1,
        h2,
        h3,
        h4 {
            color: var(--theme-alien-accent);
        }

        a {
            color: var(--theme-alien-accent);
        }

        figcaption {
            color: var(--theme-alien-accent);
        }

        .btn {
            color: var(--theme-alien-accent);
            border-color: var(--theme-alien-accent);

            &:hover:not(:active) {
                background: var(--theme-alien-accent);
                color: var(--theme-alien-bg-color);
            }

            &.secondary {
                background: var(--theme-alien-transparency);
            }
        }

        .back-to-top {
            background: var(--theme-alien-accent);
            color: var(--theme-alien-bg-color);

            &:hover:not(:active) {
                background: var(--theme-alien-bg-color);
                color: var(--theme-alien-accent);
                border-color: var(--theme-alien-accent);
            }
        }

        .highlight {
            background: var(--theme-alien-transparency);
        }

        .tooltip {
            color: var(--theme-alien-accent);
        }
    }

    // GOLD THEME

    &-gold {
        h1,
        h2,
        h3,
        h4 {
            color: var(--theme-gold-accent);
        }

        a {
            color: var(--theme-gold-accent);
        }

        figcaption {
            color: var(--theme-gold-accent);
        }

        .btn {
            color: var(--theme-gold-accent);
            border-color: var(--theme-gold-accent);

            &:hover:not(:active) {
                background: var(--theme-gold-accent);
            }

            &.secondary {
                background: var(--theme-gold-transparency);
            }
        }

        .back-to-top {
            background: var(--theme-gold-accent);

            &:hover:not(:active) {
                color: var(--theme-gold-accent);
                border-color: var(--theme-gold-accent);
            }
        }

        .highlight {
            background: var(--theme-gold-transparency);
        }

        .tooltip {
            color: var(--theme-gold-accent);
        }
    }

    // TRIDS THEME

    &-trids {
        color: var(--theme-trids-text-color);
        background: var(--theme-trids-bg-color);

        h1,
        h2,
        h3,
        h4 {
            color: var(--theme-trids-accent);
        }

        a {
            color: var(--theme-trids-accent);
        }

        figcaption {
            color: var(--theme-trids-accent);
        }

        .btn {
            color: var(--theme-trids-accent);
            border-color: var(--theme-trids-accent);

            &:hover:not(:active) {
                background: var(--theme-trids-accent);
                color: var(--theme-trids-bg-color);
            }

            &.secondary {
                background: var(--theme-trids-transparency);
            }
        }

        .back-to-top {
            background: var(--theme-trids-accent);
            color: var(--theme-trids-bg-color);

            &:hover:not(:active) {
                background: var(--theme-trids-bg-color);
                color: var(--theme-trids-accent);
                border-color: var(--theme-trids-accent);
            }
        }

        .highlight {
            background: var(--theme-trids-transparency);
        }

        .tooltip {
            color: var(--theme-trids-accent);
        }
    }
    
    // KLARNA THEME

    &-klarna {
        background: var(--theme-klarna-bg-color);

        h1,
        h2,
        h3,
        h4 {
            color: var(--theme-klarna-text-color);
        }

        a {
            color: var(--theme-klarna-accent);

            &.logo,
            &.icon {
                color: var(--theme-klarna-text-color);
            }
        }

        figcaption {
            color: var(--theme-klarna-text-color);
        }

        .btn {
            color: var(--theme-klarna-text-color);
            border-color: var(--theme-klarna-text-color);

            &:hover:not(:active) {
                background: var(--theme-klarna-text-color);
                color: var(--theme-klarna-bg-color);
            }

            &.secondary {
                background: var(--theme-klarna-transparency);
            }
        }

        .back-to-top {
            background: var(--theme-klarna-text-color);
            color: var(--theme-klarna-bg-color);

            &:hover:not(:active) {
                background: var(--theme-klarna-bg-color);
                color: var(--theme-klarna-text-color);
                border-color: var(--theme-klarna-text-color);
            }
        }

        .highlight {
            background: var(--theme-klarna-transparency);
        }

        .tooltip {
            color: var(--theme-klarna-text-color);
        }
    }
}