@use '../variables';

.work-main {
    margin-bottom: var(--space-jumbo);

    h1 {
        max-width: initial;
        font-weight: var(--black);
    }

    h2 {
        justify-self: center;
        text-align: center;
    }

    section {
        article {
            margin-bottom: var(--space-jumbo);

            &:last-child,
            &:only-child {
                margin-bottom: 0;
            }

            figure,
            video {
                margin-bottom: 0;
            }
        }
    }

    figure,
    video {
        justify-self: center;
        width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: var(--space-jumbo);

        &:only-child,
        &:last-child {
            margin-bottom: 0;
        }
    }

    .summary {
        align-items: stretch;
        margin-top: var(--space-jumbo);
        align-items: flex-start;

        aside {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: var(--space-extra);
            align-self: stretch;
            margin-bottom: var(--space-extra);

            .h-s {
                margin-top: var(--space-large);
                margin-bottom: var(--space-base);

                &:first-of-type {
                    margin-top: 0;
                }
            }

            .pill {
                justify-self: flex-start;
            }
        }

        article {
            margin-top: var(--space-jumbo);
        }

        &.short {
            article {
                width: 100%;
            }

            aside {
                grid-template-columns: auto;
            }
        }
    }

    .dual-column {
        article {
            margin: 0;

            > a {
                position: relative;
                overflow: hidden;
                display: block;

                &:before {
                    content: '';
                    position: absolute;
                    inset: 0;
                    bottom: 1px;
                    background: var(--theme-dark-accent);
                }

                picture,
                video {
                    display: flex;
                    filter: grayscale(1);
                    mix-blend-mode: multiply;
                    transform: scale(1);
                    transition: transform var(--speed-slow) ease;
                }

                &:hover,
                &:active {
                    filter: grayscale(0);

                    picture,
                    video {
                        filter: grayscale(0);
                        mix-blend-mode: normal;
                        transform: scale(1.08);
                    }
                }
            }

            aside {
                .h-s,
                .pill {
                    display: none;
                }
            }
        }
    }

    // MEDIA QUERIES
    @media only screen and (max-device-width: 799px) {
        h1 {
            margin-bottom: var(--space-extra);
        }

        section {
            article {
                margin-bottom: var(--space-extra);
            }
        }

        figure,
        video {
            margin-bottom: var(--space-extra);
        }

        .summary {
            aside {
                grid-template-columns: 2fr 2fr;
                column-gap: var(--space-large);
                row-gap: var(--space-large);
            }
        }

        .dual-column {
            article {
                &:first-child {
                    margin-bottom: var(--space-extra);
                }

                aside {
                    margin-top: var(--space-large);

                    a {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    @media only screen and (max-device-width: 580px) {
        .summary {
            aside {
                grid-template-columns: auto;
            }
        }
    }
}
