<section id="about">
    <div class="card">
        <h1>Who am I?</h1>

        <section>
            <p>
                Growing up at the same time as the IT field started getting into high gear, allowed me to experience new technologies first hand. From the Commodore Amiga to Apple's Macintosh and Intel 386 personal computers, to the most recent multiple core graphical/computing beast of burden and the arrival of the smartphone and tablet.
            </p>
            <p>
                Knowing where we came from and how it all evolved, grants me some insight into the why's and why not's of present technology and the predictable future, like the IoT, VR, and AR.
            </p>
            <p>
                But even though I have technology at heart, I'm first and foremost a second-generation designer and started following my father's footsteps at a very young age, doing my 5th-grade school papers in QuarkXpress and learning design theory and skills along the way.
            </p>
            <p>
                My first freelance gig was at 16 when I did <strong>Digital Coloring</strong> for a comics studio based in Texas. At 18, I enrolled in an Industrial Design degree to learn more about mass production, materials, technical drawing, 3D modeling, and visualization.
            </p>
            <p>
                Ever since then, I've never said no to a new challenge and did work that ranged from traditional Graphic Design and Illustration, Merchandise, Advertising, Digital Marketing, Web Development, and even Video Game journalism.
            </p>
            <p>
                After a couple of years of freelancing, I got involved with the startup scene, joining WannaPlayer (a top 25 Lisbon Challenge Startup) as part of the founding team. Right after that, I moved to the Stockholm based Goo Technologies, helping to develop and market the WebGL based editing tool, Goo Create.
            </p>
            <p>
                More recently, I have been deeply involved in crafting the award-winning new Ericsson Design System and was the primary driving force behind the TriOptima Design System.
            </p>
            <p>
                Some of my passions include t-shirt and merchandise design (having won several design contests along the years), illustration (published twice in indie publications), and video games (not only as a gamer but also as a journalist and game reviewer).
            </p>
        </section>
    </div>

    <blockquote>
        <mark>Two generations of designers barechested with a poodle 🐩</mark>
    </blockquote>
</section>
