<div class="avatar">
    <picture>
        <source
            srcset="/images/_avatars/avatar-01.avif 1x, /images/_avatars/avatar-01-2x.avif 2x"
            type="image/avif"
        />
        <source
            srcset="/images/_avatars/avatar-01.webp 1x, /images/_avatars/avatar-01-2x.webp 2x"
            type="image/webp"
        />
        <img src="/images/_avatars/avatar-01.png"/>
    </picture>
    <picture>
        <source
            srcset="/images/_avatars/avatar-02.avif 1x, /images/_avatars/avatar-02-2x.avif 2x"
            type="image/avif"
        />
        <source
            srcset="/images/_avatars/avatar-02.webp 1x, /images/_avatars/avatar-02-2x.webp 2x"
            type="image/webp"
        />
        <img src="/images/_avatars/avatar-02.png"/>
    </picture>
    <picture>
        <source
            srcset="/images/_avatars/avatar-03.avif 1x, /images/_avatars/avatar-03-2x.avif 2x"
            type="image/avif"
        />
        <source
            srcset="/images/_avatars/avatar-03.webp 1x, /images/_avatars/avatar-03-2x.webp 2x"
            type="image/webp"
        />
        <img src="/images/_avatars/avatar-03.png"/>
    </picture>
    <picture>
        <source
            srcset="/images/_avatars/avatar-04.avif 1x, /images/_avatars/avatar-04-2x.avif 2x"
            type="image/avif"
        />
        <source
            srcset="/images/_avatars/avatar-04.webp 1x, /images/_avatars/avatar-04-2x.webp 2x"
            type="image/webp"
        />
        <img src="/images/_avatars/avatar-04.png"/>
    </picture>
</div>