<section id="contact">
     <div class="card">
        <h1>Get in touch with me</h1>

        <p>
            Like most wild <em>designerus millenius</em>, I can be easily spooked with phone calls, as a ringtone is a noise deeply associated with one of our primal predators, the <em>telemarketerus obnoscius</em>.
        </p>

        <p>
            To get in touch, use the form bellow or email me at <em>hello[at]menosketiago.com</em>
        </p>

        <form action="https://formspree.io/xyyyddgr" method="POST">
            <div class="input">
                <input type="text" name="name" id="name" minlength="1" maxlength="100" required>
                <label for="name">Name or alias</label>
            </div>

            <div class="input">
                <input type="email" name="email" id="email" minlength="5" maxlength="254" required>
                <label for="email">Email address</label>
            </div>

            <div class="input">
                <textarea name="message" id="message" maxlength="2500" required></textarea>
                <label for="message">Write me some lines...</label>
            </div>

            <button type="submit">
                {{> icon-mail}}
                Send message
            </button>
        </form>
    </div>
</section>
