<section id="contact">
     <div class="card">
        <h1>Getting in touch</h1>

        <p>
            Like most wild <i>designerus millenius</i>, I can be easily spooked with phone calls, as a ringtone is a noise negatively associated with one of our primal predators, the <i>telemarketerus obnoscius</i>.
        </p>

        <p>
            Buf if you email me I will reply quickly, so you can use the form below or reach me at <i>hello[at]menosketiago.com</i>.
        </p>

        <form action="https://formspree.io/xyyyddgr" method="POST">
            <div class="input">
                <input type="text" name="name" id="name" minlength="1" maxlength="100" required>
                <label for="name">Name or alias</label>
            </div>

            <div class="input">
                <input type="email" name="email" id="email" minlength="5" maxlength="254" required>
                <label for="email">Email address</label>
            </div>

            <div class="input">
                <textarea name="message" id="message" maxlength="2500" required></textarea>
                <label for="message">Write me some lines...</label>
            </div>

            <button type="submit">
                {{> icon-mail}}
                Send message
            </button>
        </form>
    </div>
</section>
