<meta charset="UTF-8">

<title>menosketiago™ • Product Designer and Illustrator</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="TOlá, hello and hej! I'm a Designer and Illustrator living in Stockholm, Sweden. You are welcome to check my portfolio of work that ranges from Product Design (UI/UX), Frontend and Web Development, Illustration, and traditional Graphic Design.">
<meta name="keywords" content="UX, UI, design, designer, product, illustrator, illustration, visual, graphic, interaction, interface, portfolio, folio, work, stockholm, sweden">
<meta name="author" content="Tiago Almeida">
<meta name="generator" content="Handlebars">

<meta property="og:title" content="menosketiago™ • Product Designer and Illustrator" />
<meta property="og:description" content="Olá, hello and hej! I'm a Designer and Illustrator living in Stockholm, Sweden. You are welcome to check my portfolio of work that ranges from Product Design (UI/UX), Frontend and Web Development, Illustration, and traditional Graphic Design." />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://menosketiago.com" />
<meta property="og:image" content="http://menosketiago.com/files/og-image.webp" />
<meta property="og:image:width" content="1080" />
<meta property="og:image:height" content="721" />

<link rel="icon" type="image/png" href="favicon.png" />
<link rel="shortcut icon" href="./images/favicon.webp" type="image/webp">

<link rel="preload" href="index.css" as="style">
<link rel="preload" href="index.js" as="script">
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js" as="script">

<link rel="stylesheet" href="index.css" type="text/css">

<link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=UA-6902387-1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-6902387-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-6902387-1');
</script>

<!-- Google Tag Manager -->
<script>
	(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-PSWB49G');
</script>