<div>
    <a id="header-logo" class="logo" href="#home">
        <img src="./images/logo-header.webp" srcset="./images/logo-header.webp 1x, ./images/logo-header@2x.webp 2x" alt="menosketiago™ logo">
    </a>

    <nav>
        <a id="nav-home" href="#home" class="is-current">Home</a>
        <a id="nav-about" href="#about">About</a>
        <a id="nav-work" href="#work">Work</a>
        <a id="nav-contact" href="#contact">Contact</a>
    </nav>
</div>

<address class="social">
    <a id="link-contact" href="#contact" data-tooltip="Email" aria-label="Send me a message via contact form">
        {{> icons/mail}}
    </a>
    <a id="link-linkedin" href="https://www.linkedin.com/in/menosketiago" target="_blank" rel="noopener" data-tooltip="LinkedIn" aria-label="Visit my LinkedIn profile">
        {{> icons/linkedin}}
    </a>
    <a id="link-medium" href="https://medium.com/@menosketiago" target="_blank" rel="noopener" data-tooltip="Medium" aria-label="Read my Medium articles">
        {{> icons/medium}}
    </a>
    <a id="link-facebook" href="https://www.facebook.com/thisismenos" target="_blank" rel="noopener" data-tooltip="Facebook" aria-label="Follow my Facebook page">
        {{> icons/facebook}}
    </a>
    <a id="link-instagram" href="https://www.instagram.com/menosketiago" target="_blank" rel="noopener" data-tooltip="Instagram" aria-label="Check my photos on Instragram">
        {{> icons/instagram}}
    </a>
    <a id="link-dribbble" href="https://dribbble.com/menosketiago" target="_blank" rel="noopener" data-tooltip="Dribbble" aria-label="Visit my Dribbble profile">
        {{> icons/dribble}}
    </a>
</address>