<meta charset="UTF-8">

<title>menosketiago™ — Product Design, Design Systems and Design Ops</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Website and online portfolio of Tiago Almeida, a Senior Product Designer, living in Stockholm Sweden.">
<meta name="keywords" content="UX, UI, design, designer, product, illustrator, illustration, visual, graphic, interaction, interface, portfolio, folio, prototyping, prototypes, work, stockholm, sweden">
<meta name="author" content="Tiago Almeida">
<meta name="generator" content="Handlebars">

<meta property="og:title" content="menosketiago™ — Product Design, Design Systems and Design Ops" />
<meta property="og:description" content="Hej! My name is Tiago Almeida and I'm a Senior Product Designer living in Stockholm, Sweden." />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://menosketiago.com" />
<meta property="og:image" content="http://menosketiago.com/files/og-image.jpg" />
<meta property="og:image:width" content="1080" />
<meta property="og:image:height" content="721" />

<link rel="icon" type="image/png" href="favicon.png" />
<link rel="shortcut icon" href="/images/favicon.webp" type="image/webp">

<link rel="preload" href="/index.css" as="style">
<link rel="preload" href="/index.js" as="script">
<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js" as="script">

<link rel="stylesheet" href="/index.css" type="text/css">

<link rel="preconnect" href="https://www.googletagmanager.com/gtag/js?id=UA-6902387-1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W1YPZ6TBEL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W1YPZ6TBEL');
</script>