<div>
    <a href="#home" class="logo">
        <img src="./images/logo.png" alt="menosketiago™ logo">
    </a>

    <nav>
        <a href="#home" class="is-current">Home</a>
        <a href="#about">About</a>
        <a href="#work">Work</a>
        <a href="#contact">Contact</a>
    </nav>
</div>

<div class="current-section">
    <h4>Home</h4>
    <h6>Currently viewing</h6>
</div>

<address class="social">
    <a href="#contact">
        {{> icon-mail}}
    </a>
    <a href="https://www.linkedin.com/in/menosketiago" target="_blank">
        {{> icon-linkedin}}
    </a>
    <a href="https://www.facebook.com/thisismenos" target="_blank">
        {{> icon-facebook}}
    </a>
    <a href="https://www.instagram.com/menosketiago" target="_blank">
        {{> icon-instagram}}
    </a>
    <a href="https://dribbble.com/menosketiago" target="_blank">
        {{> icon-dribble}}
    </a>
</address>