<section id="hero-bg" class="hero">
    <div class="logo"></div>
    <h1>
        Olá, Hello, Hej &amp; Konnichiwa!<br />
        I'm a Designer &amp; Illustrator<br />
        based in Stockholm, Sweden.
    </h1>
</section>
