<section id="hero">
    <div class="logo"></div>
    <h1>
        Olá, hello, and hej!<br>
        My name is <mark>Tiago Almeida</mark>.<br>
        I’m a Designer and illustrator<br>
        living in Stockholm, Sweden
    </h1>
</section>
