<section id="home">
    <img class="logo" src="./images/logo.png" alt="menosketiago™ logo">
    <h1>
        Olá, hello, and hej!<br>
        My name is <mark>Tiago Almeida</mark>.<br>
        I’m a Designer and illustrator<br>
        living in Stockholm, Sweden
    </h1>
</section>
