<h4>Keywords</h4>

<div class="keywords">
    {{#keywords}}
        {{#each keyword}}
            {{#if @first}}
                <h6>{{key}}</h6>
            {{else}}
                <span aria-hidden="true">•</span><h6>{{key}}</h6>
            {{/if}}
        {{/each}}
    {{/keywords}}
</div>
