<div class="modal">
    <div class="container" tabindex="0">
        <article>
            <div class="loading"></div>
            <div id="work-content"></div>
        </article>
    </div>
</div>

<button id="close-modal" aria-label="Close the modal">{{> icons/close}}</button>