<div class="modal is-open">
    <div class="container" tabindex="0">
        <article id="fetch-target">
            <h1>Nem Tudo o que Reluz é Ouro</h1>

            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

            <p>Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

            <img src="./images/work/nem-tudo-01.png" alt="">
            <img src="./images/work/nem-tudo-02.png" alt="">
            <img src="./images/work/nem-tudo-03.png" alt="">
            <img src="./images/work/nem-tudo-04.png" alt="">
            <img src="./images/work/nem-tudo-05.png" alt="">

            <img src="./images/work/nem-tudo.gif" alt="">

            <div class="vimeo">
                <iframe src="https://player.vimeo.com/video/78462809?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>

            <div class="vimeo">
                <iframe src="https://player.vimeo.com/video/78730893?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
        </article>

        {{!-- Vimeo player JS --}}
        <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
</div>

<button id="close-modal" class="close">{{> icon-close}}</button>