<div class="modal">
    <article id="fetch-target">
        <button class="close">
			{{> icon-close}}
		</button>

        <h1>Modal header</h1>

        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </article>
</div>