<div class="modal">
    <div class="container">
        <article id="fetch-target" tabindex="0">
            <button class="close">
                {{> icon-close}}
            </button>

            <h1>Nem Tudo o que Reluz é Ouro</h1>

            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

            <p>Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

            <img src="./images/work/nem-tudo.png" alt="">

            <img src="./images/work/alien.gif" alt="">
        </article>
    </div>
</div>