'<dialog id="modal" class="modal" role="dialog">
    <div class="container">
        <article>
            <div class="loading"></div>
            <div id="work-content"></div>
        </article>
    </div>

    <button id="close-modal" aria-label="Close the modal">{{> icons/close}}</button>
</dialog>