<div class="modal is-open">
    <div class="container" tabindex="0">
        <article id="fetch-target">
            <aside>
                <h6>Timeframe</h6>
                <h5><time>2017</time>/<time>2019</time></h5>

                <h6>Employer</h6>
                <h5><a href="https://www.trioptima.com/" target="_blank">TriOptima</a></h5>
            </aside>

            <header>
                <h3>Illustration</h3>
                <h1>Nem Tudo o que Reluz é Ouro</h1>

                {{!-- Avatars --}}
                <div class="team">
                    <a id="mikael" class="avatar" href="" target="_blank" data-initials="ML"></a>
                    <a id="mikael" class="avatar" href="" target="_blank" data-initials="ML"></a>
                    <a id="mikael" class="avatar" href="" target="_blank" data-initials="ML"></a>
                    <a id="mikael" class="avatar" href="" target="_blank" data-initials="ML"></a>
                    <a id="mikael" class="avatar" href="" target="_blank" data-initials="ML"></a>
                    <a id="mikael" class="avatar" href="" target="_blank" data-initials="ML"></a>
                    <a id="mikael" class="avatar" href="" target="_blank" data-initials="ML"></a>
                </div>
            </header>

            <p>Atiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

            <p>Pellentesque ornare sem lacinia quam venenatis vestibulum. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

            <img src="./images/work/nem-tudo-01.png" alt="">
            <img src="./images/work/nem-tudo-02.png" alt="">
            <img src="./images/work/nem-tudo-03.png" alt="">
            <img src="./images/work/nem-tudo-04.png" alt="">
            <img src="./images/work/nem-tudo-05.png" alt="">

            <div class="vimeo">
                <iframe src="https://player.vimeo.com/video/78730893?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
        </article>
    </div>
</div>

<button id="close-modal" class="close">{{> icon-close}}</button>