<div>
    Menu
</div>

<div class="current-section">
    <h4>Current Section</h4>
    <h6>Currently viewing</h6>
</div>

<div class="social">
    <a href="#contact">
        {{> icon-mail}}
    </a>
    <a href="https://www.linkedin.com/in/menosketiago">
        {{> icon-linkedin}}
    </a>
    <a href="https://www.facebook.com/thisismenos">
        {{> icon-facebook}}
    </a>
    <a href="https://www.instagram.com/menosketiago">
        {{> icon-instagram}}
    </a>
    <a href="https://dribbble.com/menosketiago">
        {{> icon-dribble}}
    </a>
</div>