<h4>Skill chart</h4>

<div class="progress">
    <label>Product Design (UX/UI)</label>
    <progress max="5" value="5"></progress>
</div>
<div class="progress">
    <label>Illustration</label>
    <progress max="5" value="4"></progress>
</div>
<div class="progress">
    <label>Frontend Development</label>
    <progress max="5" value="3"></progress>
</div>
<div class="progress">
    <label>Digital Marketing</label>
    <progress max="5" value="2"></progress>
</div>
<div class="progress">
    <label>Growth Hacking</label>
    <progress max="5" value="2"></progress>
</div>