<section id="work">
    {{#work}}
        {{#each pages}}
            {{!-- Work items wrapper (one for each 9 items) --}}
            <div id="page-{{@key}}" class="wrapper">
                {{#each page}}
                    <a id="{{name}}" class="item" tabindex="0" {{#if dark-mode}}data-dark{{/if}}>
                        <h3>{{category}}</h3>
                        <h2>{{title}}</h2>
                        <div class="view">
                            {{> icons/icon-view}}
                            View
                        </div>
                    </a>
                {{/each}}
            </div>
        {{/each}}
    {{/work}}

    {{!-- Buttons to scroll work items sideways --}}
    <button class="scroll left is-hidden">{{> icons/icon-chevron}}</button>
    <button class="scroll right is-hidden">{{> icons/icon-chevron}}</button>
</section>