<section id="work">
    {{!-- Buttons to scroll work items sideways --}}
    <button class="scroll left is-hidden">
        {{> icon-chevron}}
    </button>
    <button class="scroll right is-hidden">
        {{> icon-chevron}}
    </button>

    {{#work}}
        {{#each pages}}
            {{!-- Work items wrapper (one for each 9 items) --}}
            <div id="page-{{@key}}" class="wrapper {{#if @first}}is-visible{{/if}}">
                {{#each page}}
                    <article class="{{name}}">
                        <h5>{{category}}</h5>
                        <h2>{{title}}</h2>
                        {{> view}}
                    </article>
                {{/each}}
            </div>
        {{/each}}
    {{/work}}
</section>