<section id="work">
    {{!-- Buttons to scroll work items sideways --}}
    <button class="scroll left">
        {{> icon-chevron}}
    </button>
    <button class="scroll right">
        {{> icon-chevron}}
    </button>

    <article>
        <h4>Category</h4>
        <h2>Work item title</h2>
        {{> view}}
    </article>
    <article>
        <h4>Category</h4>
        <h2>Work item title</h2>
        {{> view}}
    </article>
    <article>
        <h4>Category</h4>
        <h2>Work item title</h2>
        {{> view}}
    </article>

    <article>
        <h4>Category</h4>
        <h2>Work item title</h2>
        {{> view}}
    </article>
    <article>
        <h4>Category</h4>
        <h2>Work item title</h2>
        {{> view}}
    </article>
    <article>
        <h4>Category</h4>
        <h2>Work item title</h2>
        {{> view}}
    </article>

    <article>
        <h4>Category</h4>
        <h2>Work item title</h2>
        {{> view}}
    </article>
    <article>
        <h4>Category</h4>
        <h2>Work item title</h2>
        {{> view}}
    </article>
    <article>
        <h4>Category</h4>
        <h2>Work item title</h2>
        {{> view}}
    </article>
</section>