.card {
    width: $card-width;
    margin: $space-extra;
    padding: $space-extra;
    color: $black;
    background: $white;

    h1 {
        margin-bottom: $space-large;
    }

    em {
        color: $blue;
        font-style: normal;
    }

    .input {
        max-width: 100%;
    }

    // MEDIA QUERIES

	@media (max-height: $screen-height-small) {
        width: $card-width-small;

        h1 {
            margin-bottom: $space-base + $space-tiny;
        }
    }
}