body > header {
	display: inline-block;
	width: $header-width;
	height: 100vh;
	padding: $space-large;

    @include flexbox();
    @include flex-direction(column);
	@include align-items(center);
    @include justify-content(space-between);

	.logo {
		display: block;
		width: $header-width - ($space-large * 2);
		height: $header-width - ($space-large * 2);
		border-radius: 50%;

		&:hover,
		&:active {
			background: transparent;
		}

		&.has-focus {
			box-shadow: 0 0 0 $space-small $yellow;
		}

		img {
			width: inherit;
			height: inherit;
		}
	}

	nav {
		margin-top: $space-large;
		text-align: center;

		a {
			@extend h5;

			margin-bottom: $space-tiny;
			padding: $space-small;
			padding-bottom: $space-small - $text-fix;
			border: 1px solid transparent;
			transition: all $speed-default ease;
			cursor: pointer;

			&:active {
				color: $white;
			}

			&.is-current {
				color: $blue;
				border-color: $blue;
				text-decoration: none;
				pointer-events: none;

				&:focus {
					background: transparent;
				}
			}
		}
	}

    .current-section {
		margin-bottom: $space-large;
		writing-mode: vertical-lr;

		@include flexbox();
		@include flex-direction(column);
		@include justify-content(center);
		@include transform(rotate(180deg));

		h4, h6 {
			display: block;
			text-align: center;
			transition: all $speed-default ease;
		}

		h6 {
			margin-left: $space-tiny;
		}
    }

	.social {
		@include flexbox();
		@include flex-direction(column);
		@include justify-content(center);

		a {
			width: 30px;
			height: 30px;
			margin-top: $space-small;

			@include flexbox();
			@include align-items(center);
			@include justify-content(center);

			svg	{
				@include transform(scale(1.2));
			}
		}
	}
}