#home {
	color: white;
	background-image: url($path-images + 'bg-mom.jpg');

	@include flex-direction(column);

	.logo {
	    width: 320px;
	    height: 320px;
	    margin-bottom: $space-extra;
	}

	h1 {
		max-width: 500px;
		color: $white;
		text-align: center;
		text-shadow: $text-shadow;
	}
}
