.tooltip {
    z-index: $z-index-tooltip;
    position: absolute;
    padding: $space-tiny $space-small;
    // Fix for text alignment
    padding-bottom: $space-tiny - $text-fix;
    color: $blue;
    background: $yellow;
    font-size: 0.8em; // 16px
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
        opacity $speed-default ease,
        transform $speed-default ease;

    @include transform(translate(0, 100%));

    &::after {
        content: '';
        z-index: $z-index-tooltip - 1;
        position: absolute;
        top: auto;
        right: auto;
        bottom: 1px;
        left: 50%;
        width: $tooltip-caret-width;
        height: $tooltip-caret-width;
        background: inherit;
        font-size: 1rem;
        user-select: none;

        @include transform(translate(-50%, 50%) rotate(45deg));
    }

    &.is-visible {
        opacity: 1;
        visibility: visible;

        @include transform(translate(0, 0));
    }
}