#about {
	height: calc(100vh - 80px);
	color: white;
	background-image: url($path-images + 'bg-brownie.jpg');
	background-color: $blue;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	overflow: hidden;

    h1 {
		color: $white;
		text-align: center;

		@include text-shadow(2px, 2px, 0, rgba(0,0,0,0.5));
	}
}

