button {
    border: 0;
    outline: 0;
    cursor: pointer;

    &.scroll {
        z-index: $scroll-btn-index;
        position: fixed;
        width: $scroll-btn-width;
        height: $scroll-btn-width;
        color: $blue;
        background: $yellow;
        transition: all $speed-default ease;

        svg {
            vertical-align: middle;
            pointer-events: none;

            @include transform(scale(1.2));
        }

        &:hover {
            color: $yellow;
            background: $blue;
        }

        &:active {
            color: $blue;
            background: $yellow;
        }

        &.has-focus {
            box-shadow: $btn-scroll-shadow-focus;
        }

        &.up,
        &.down,
        &.top {
            left: 50%;
        }

        &.up {
            top: 0;

            &:hover {
                svg {
                    // Moving up animation
                    @include animation(anim-arrow-up $speed-slowest infinite linear);

                    @include keyframes(anim-arrow-up) {
                        0% {
                            @include transform(scale(1.2) translate(0, 0));
                        }
                        33% {
                            @include transform(scale(1.2) translate(0, -4px));
                        }
                        66% {
                            @include transform(scale(1.2) translate(0, 4px));
                        }
                        100% {
                            @include transform(scale(1.2) translate(0, 0));
                        }
                    }
                }
            }
        }

        &.down {
            bottom: 0;

            svg {
                @include transform(scale(1.2) rotate(180deg));
            }

            &:hover {
                svg {
                    // Moving down animation
                    @include animation(anim-arrow-down $speed-slowest infinite linear);

                    @include keyframes(anim-arrow-down) {
                        0% {
                            @include transform(scale(1.2) rotate(180deg) translate(0, 0));
                        }
                        33% {
                            @include transform(scale(1.2) rotate(180deg) translate(0, 4px));
                        }
                        66% {
                            @include transform(scale(1.2) rotate(180deg) translate(0, -4px));
                        }
                        100% {
                            @include transform(scale(1.2) rotate(180deg) translate(0, 0));
                        }
                    }
                }
            }
        }

        // BACK TO TOP

        &.top {
            bottom: 0;

            &:hover {
                svg {
                    // Moving up animation
                    @include animation(anim-back-top $speed-slowest infinite linear);

                    @include keyframes(anim-back-top) {
                        0% {
                            @include transform(scale(1.2) translate(0, 0));
                        }
                        33% {
                            @include transform(scale(1.2) translate(0, -4px));
                        }
                        66% {
                            @include transform(scale(1.2) translate(0, 4px));
                        }
                        100% {
                            @include transform(scale(1.2) translate(0, 0));
                        }
                    }
                }
            }
        }

        // USED WITHIN THE WORK SECTION

        &.left,
        &.right {
            position: fixed;
            top: 50%;

            @include transform(translate(0, -50%));
        }

        &.left {
            left: $header-width - ($scroll-btn-width / 2);

            svg {
                @include transform(scale(1.2) rotate(180deg));
            }

            &:hover {
                svg {
                    // Moving left animation
                    @include animation(anim-move-left $speed-slowest infinite linear);

                    @include keyframes(anim-move-left) {
                        0% {
                            @include transform(scale(1.2) rotate(180deg) translate(0, 0));
                        }
                        33% {
                            @include transform(scale(1.2) rotate(180deg) translate(-4px, 0));
                        }
                        66% {
                            @include transform(scale(1.2) rotate(180deg) translate(4px, 0));
                        }
                        100% {
                            @include transform(scale(1.2) rotate(180deg) translate(0, 0));
                        }
                    }
                }
            }
        }

        &.right {
            right: $footer-width - ($scroll-btn-width / 2);
            left: auto;

            &:hover {
                svg {
                    // Moving right animation
                    @include animation(anim-move-right $speed-slowest infinite linear);

                    @include keyframes(anim-move-right) {
                        0% {
                            @include transform(scale(1.2) translate(0, 0));
                        }
                        33% {
                            @include transform(scale(1.2) translate(4px, 0))
                        ; }
                        66% {
                            @include transform(scale(1.2) translate(-4px, 0)
                        ); }
                        100% {
                            @include transform(scale(1.2) translate(0, 0));
                        }
                    }
                }
            }
        }

        // INVERTED BUTTONS FOR YELLOW SECTIONS

        &.on-yellow {
            color: $yellow;
            background: $blue;

            &:hover {
                color: $blue;
                background: $yellow;
            }

            &:active {
                color: $yellow;
                background: $blue;
            }

            &.has-focus {
                box-shadow: $shadow-focus;
            }
        }

        // HIDING CLASS

        &.is-hidden {
            opacity: 0;
            pointer-events: none;
        }
    }

    // MODAL CLOSE BUTTON

    &.close {
        position: absolute;
        right: $space-extra;
        width: $scroll-btn-width;
        height: $scroll-btn-width;
        color: $blue;
        background: $yellow;
        transition: all $speed-default ease;

        svg {
            vertical-align: middle;
            pointer-events: none;

            @include transform(scale(1.2));
        }

        &:hover {
            color: $yellow;
            background: $blue;
        }

        &:active {
            color: $blue;
            background: $yellow;
        }

        &.has-focus {
            box-shadow: $btn-scroll-shadow-focus;
        }
    }
}
