button {
    border: 0;
    outline: 0;
    cursor: pointer;

    &.scroll {
        z-index: 100;
        position: fixed;
        left: 50%;
        width: $scroll-btn-width;
        height: $scroll-btn-width;
        color: $blue;
        background: $yellow;
        transition: all $speed-default ease;

        @include transform(translate(-25%, 0));

        svg {
            vertical-align: middle;

            @include transform(scale(1.2));
        }

        &:hover {
            color: $yellow;
            background: $blue;
        }

        &:active {
            color: $blue;
            background: $yellow;
        }

        &.up {
            top: 0;

            &:hover {
                svg {
                    // Moving up animation
                    @include animation(anim-arrow-up $speed-slowest infinite linear);

                    @include keyframes(anim-arrow-up) {
                        0% { @include transform(scale(1.2) translate(0, 0)); }
                        33% { @include transform(scale(1.2) translate(0, -4px)); }
                        66% { @include transform(scale(1.2) translate(0, 4px)); }
                        100% { @include transform(scale(1.2) translate(0, 0)); }
                    }
                }
            }
        }

        &.down {
            bottom: 0;

            svg {
                @include transform(scale(1.2) rotate(180deg));
            }

            &:hover {
                svg {
                    // Moving down animation
                    @include animation(anim-arrow-down $speed-slowest infinite linear);

                    @include keyframes(anim-arrow-down) {
                        0% { @include transform(scale(1.2) rotate(180deg) translate(0, 0)); }
                        33% { @include transform(scale(1.2) rotate(180deg) translate(0, 4px)); }
                        66% { @include transform(scale(1.2) rotate(180deg) translate(0, -4px)); }
                        100% { @include transform(scale(1.2) rotate(180deg) translate(0, 0)); }
                    }
                }
            }
        }

        // BACK TO TOP

        &.top {
            bottom: 0;

            &:hover {
                svg {
                    // Moving up animation
                    @include animation(anim-back-top $speed-slowest infinite linear);

                    @include keyframes(anim-back-top) {
                        0% { @include transform(scale(1.2) translate(0, 0)); }
                        33% { @include transform(scale(1.2) translate(0, -4px)); }
                        66% { @include transform(scale(1.2) translate(0, 4px)); }
                        100% { @include transform(scale(1.2) translate(0, 0)); }
                    }
                }
            }
        }

        // USED WITHIN THE WORK SECTION

        &.left,
        &.right {
            position: absolute;
            top: 50%;

            @include transform(translate(0, -50%));
        }

        &.left {
            left: 0;

            svg {
                @include transform(scale(1.2) rotate(180deg));
            }

            &:hover {
                svg {
                    // Moving left animation
                    @include animation(anim-move-left $speed-slowest infinite linear);

                    @include keyframes(anim-move-left) {
                        0% { @include transform(scale(1.2) rotate(180deg) translate(0, 0)); }
                        33% { @include transform(scale(1.2) rotate(180deg) translate(-4px, 0)); }
                        66% { @include transform(scale(1.2) rotate(180deg) translate(4px, 0)); }
                        100% { @include transform(scale(1.2) rotate(180deg) translate(0, 0)); }
                    }
                }
            }
        }

        &.right {
            right: 0;
            left: auto;

            &:hover {
                svg {
                    // Moving right animation
                    @include animation(anim-move-right $speed-slowest infinite linear);

                    @include keyframes(anim-move-right) {
                        0% { @include transform(scale(1.2) translate(0, 0)); }
                        33% { @include transform(scale(1.2) translate(4px, 0)); }
                        66% { @include transform(scale(1.2) translate(-4px, 0)); }
                        100% { @include transform(scale(1.2) translate(0, 0)); }
                    }
                }
            }
        }

        &.is-hidden {
            opacity: 0;
            pointer-events: none;
        }
    }
}
