.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
	overflow: auto;
    padding: 40px;
    background: $white;

    @include transform(translate(100%, 0));
    @include transition(transform 0.4s ease);

    &.is-open {
        @include transform(translate(25%, 0));
    }
}
