.modal {
    z-index: $modal-index;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	overflow-y: auto;
    width: 100vw;
    height: 100vh;
    background: transparent;
    backdrop-filter: blur(2px);
    transition: transform $speed-slow ease;
    cursor: pointer;

    @include transform(translate(100%, 0));

    // MODAL CLOSE BUTTON

    ~ #close-modal {
        z-index: $modal-index + 1;
        position: fixed;
        top: $space-modal * 2;
        right: $space-modal * 2;
        visibility: hidden;
        opacity: 0;
        transition: opacity $speed-slow $speed-slow ease;
    }

    // MODAL OPENING CLASS

    &.is-open {
        background: rgba($white, .8);

        @include transform(translate(0, 0));

        ~ #close-modal {
            visibility: visible;
            opacity: 1;
        }
    }

    .container {
        width: calc(100% - (#{$header-width} * 2) - #{$footer-width});
        min-height: 100vh;
        margin-right: $footer-width;
        margin-left: $header-width * 2;
        padding: $space-modal;
        background-color: $white;
        background-image: url('../images/pattern-blue-faded.png');
        transition: transform $speed-slow ease;
        cursor: default;

        article {
            padding: $space-modal;
            max-width: $max-article-width;
            background: $white;

            @include flexbox();
            @include flex-direction(column);

            > * {
                @include flex-grow(0);
            }

            h1 {
                margin-bottom: $space-large;
                font-size: 46px;
            }

            p {
                max-width: $max-text-width;
            }

            img,
            iframe,
            .vimeo {
                margin: $space-large 0;

                &:not(:last-of-type) {
                    margin-bottom: 0;
                }

                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            // VIMEO VIDEO WRAPPER

            .vimeo {
                position:relative;
                padding: 56.25% 0 0 0;
            }
        }
    }
}
