#work {
	position: relative;
	width: 100%;
	padding: 0;
	background: tint($blue, 20%);

	@include flex-direction(row);
	@include flex-wrap(wrap);
	@include justify-content(flex-start);

	article {
		position: relative;
		width: calc(100% / 3);
		height: calc(100vh / 3 - #{$space-small} - #{$space-small});
		padding: $space-large;
		background-color: transparent;
		background-image: url('../images/thumbs/test.jpg');
		background-size: cover;
		background-position: center;
		transition: all $speed-default ease;
		cursor: pointer;

		@include flexbox();
		@include flex(1 1 auto);
		@include flex-direction(column);
		@include justify-content(center);
		@include align-items(center);

		&::before,
		&::after {
			content: '';
			z-index: 0;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
		}

		// The filtered image

		&::before {
			background-image: inherit;
			background-size: inherit;
			background-position: inherit;

			@include filter(grayscale, 100%);
		}

		// The blue overlay

		&::after {
			background-color: $blue;
			background-image: url('../images/pattern-white-faded.png');
		}

		h2 {
			color: $white;
			text-align: center;
		}

		h4 {
			margin-bottom: $space-base;
			color: $yellow;
			font-weight: $regular;

			&::after {
				content: '';
				display: block;
				width: 100%;
				height: $stroke-height;
				margin-top: $space-small;
				background: $yellow;
			}
		}

		.view {
			margin-top: $space-large;
			padding: $space-small;
			color: $blue;
			background: $yellow;
			font-family: $header-font;
			font-weight: $regular;
			text-transform: uppercase;

			@include flexbox();
			@include align-items(center);

			svg {
				margin-right: $space-tiny;
			}
		}

		h2, h4, .view {
			z-index: 1;
			opacity: 0;
			transition: inherit;
		}

		&:hover {
			&::before {
				opacity: 1;
			}

			&::after {
				opacity: .8;
			}

			h2, h4, .view {
				opacity: 1;
			}
		}
	}
}
