<!DOCTYPE html>
<html lang="en">

<head>
    <title>menosketiago™ — Alien 1979</title>

	{{> head/meta}}
	{{> head/og}}
	{{> head/links-scripts}}
</head>

<body class="theme-dark theme-alien">
	<div class="wrapper">
		<header class="work-header">
			{{> layout/work-header}}
		</header>

		<main class="work-main">
            <section class="summary short">
                <h1>Alien 1979</h1>

                <article class="grid-3-2">
                    <div>
                        <p>
                            High on the hype for the then-upcoming <b>Alien: Covenant</b>, I created this humble homage poster for the original <b>Alien</b> movie.
                        </p>
                        <p>
                            This 1979 cult film pitted Ellen Ripley, her crew of humans, and their cat Jonesy, against the now-classic H.R. Giger-designed xenomorph.
                        </p>
                        <p>
                            I hoped to capture the original movie poster color palette and typography with a minimal vector-based illustration that shows Ripley in a late film scene, wearing a spacesuit where the helmet offers a brief reflection of the alien creature. The red glow hints to the upcoming xenomorph ejection into the cold and void of space.
                        </p>
                    </div>

                    <aside>
                        <div>
                            <h5>Role</h5>

                            <div class="pill-group">
                                <div class="pill">Illustrator</div>
                            </div>
                        </div>

                        <div>
                            <h5>Tools</h5>

                            <div class="pill-group">
                                <div class="pill">Adobe Illustrator</div>
                                <div class="pill">Adobe Photoshop</div>
                            </div>
                        </div>
                    </aside>
                </article>

                <video autoplay loop muted playsinline aria-label="An animated image with a stylized illustration of Ellen Ripley in a spacesuit looking at the xenomorph from the 1979 movie Alien">
                    <source src="/videos/alien.webm" type="video/webm">
                    <source src="/videos/alien.mp4" type="video/mp4">
                    <img src="/images/alien/alien.gif" alt="This is a fallback image in case your browser does not support HTML5">
                </video>
            </section>

            {{!-- More work section --}}

            <h2>More work</h2>

            <section class="dual-column">
                {{!-- {{> summaries/klarna}} --}}
                {{> summaries/trids}}
                {{> summaries/ericsson}}
            </section>
		</main>

		{{!-- Back to top button --}}
		<a href="#top" target="_self" class="back-to-top"></a>

		<footer>
			{{> layout/footer}}
		</footer>
	</div>

	{{> tooltip}}

    <div class="cursor"></div>

	{{!-- JS --}}
	<script src="/index.js" type="text/javascript"></script>
</body>

</html>