{{!-- Prevent search engines from indexing these partials --}}
<meta name="robots" content="noindex, nofollow">

<aside>
    <h5>Created</h5>
    <h6><time>2018</time></h6>

    <h5>Employer</h5>
    <h6>Personal project</h6>
</aside>

<header>
    <h3>Illustration</h3>
    <h1>Alien 1979</h1>

    <hgroup>
        <h5>Tools</h5>
        <h6>Illustrator • Photoshop</h6>
    </hgroup>
</header>

<p>
    Atiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
</p>

<img src="./images/work/alien.gif" alt="">