<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}
</head>

<body class="theme-dark theme-alien">
	<div class="wrapper">
		<header class="work-header">
			{{> layout/work-header}}
		</header>

		<main class="work-main">
            <div>
                <h1>Alien 1979</h1>

                <p>
                    High on the hype for the then-upcoming <b>Alien: Covenant</b>, I created this humble homage poster for the original <b>Alien</b> movie.
                </p>

                <p>
                    This 1979 cult film pitted Ellen Ripley, her crew of humans, and their cat Jonesy, against the now-classic H.R. Giger-designed xenomorph.
                </p>

                <p>
                    I hoped to capture the original movie poster color palette and typography with a minimal vector-based illustration that shows Ripley in a late film scene, wearing a spacesuit where the helmet offers a brief reflection of the alien creature. The red glow preconizes the upcoming xenomorph ejection into the cold and void of space.
                </p>

                <p>
                    Buy the poster on → <a href="https://goo.gl/8ATQSD" target="_blank" rel="noopener">Society 6</a>
                </p>
            </div>

            <aside>
                <hgroup>
                    <h4>ROLE —</h4>
                    <p>Illustrator</p>
                </hgroup>

                <hgroup>
                    <h4>Tools —</h4>
                    <p>
                        Adobe Illustrator<br>
                        Adobe Photoshop
                    </p>
                </hgroup>
            </aside>

            <video autoplay loop muted playsinline aria-label="An animated image with a stylized illustration of Ellen Ripley in a spacesuit looking at the xenomorph from the 1979 movie Alien">
                <source src="/videos/alien.webm" type="video/webm">
                <source src="/videos/alien.mp4" type="video/mp4">
                <img src="/images/alien/alien.gif" alt="This is a fallback image in case your browser does not support HTML5">
            </video>
		</main>

		{{!-- Back to top button --}}
		<a href="#top" target="_self" class="back-to-top"></a>

		<footer>
			{{> layout/footer}}
		</footer>
	</div>

	{{> tooltip}}

	{{!-- JS --}}
	<script src="/index.js" type="text/javascript"></script>

    {{!-- Howler.js --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>
</body>

</html>