{{!-- Prevent search engines from indexing these partials --}}
<meta name="robots" content="noindex, nofollow">

<aside>
    <h5>Created</h5>
    <h6><time>2018</time></h6>
</aside>

<header>
    <h3>Illustration</h3>
    <h1>Alien 1979</h1>

    <hgroup>
        <h5>Tools</h5>
        <h6>Illustrator • Photoshop</h6>
    </hgroup>
</header>

<p>
    With just a few days to go for <em>Alien Covenant</em>, here is my humble homage poster to the original <em>Alien</em> film that pited Ellen Ripley and Jonesy against the now mytical xenomorph.
</p>

<p>
    You can buy it at <a href="https://goo.gl/8ATQSD" target="_blank" rel="noopener">Society 6</a>
</p>

<video autoplay loop muted playsinline aria-label="An animated image with a stylized illustration of Ellen Ripley in a spacesuit looking at the xenomorph from the 1979 movie Alien">
    <source src="./videos/alien.webm" type="video/webm">
    <source src="./videos/alien.mp4" type="video/mp4">
    <img src="./images/work/alien.gif" alt="This is a fallback image in case your browser does not support HTML5">
</video>