{{!-- Prevent search engines from indexing these partials --}}
<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}
</head>

<body class="theme-dark">
	<div class="wrapper">
		<header class="work-header">
			{{> layout/work-header}}
		</header>

		<main class="work-main">
            <article class="grid-3-2 gap-jumbo">
                <div>
                    <h1>Ericsson Design System</h1>
                    <p>
                        By the end of 2017, in a climate of turmoil due to less than optimal financial results and significant layoffs, it was clear that <b>Ericsson</b> needed a facelift and a mindset shift to avoid missing the new opportunities with the arrival of 5G.
                    </p>
                    <p>
                        To kickstart what was seen internally as a transformational journey, a new brand was commissioned from <b>Stockholm Design Lab</b>. My team was involved as stakeholders, and we codenamed the project <b>Brand TwoDotZero</b>.
                    </p>
                </div>

                <aside>
                    <hgroup>
                        <h4>Role —</h4>
                        <h5>Senior Interaction/Visual Designer</h5>
                    </hgroup>
                    <hgroup>
                        <h4>Awards —</h4>
                        <h5>
                            <a href="https://tinyurl.com/y36c27cb" target="_blank" rel="noopener" class="arrow-right">Red Dot</a>
                        </h5>
                        <h5>
                            <a href="https://tinyurl.com/rm78zr9" target="_blank" rel="noopener" class="arrow-right">IF Design</a>
                        </h5>
                    </hgroup>
                    <hgroup>
                        <h4>Tools —</h4>
                        <h5>Sketch</h5>
                        <h5>Principle</h5>
                        <h5>Adobe Illustrator</h5>
                        <h5>Adobe Photoshop</h5>
                        <h5>Adobe fter Effects</h5>
                    </hgroup>
                    <hgroup>
                        <h4>Team —</h4>
                        <h5>
                            <a href="https://www.linkedin.com/in/didier-chincholle-public/" target="_blank" rel="noopener" class="arrow-right">Didier Chincholle</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/grecojuan/" target="_blank" rel="noopener" class="arrow-right">Juan Greco</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/onkurt/" target="_blank" rel="noopener" class="arrow-right">Onur Kurt</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/arianebundoc/" target="_blank" rel="noopener" class="arrow-right">Ariane Bundoc</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/linda-holmqvist-14222567/" target="_blank" rel="noopener" class="arrow-right">Linda Holmqvist</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/jcandersson/" target="_blank" rel="noopener" class="arrow-right">Johannes Andersson</a>
                        </h5>
                    </hgroup>
                </aside>
            </article>

            <figure>
                <picture>
                    <source srcset="/images/ericsson/devices.avif" type="image/avif">
                    <source srcset="/images/ericsson/devices.webp" type="image/webp">
                    <img src="/images/ericsson/devices.jpg" alt="Ericsson's UX 2.0 concept shown on different devices">
                </picture>
                <figcaption>Ericsson's UX 2.0 concept shown on different devices</figcaption>
            </figure>

            <article class="grid-2-3">
                <h2>Crafting a new typeface —</h2>
                <div>
                    <p>
                        One of my first tasks was to gather design requirements for a new custom Ericsson typeface meant to be the first building block of the brand rebuild effort. We quickly picked a couple of basic needs. One of our first consensuses was that it had to convey "swedishness", a mix of swiss design with tech modernity that was well illustrated by <a href="https://identity.sweden.se/buildingblocks/secondary-building-blocks-always-use#our-main-typeface" target="_blank" rel="noopener">Sweden Sans</a>.
                    </p>
                    <p>
                        From a technical standpoint, we were very adamant about having features like a monospace option, slashed zeros (to differentiate "o" from "0" easily), and tabular numerals (so that you can compare number greatness visually and for data visualization purposes). After plenty of ideation and iterations, <a href="https://lettersfromsweden.se/ericsson/" target="_blank" rel="noopener">Letters from Sweden</a> delivered <b>Hilda Sans</b>, an homage to Lars Magnus Ericsson's wife.
                    </p>
                </div>
            </article>

            <video controls loop playsinline poster="/images/_posters/hilda-sans.jpg" aria-label="A video showcasing the new Hilda Sans typeface">
                <source src="/videos/ericsson/hilda-sans.webm" type="video/webm">
                <source src="/videos/ericsson/hilda-sans.mp4" type="video/mp4">
            </video>

            <article class="grid-2-3">
                <h2>A User Experience first brand —</h2>
                <div>
                    <p>
                        If we wanted the new brand to have a real transformational and galvanizing effect, we needed to flip the Ericsson rule book around. We focused on creating design (not designer) principles that would be at the core of everything the company did to move forward into the future.
                    </p>
                    <p>
                        In the end, three brand principles were adopted as mantras that everyone could mentally recite. <b>Focused simplicity</b>, <b>delight means performance</b>, and <b>coherence inside out</b>.
                    </p>
                    <p>
                        Based on these, we generated specific UX principles to guide designers and developers. I called this the <b>Ericsson UX 2.0</b> vision and presented it during the <b>Ericsson Leadership Summit 2017</b>, an event that packed Globen with the top worldwide managers.
                    </p>
                </div>
            </article>

            <article class="grid-2-2 align-center">
                <div>
                    <h3>Focused simplicity</h3>
                    <p>
                        We should make things as simple as possible, removing unnecessary details and decoration, which might get in the way of the experience.
                    </p>
                </div>

                <video autoplay loop muted playsinline aria-label="An animation illustrating focused simplicity" style="width: 50%;">
                    <source src="/videos/ericsson/focused-simplicity.webm" type="video/webm">
                    <source src="/videos/ericsson/focused-simplicity.mp4" type="video/mp4">
                </video>
            </article>

            <article class="grid-2-2 align-center">
                <video autoplay loop muted playsinline aria-label="An animation showing the UI layering concept">
                    <source src="/videos/ericsson/kinetic-layers.webm" type="video/webm">
                    <source src="/videos/ericsson/kinetic-layers.mp4" type="video/mp4">
                </video>

                <div>
                    <h3>Kinetic layers</h3>          
                    <p>
                        Light and shadow are two important building blocks of reality and play a big role in the way we experience the world. The closer a layer is to the user, the lighter it gets. Layering is also a great way to convey hierarchy, clarifying the order of triggered events and other interface changes.
                    </p>
                </div>
            </article>

            <article class="grid-2-2 align-center">
                <div>
                    <h3>Actionable first</h3>
                    <p>
                        We live in a world where lightning fast decisions need to be made and decisive actions taken without second guessing. Our users should be able to know what they need to focus on first and prioritize their actions based on this knowledge.
                    </p>
                </div>

                <video autoplay loop muted playsinline aria-label="An animation illustrating the concept of actionable first" style="width: 50%;">
                    <source src="/videos/ericsson/actionable-first.webm" type="video/webm">
                    <source src="/videos/ericsson/actionable-first.mp4" type="video/mp4">
                </video>
            </article>

            <article class="grid-2-2 align-center">
                <video autoplay loop muted playsinline aria-label="An animation illustrating how information should be disclosed progressively" style="width: 70%;">
                    <source src="/videos/ericsson/progressive-disclosure.webm" type="video/webm">
                    <source src="/videos/ericsson/progressive-disclosure.mp4" type="video/mp4">
                </video>
                
                <div>
                    <h3>Progressive disclosure</h3>
                    <p>
                        Even data should use the layering concept, turning huge pools of content, into digestible and digestible chunks of information. Information should be categorized and grouped, creating different levels of detail that can be dug into, allowing the user to get invaluable insights.
                    </p>
                </div>
            </article>

            <article class="grid-2-2 align-center">
                <div>
                    <h3>Iconic data visualization</h3>
                    <p>
                        Data visualization is an extremely powerful tool, allowing users to get actionable insights on their data. Our focus should be on delivering valuable information, following a graphically refined and character rich design language, that will be clearly perceived as <b>Ericsson</b>.
                    </p>
                </div>

                <video autoplay loop muted playsinline aria-label="An animation showing how Ericsson data viz looks like" style="width: 70%;">
                    <source src="/videos/ericsson/data-viz.webm" type="video/webm">
                    <source src="/videos/ericsson/data-viz.mp4" type="video/mp4">
                </video>
            </article>

            <article class="grid-2-2 align-center">
                <video autoplay loop muted playsinline aria-label="An animation illustrating how motion can enhance understanding" style="width: 70%;">
                    <source src="/videos/ericsson/motion-as-enhancer.webm" type="video/webm">
                    <source src="/videos/ericsson/motion-as-enhancer.mp4" type="video/mp4">
                </video>

                <div>
                    <h3>Motion as an enhancer</h3>
                    <p>
                        We use motion to make the outcome of user actions crystal clear and direct attention to important system changes. It should not be just an afterthought but a crucial component of the experience, taken into account from the start.
                    </p>
                </div>
            </article>

            <article class="grid-2-3 m-th">
                <h2>Contextual contrast —</h2>
                <div>
                    <p>
                        Our software is experienced by many people in different contexts, with varying productivity, accessibility and health requirements. As such we designed two themes, that can either be chosen from user research findings or offered as a switchable user option.
                    </p>
                    <p>
                        A <b>Dark Theme</b>, that carries a bold, tech oriented and future proof brand message, while catering for our users health, improving productivity and ability to assimilate data. A <b>Light Theme </b> that can be selected for specific use cases, where high luminosity and better text readability are critical.
                    </p>
                </div>
            </article>

            <video controls loop playsinline aria-label="A video showcasing the different user interface contrast options">
                <source src="/videos/ericsson/contextual-contrast.webm" type="video/webm">
                <source src="/videos/ericsson/contextual-contrast.mp4" type="video/mp4">
            </video>

            <article class="grid-2-3">
                <h2>From low fidelity to simulated experience —</h2>
                <p>
                    Principles like the word suggests (from the Latin word <i>principium</i>) are only the beginning, and they have to be tested and applied so that you can know their mettle. During several weeks, the entire team came together to bring one of the products we were responsible for into this new vision and design language.
                </p>
            </article>

            <article class="grid-1-4">
                <h3>Low fidelity prototyping</h3>
                <p>
                    To better explain and get buy-in from management for the layers concept, I created a quick and dirty prototype using <b>Principle</b>. This enabled us to move the conversation from vision to practice, as some stakeholders did not fully grasp the concept until they saw it as moving pixels.
                </p>
            </article>

            <video controls loop playsinline aria-label="A video of one of the initial prototypes done to validate the kinetic layers concept">
                <source src="/videos/ericsson/proto-layers.webm" type="video/webm">
                <source src="/videos/ericsson/proto-layers.mp4" type="video/mp4">
            </video>

            <article class="grid-1-4">
                <h3>Sketch and Principle</h3>
                <div>
                    <p>
                        With everyone on board with the majority of the new concepts, it was time to start refining the actual UI elements. It was also the perfect timing to transition from <b>Adobe Illustrator</b>, which was until then the official tool for mockups, towards <b>Sketch</b>, a much better tool for interface design that came with shared design libraries as much needed addition.
                    </p>
                    <p>
                        The other benefit was a tight integration with Principle, which made creating higher fidelity prototypes a breeze.
                    </p>
                    </div>
            </article>

            <figure>
                <picture>
                    <source srcset="/images/ericsson/sketch-login.avif" type="image/avif">
                    <source srcset="/images/ericsson/sketch-login.webp" type="image/webp">
                    <img src="/images/ericsson/sketch-login.jpg" alt="Sketch screenshot with the login flow">
                </picture>
                <figcaption class="bottom">The login flow in Sketch</figcaption>
            </figure>

            <figure>
                <picture>               
                    <source srcset="/images/ericsson/sketch-launcher.avif" type="image/avif">
                    <source srcset="/images/ericsson/sketch-launcher.webp" type="image/webp">
                    <img src="/images/ericsson/sketch-launcher.jpg" alt="Sketch screenshot with the launcher flow">
                </picture>
                <figcaption class="bottom">The launcher flow in Sketch</figcaption>
            </figure>

            <video controls playsinline aria-label="A video captured from the Principle login flow prototype">
                <source src="/videos/ericsson/proto-login.webm" type="video/webm">
                <source src="/videos/ericsson/proto-login.mp4" type="video/mp4">
            </video>

            <article class="grid-1-4">
                <h3>Creating an end-to-end user flow</h3>
                <div>
                    <p>
                        The last step before the big reveal on the leadership summit, was to lift an end-to end flow from the <b>Ericsson Security Manager</b> (a product being designed in our team) and translate it into the new design language.
                    </p>
                    <p>
                        To achieve it, we created pixel-perfect mockups for all the screens and animated every little interaction in <b>After Effects</b>. Doing so allowed us, in the short time we had until the brand reveal, to produce a video that looked like a real functioning product would eventually look like after implemented.
                    </p>
                </div>
            </article>

            <figure>
                <picture>
                    <source srcset="/images/ericsson/sketch-esm-flow.avif" type="image/avif">
                    <source srcset="/images/ericsson/sketch-esm-flow.webp" type="image/webp">
                    <img src="/images/ericsson/sketch-esm-flow.jpg" alt="Sketch screenshot with the ESM flow">
                </picture>
                <figcaption class="bottom">The ESM flow in Sketch</figcaption>
            </figure>

            <video controls playsinline aria-label="A video showing the new user experience concept applied to the Ericsson Security Manager product">
                <source src="/videos/ericsson/esm.webm" type="video/webm">
                <source src="/videos/ericsson/esm.mp4" type="video/mp4">
            </video>

            <article class="grid-2-3">
                <h2>An award-winning Design System</h2>
                <div>
                    <p>
                        As a consultant, your stay on a company is always on a time limit, and by the Summer of 2017, Ericsson decided to start building up their in-house design team, to better prepare for a more design driven future.
                    </p>
                    <p>
                        By the end of the year, the <b>Ericsson Design System</b> that grew from the team's experience creating the tech stack agnostic <b>Loki</b> CSS/JS framework and the UX vision work we did for the new brand, was awarded a <a href="https://www.ericsson.com/en/press-releases/2018/8/ericsson-wins-red-dot-awards-for-brand-and-interface-design" target="_blank" rel="noopener">Red Dot Design Award</a> and an <a href="https://ifworlddesignguide.com/entry/256283-ericsson-design-system" target="_blank" rel="noopener">IF Design Award</a>.
                    </p>
                </div>
            </article>

            {{!-- More work section --}}

            <h1 class="m-th">—— More work</h1>

            <section class="dual-column">
                <article>
                    <a href="/work/esm-vr.html" target="_self">
                        <video autoplay loop muted playsinline aria-label="An animated image showing the Ericsson Security Manager VR concept">
                            <source src="/videos/ericsson/esm-vr-concept.webm" type="video/webm">
                            <source src="/videos/ericsson/esm-vr-concept.mp4" type="video/mp4">
                            <img src="/images/ericsson/esm-vr-concept.gif" alt="This is a fallback image in case your browser does not support HTML5">
                        </video>
                    </a>

                    <hgroup>
                        <h3>Eﬁricsson Security Manager VR</h3>
                        <h4>ROLE — <span>Art Director</span></h4>
                    </hgroup>

                    {{> summaries/esm-vr}}

                    <a href="/work/esm-vr.html" target="_self" class="btn arrow-right">Read more</a>
                </article>
                <article>
                    <a href="/work/trioptima.html" target="_self">
                        <picture>
                            <source srcset="/images/_thumbs/trids.avif 1x, /images/_thumbs/trids-2x.avif 2x" type="image/avif">
                            <source srcset="/images/_thumbs/trids.webp 1x, /images/_thumbs/trids-2x.webp 2x" type="image/webp">
                            <img class="logo" src="/images/_thumbs/trids.jpg" alt="">
                        </picture>
                    </a>
                
                    <hgroup>
                        <h3>TriOptima Design System</h3> 
                        <h4>ROLE — <span>Product Designer</span></h4>
                    </hgroup>

                    {{> summaries/trids}}

                    <a href="/work/trioptima.html" target="_self" class="btn arrow-right">Read more</a>
                </article>
            </section>
		</main>

		{{!-- Back to top button --}}
		<a href="#top" target="_self" class="back-to-top"></a>

		<footer>
			{{> layout/footer}}
		</footer>
	</div>

	{{> tooltip}}

    <div class="cursor"></div>

	{{!-- JS --}}
	<script src="/index.js" type="text/javascript"></script>

    {{!-- Howler.js --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>
</body>

</html>