{{!-- Prevent search engines from indexing these partials --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>menosketiago™ — Ericsson Security Manager VR</title>

	{{> head/meta}}
	{{> head/og}}
	{{> head/links-scripts}}
</head>

<body class="theme-dark">
	<div class="wrapper">
		<header class="work-header">
			{{> layout/work-header}}
		</header>

		<main class="work-main">
            <article class="grid-3-2 gap-jumbo">
                <div>
                    <h1>Ericsson Security Manager VR</h1>
                    <p>
                        With less than two months to go for the <b>Ericsson Leadership Summit 2017</b>, an event that gathered hundreds of Ericsson top managers from all over the world in Globen, the <b>Ericsson Customer Experience</b> team got a very unusual request from high up in the ladder.
                    </p>
                    <p>
                        We were asked to craft a VR experience that showed how the new brand could be applied to the new media. And even though our hands were already full with the creation of an end-to-end product flow, helping in the creation of a brand reveal video and doing our presentation of the <b>Ericsson UX 2.0</b> vision, we took up the challenge anyway.
                    </p>
                </div>

                <aside>
                    <hgroup>
                        <h4>Role —</h4>
                        <h5>Art Director</h5>
                    </hgroup>
                    <hgroup>
                        <h4>Tools —</h4>
                        <h5>HTC Vive</h5>
                        <h5>Unity</h5>
                        <h5>Cinema 4D</h5>
                        <h5>Illustrator</h5>
                        <h5>Photoshop</h5>
                    </hgroup>
                    <hgroup>
                        <h4>Team —</h4>
                        <h5>
                            <a href="https://www.linkedin.com/in/didier-chincholle-public/" target="_blank" rel="noopener" class="arrow-right">Didier Chincholle</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/grecojuan/" target="_blank" rel="noopener" class="arrow-right">Juan Greco</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/onkurt/" target="_blank" rel="noopener" class="arrow-right">Onur Kurt</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/arianebundoc/" target="_blank" rel="noopener" class="arrow-right">Ariane Bundoc</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/linda-holmqvist-14222567/" target="_blank" rel="noopener" class="arrow-right">Linda Holmqvist</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/jcandersson/" target="_blank" rel="noopener" class="arrow-right">Johannes Andersson</a>
                        </h5>
                    </hgroup>
                </aside>
            </article>

            <article class="grid-2-3">
                <h2>Trying and making VR for the first time —</h2>
                <div>
                    <p>
                        The main problem was that no one in the team had any previous experience with VR, nor even as users. So our first step was to borrow an <b>HTC Vive</b> and a beefy laptop from the <b>Ericsson Lab</b> and get our feet wet as we sailed previously unknown waters.
                    </p>
                    <p>
                        We learned a couple of things doing it, but two were critical insights. First, we did not have the necessary skills to develop the experience ourselves (even though we had some game engine experience) on such a short deadline. Secondly, as the first introduction to VR for many of the people at the summit, we needed to keep it simple enough and as motion sickness safe as possible.
                    </p>
                    <p>
                        To tackle these issues, we created a preliminary concept of what the experience would be like, and after convincing the stakeholders to allocate budget, we enlisted the much more experienced folks at <a href="https://www.mediamonks.com/" target="_blank" rel="noopener">Media Monks Stockholm</a>.
                    </p>
                </div>
            </article>

            <article class="grid-2-3">
                <h2>From 2D to 3D —</h2>
                <div>
                    <p>
                        Rewinding just a bit to the concept phase, we also had the challenge of making something that made reasonable sense, as part of a future Ericsson product portfolio. After some ideation, we decided to adapt the geolocation feature on the <b>Ericsson Security Manager</b> into virtual reality.
                    </p>
                    <p>
                        To visualize the concept, I created a 3D model of the globe in <b>Cinema 4D</b>, rendered out an image that showed the overall art direction and environment. After that, it was just a matter of mocking up the different HUD (heads up display) UI elements and create a rough experience flow in <b>Illustrator</b>.
                    </p>
                </div>
            </article>

            <figure>
                <picture>
                    <source srcset="/images/ericsson/esm-mock.avif" type="image/avif">
                    <source srcset="/images/ericsson/esm-mock.webp" type="image/webp">
                    <img src="/images/ericsson/esm-mock.jpg" alt="Sketch mockup of the map feature in ESM">
                </picture>
                <figcaption class="bottom">Sketch mockup of the map feature in ESM</figcaption>
            </figure>

            <figure>
                <video autoplay loop muted playsinline aria-label="An animated image that was used to illustrate how the VR experience should look and feel like">
                    <source src="/videos/ericsson/esm-vr-concept.webm" type="video/webm">
                    <source src="/videos/ericsson/esm-vr-concept.mp4" type="video/mp4">
                    <img src="/images/ericsson/esm-vr-concept.gif" alt="This is a fallback image in case your browser does not support HTML5">
                </video>
                <figcaption>A gif animation created to set the art direction</figcaption>
            </figure>

            <article class="grid-2-3">
                <h2>Accessible but memorable —</h2>
                <div>
                    <p>
                        Thanks to the team at Media Monks, it was smooth sailing until we had a working experience that we could let the summit attendants try. In the meantime, we addressed the logistics by building our own VR ready desktop computer and designing an easy to move tripod setup for all the sensors and cabling. The experience was available to the different groups that cycled through our UX vision presentation, as it was simple enough for everyone to have fun, with just a little bit of coaching.
                    </p>
                    <p>
                        The goal was to monitor security threats that would pop around the globe, get details about them, and optionally address them. After a set amount of time, the "software" would enforce the necessary security measures and fix all issues (which is what the product does in reality). Still, the majority of the participants quickly engaged and got around to fixing the incoming threats.
                    </p>
                </div>
            </article>

            <video controls playsinline aria-label="A video that shows the Ericsson Security Manager VR Experience">
                <source src="/videos/ericsson/esm-vr.webm" type="video/webm">
                <source src="/videos/ericsson/esm-vr.mp4" type="video/mp4">
            </video>

            {{!-- More work section --}}

            <h2 class="m-th">More work</h2>

            <section class="dual-column">
                {{> summaries/ericsson}}
                {{> summaries/trids}}
            </section>
		</main>

		{{!-- Back to top button --}}
		<a href="#top" target="_self" class="back-to-top"></a>

		<footer>
			{{> layout/footer}}
		</footer>
	</div>

	{{> tooltip}}

    <div class="cursor"></div>

	{{!-- JS --}}
	<script src="/index.js" type="text/javascript"></script>
</body>

</html>