{{!-- Prevent search engines from indexing these partials --}}
<meta name="robots" content="noindex, nofollow">

<aside>
    <h5>Timeframe</h5>
    <h6><time>2014</time>/<time>2015</time></h6>

    <h5>Employer</h5>
    <h6>Goo Technologies</h6>
</aside>

<header>
    <h3>Product Design • Web Devolpment</h3>
    <h1>Goo Create</h1>

    <hgroup>
        <h5>Tools</h5>
        <h6>UXPin • Illustrator • Photoshop • Bitbucket</h6>

        <h5>Code</h5>
        <h6>HTML • CSS (LESS) • Wordpress • Angular • React</h6>
    </hgroup>

    {{!-- Avatars --}}
    <section>
        <h5>Team</h5>
        <a id="herlitz" class="avatar" href="https://www.linkedin.com/in/rikardherlitz/" target="_blank"  rel="noopener" data-initials="RH" data-tooltip="Rikard Herlitz"></a>
        <a id="magnus" class="avatar" href="https://www.linkedin.com/in/herrpotemkin/" target="_blank"  rel="noopener" data-initials="MO" data-tooltip="Magnus Östergren"></a>
        <a id="strandgren" class="avatar" href="https://www.linkedin.com/in/mstrandgren/" target="_blank"  rel="noopener" data-initials="MS" data-tooltip="Martin Strandgren"></a>
        <a id="hugo" class="avatar" href="https://www.linkedin.com/in/hccampos/" target="_blank"  rel="noopener" data-initials="HC" data-tooltip="Hugo Campos"></a>
        <a id="sterling" class="avatar" href="https://www.linkedin.com/in/johnste/" target="_blank"  rel="noopener" data-initials="JS" data-tooltip="John Sterling"></a>
        <a id="jon" class="avatar" href="https://www.linkedin.com/in/kronander/" target="_blank"  rel="noopener" data-initials="JK" data-tooltip="Jon Kronander"></a>
        <a id="adrian" class="avatar" href="https://www.linkedin.com/in/adrian-toncean-57902767/" target="_blank"  rel="noopener" data-initials="AT" data-tooltip="Adrian Toncean"></a>
        <a id="carl" class="avatar" href="https://www.linkedin.com/in/carlhorned/" target="_blank"  rel="noopener" data-initials="CH" data-tooltip="Carl Horned"></a>
        <a id="puneesh" class="avatar" href="https://www.linkedin.com/in/puneesh-motwani-5677b6b/" target="_blank"  rel="noopener" data-initials="PM" data-tooltip="Puneesh Motwani"></a>
    </section>
</header>

<p>
    <em>Goo Create</em> was an in-browser and cloud based <em>WebGL/HTML5</em> creative tool that allows you to materialize interactive 3D scenes that work in all modern devices.
</p>
<p>
    My responsibilities were to design the product interface under the direction of <em>Magnus Östergren</em> (COO) but also took up the development/maintenance of the site, user onboarding, and social media.
</p>

<figure>
    <picture>
        <source srcset="./images/work/goo/goo-devices.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-devices.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-devices.jpg" alt="A picture showing a project inside Goo Create and the published result on a phone and tablet">
    </picture>
</figure>

<h2>The Process</h2>

<p>
    Designing the interface and creating intuitive user flows was a gradual and iterative process. At <em>Goo Create</em>, we streamlined a process around user feedback, proposed solution concept, interactive wireframes (using UXPin), high fidelity mockups in <em> Adobe Illustrator</em> with as many iterations as possible and finally the actual implementation.
</p>

<h2>The Editor</h2>

<figure>
    <picture>
        <source srcset="./images/work/goo/goo-editor-01.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-editor-01.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-editor-01.jpg">
    </picture>
    <figcaption>Clicklable wireframe in UXPin</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-editor-02.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-editor-02.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-editor-02.jpg">
    </picture>
    <figcaption>Mockup in Illustrator</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-editor-03.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-editor-03.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-editor-03.jpg">
    </picture>
    <figcaption>Implementation</figcaption>
</figure>

<p>
    The <em>Editor</em> was the bread and butter of Goo Create and what really set it apart from just grabbing <em>Three.js</em> and coding until your brains explode. It allowed you to set up a 3D scene by importing models with or without animation, add interactivity with the State Machine or Scripting, sprinkle it with Post FX, preview your creation and then publish it to the world with a click of a button.
</p>
<p>
    Changing or adding new features to an already visually busy tool required careful consideration of how users interacted with the different components of the GUI to do their work and all the overall flows, from importing their assets to publishing a web-ready and performant version.
</p>
<p>
    Already learned flows and interaction patterns from other software were also an important thing to consider. I avoided reinventing the wheel but was also very keen on improving things that in older tools were cumbersome and sometimes over-engineered.
</p>

<h2>The Dashboard</h2>

<figure>
    <picture>
        <source srcset="./images/work/goo/goo-dash-01.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-dash-01.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-dash-01.jpg">
    </picture>
    <figcaption>Wireframe prototype in UXPin</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-dash-02.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-dash-02.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-dash-02.jpg">
    </picture>
    <figcaption>Wireframe prototype in UXPin</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-dash-03.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-dash-03.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-dash-03.jpg">
    </picture>
    <figcaption>Mockup in Illustrator</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-dash-04.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-dash-04.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-dash-04.jpg">
    </picture>
    <figcaption>Mockup in Illustrator</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-dash-05.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-dash-05.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-dash-05.jpg">
    </picture>
    <figcaption>Implementation</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-dash-06.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-dash-02.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-dash-06.jpg">
    </picture>
    <figcaption>Implementation</figcaption>
</figure>

<figure>
    <picture>
        <source srcset="./images/work/goo/goo-new-scene.gif" type="image/gif">
        <img src="./images/work/goo/goo-new-scene.gif">
    </picture>
    <figcaption>Creating a new scene flow</figcaption>
</figure>

<p>
    We designed the Dashboard so that everyone could organize their work within a flexible but very fined grained hierarchy that started at the top level with Organizations (teams or companies), Projects, Scenes, and Assets.
</p>
<p>
    The intention was to have a fast but powerful architecture that satisfied the needs of users, from freelance artists to big studios with hundreds of people.
</p>

<h2>Consistency and Nitpicking</h2>

<figure>
    <picture>
        <source srcset="./images/work/goo/goo-details-01.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-details-01.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-details-01.jpg">
    </picture>
    <figcaption>Login screen</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-details-02.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-details-02.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-details-02.jpg">
    </picture>
    <figcaption>Pricing modal</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-details-03.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-details-03.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-details-03.jpg">
    </picture>
    <figcaption>Getting started modal</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-details-04.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-details-04.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-details-04.jpg">
    </picture>
    <figcaption>Shortcuts modal</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-details-06.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-details-06.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-details-06.jpg">
    </picture>
    <figcaption>Publishing options</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-details-07.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-details-07.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-details-07.jpg">
    </picture>
    <figcaption>Advanced publishing settings</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-details-08.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-details-08.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-details-08.jpg">
    </picture>
    <figcaption>Project loading screen</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/goo/goo-details-09.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-details-09.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-details-09.jpg">
    </picture>
    <figcaption>Project with Goo footer</figcaption>
</figure>

<p>
    Whenever you work with a medium/large team keeping the results consistent requires plenty of attention to details, but it also demands that you do more than what your job description specifies.
</p>
<p>
    Doing wireframes, pixel-perfect mockups, and then handing them off to developers is the perfect recipe for a lot of post-implementation reviews and complaints. The end product will always end up looking just a little bit off.
</p>
<p>
    Because of this, I believe that designers should strive more and more to work on the implementation itself (in my case, mostly nitpicking the HTML/LESS) and to champion for users, testing the interface and the flows before the release. Dipping your feet in development and quality assurance will only make you a more flexible and versatile professional.
</p>

<h2>Iconography</h2>

<p>
    Creative tools have 2 main things in common, regardless of them being for architecture, desktop publishing, or game creation. The first one is the canvas or work area, and the second is a considerable amount of icons with different meanings and purposes because writing labels for all possible actions in such software is always almost impossible.
</p>
<p>
    I had the chance to design and test dozens upon dozens of them. Some were amazingly successful, others required a bit more imagination, but when the "aha" moment came, they were still easy to remember.
</p>

<figure>
    <picture>
        <source srcset="./images/work/goo/goo-icons.webp" type="image/webp">
        <source srcset="./images/work/goo/goo-icons.jpg" type="image/jpg">
        <img src="./images/work/goo/goo-icons.jpg">
    </picture>
</figure>

<h2>Rising from the ashes</h2>
<p>
    After <em>Goo Technologies</em> filled for bankruptcy in 2017, the product was purchased by <em>Amazon</em>, which later on relaunched it as <em>Amazon Sumerian</em> on its Amazon Web Services platform. The new development team has actually reached us to praise our codebase and hard work 😊
</p>