    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title>menosketiago™ — Klarna Website Design System</title>

        {{> head/meta}}
        {{> head/og}}
        {{> head/links-scripts}}
    </head>

    <body class="theme-klarna">
        <div class="wrapper">
            <header class="work-header">
                {{> layout/work-header}}
            </header>

            <main class="work-main">
                <section class="summary">
                    <h1>Klarna Web Design System</h1>

                    <figure>
                        <picture>
                            <source srcset="/images/klarna/splash.avif 1x, /images/klarna/splash-2x.avif 2x" type="image/avif">
                            <source srcset="/images/klarna/splash.webp 1x, /images/klarna/splash-2x.webp 2x" type="image/webp">
                            <img src="/images/klarna/splash.jpg" fetchpriority="high" alt="XXXXXX XXXXXX XXXXX">
                        </picture>
                        <figcaption>XXXXX XXX XXXXXXXXX XXXXXX XXX</figcaption>
                    </figure>

                    <aside>
                        <div>
                            <h2 class="h-s">Role</h2>

                            <div class="pill-group">
                                <div class="pill">Design System Manager</div>
                                <div class="pill">Senior Product Designer</div>
                                <div class="pill">👨🏻‍💻 Frontend Developer</div>
                            </div>
                        </div>

                        <div>
                            <h2 class="h-s">Tools</h2>

                            <div class="pill-group masonry">
                                <div class="pill">JIRA</div>
                                <div class="pill">Figma</div>
                                <div class="pill">Figjam</div>
                                <div class="pill">Storybook.js</div>
                                <div class="pill">React.js</div>
                                <div class="pill">Adobe Illustrator</div>
                                <div class="pill">Adobe Photoshop</div>
                            </div>
                        </div>

                        <div>
                            <h2 class="h-s">Team</h2>
                            
                            <div class="pill-group masonry">
                                <a class="pill arrow-right" href="https://www.linkedin.com/in/cut-olo" target="_blank" rel="noopener">Francesco Cutolo</a>
                                <a class="pill arrow-right" href="https://www.linkedin.com/in/%F0%9F%8E%AE-werner-van-ghent-0b4947114" target="_blank" rel="noopener">Werner Van Ghent</a>
                                <a class="pill arrow-right" href="https://www.linkedin.com/in/karl-westerman-949a7924" target="_blank" rel="noopener">Karl Westerman</a>
                                <a class="pill arrow-right" href="https://www.linkedin.com/in/olle-a-87150a1a7" target="_blank" rel="noopener">Olle Alm</a>
                                <a class="pill arrow-right" href="https://www.linkedin.com/in/setarehfarahnak" target="_blank" rel="noopener">Setareh Farahnak</a>
                                <a class="pill arrow-right" href="https://www.linkedin.com/in/mmartindaniel" target="_blank" rel="noopener">Daniel Martin Martinez</a>
                            </div>
                        </div>
                    </aside>

                    <article class="grid-2-2">
                        <h3>Some key context</h3>

                        <div>
                            <p>
                                Can a Design System make it as
                                <i>smoooth</i>
                                to design, implement, and maintain 37+ multi-language websites
                                (as well as dozens of bespoke campaign pages per year) as it is
                                to buy with
                                <b>Klarna</b>? How about providing full support for multiple
                                brands and sub-brands?
                            </p>
                            <p>
                                Yes, it can!    
                            </p>
                        </div>
                    </article>
                </section>

                {{!-- More work section --}}

                <h2 class="m-th">More work</h2>

                <section class="dual-column">
                    {{> summaries/ericsson}}
                    {{> summaries/trids}}
                </section>
            </main>

            {{!-- Back to top button --}}
		    {{> back-to-top}}

            <footer>
                {{> layout/footer}}
            </footer>
        </div>

        {{> tooltip}}

        <div class="cursor"></div>

        {{!-- JS --}}
        <script src="/index.js" type="text/javascript"></script>
    </body>

    </html>