<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}
</head>

<body class="theme-klarna">
	<div class="wrapper">
		<header class="work-header">
			{{> layout/work-header}}
		</header>

		<main class="work-main">
            <article class="grid-3-2 gap-jumbo">
                <div>
                    <h1>Klarna Website Design System</h1>

                    <p>
                        Lorem ipsum
                    </p>
                </div>

                <aside>
                    <hgroup>
                        <h4>ROLE —</h4>
                        <h5>Senior Product Designer</h5>
                        <h5>Design System Manager</h5>
                        <h5>Frontend Developer</h5>
                    </hgroup>

                    <hgroup>
                        <h4>Tools —</h4>
                        <h5>JIRA</h5>
                        <h5>Figma and FigJam</h5>
                        <h5>Storybook</h5>
                        <h5>React</h5>
                        <h5>HTML, CSS and JS</h5>
                    </hgroup><hgroup>
                        <h4>Team —</h4>
                        <h5>
                            <a href="#" target="_blank" rel="noopener" class="arrow-right">Francesco Cutolo</a>
                        </h5>
                </aside>
            </article>

            {{!-- More work section --}}

            <h1 class="m-th">—— More work</h1>

            <section class="dual-column">
                {{> summaries/ericsson}}
                {{> summaries/trids}}
            </section>
		</main>

		{{!-- Back to top button --}}
		<a href="#top" target="_self" class="back-to-top"></a>

		<footer>
			{{> layout/footer}}
		</footer>
	</div>

	{{> tooltip}}

    <div class="cursor"></div>

	{{!-- JS --}}
	<script src="/index.js" type="text/javascript"></script>
</body>

</html>