{{!-- Prevent search engines from indexing these partials --}}
<meta name="robots" content="noindex, nofollow">

<aside>
    <h5>Timeframe</h5>
    <h6><time>2014</time></h6>

    <h5>Agency</h5>
    <h6>Action 4</h6>
</aside>

<header>
    <h3>Illustration • Advertising</h3>
    <h1>La Mamacita</h1>

    <hgroup>
        <h5>Tools</h5>
        <h6>Illustrator • Photoshop • Creativity</h6>
    </hgroup>
</header>

<p>
    <em>La Mamacita Yorn</em> was a brand activation campaign created by <em>Action 4</em> for <em>Yorn</em> (a <em>Vodafone</em> child brand). It centered on a tacos food truck that drove around towns in Portugal, delivering spicy food challenges and merch/gifts for the most daring <i>pendejos</i>.
</p>
<p>
    I was responsible for doing daily illustrations that Yorn shared on their social media channels, warning of places and dates were this <i>hot mama</i> was visiting.
</p>

<figure>
    <picture>
        <img src="./images/work/mamacita-01.jpg" alt="">
    </picture>
</figure>
<figure>
    <picture>
        <img src="./images/work/mamacita-02.jpg" alt="">
    </picture>
</figure>
<figure>
    <picture>
        <img src="./images/work/mamacita-03.jpg" alt="">
    </picture>
</figure>
<figure>
    <picture>
        <img src="./images/work/mamacita-05.jpg" alt="">
    </picture>
</figure>
<figure>
    <picture>
        <img src="./images/work/mamacita-06.jpg" alt="">
    </picture>
</figure>
<figure>
    <picture>
        <img src="./images/work/mamacita-04.jpg" alt="">
    </picture>
</figure>

<h2>Check out the campaing video</h2>

<div class="vimeo">
    <iframe src="https://player.vimeo.com/video/55900462?title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>