{{!-- Prevent search engines from indexing these partials --}}
<meta name="robots" content="noindex, nofollow">

<aside>
    <h5>Timeframe</h5>
    <h6><time>2014</time>/<time>2015</time></h6>
</aside>

<header>
    <h3>Videogames Journalism • Web Development</h3>
    <h1>Mana Gaming</h1>

    <hgroup>
        <h5>Tools</h5>
        <h6>Illustrator • Photoshop • Premiere</h6>

        <h5>Code</h5>
        <h6>Wordpress • HTML • CSS</h6>
    </hgroup>

    {{!-- Avatars --}}
    <section>
        <h5>Team</h5>
        <a
            id="rseustress"
            class="avatar"
            href="https://www.youtube.com/user/rseustress/"
            target="_blank"
            rel="noopener"
            data-initials="RS"
            data-tooltip="Ricardo Santos"
            aria-label="Ricardo Santos"
        ></a>
        <a
            id="menaka"
            class="avatar"
            href="https://www.facebook.com/menaka360/"
            target="_blank"
            rel="noopener"
            data-initials="NS"
            data-tooltip="Nuno Santos"
           aria-label="Nuno Santos"
        ></a>
    </section>
</header>

<p>
    I have always had a passion for videogames ever since my parents got me the first <em>Game Boy</em>, followed by the <em>Amiga 500</em> some years later, and finally the first of the many <em>Playstation</em> consoles.
</p>
<p>
    After years of running personal blogs and attempts to build thriving creative communities, I decided to take the video gaming bug to the next level and create my own videogames website, with daily news, game reviews, "let's play" videos and even a game keys store.
</p>
<p>
    <em>Mana Gaming</em> was a work of passion, and not only did I develop the Wordpress site itself but also created hundreds of articles. I was even eventually granted an official reviewer status with <em>Playstation Portugal</em>, which generously provided both review copies and invited me to all their PR events.
</p>
<p>
    Unfortunately, the site was never able to run a livable profit and in the end, closed activity when I moved to Stockholm to work with <em>Goo Create</em> (which was in part a game engine).
</p>
<p>
    You can still visit the site at <a href="http://mana.menosketiago.com/" target="_blank" rel="noopener">http://mana.menosketiago.com</a>
</p>

<figure>
    <picture>
        <source srcset="./images/work/mana/mana-01.webp" type="image/webp">
        <source srcset="./images/work/mana/mana-01.jpg" type="image/jpg">
        <img src="./images/work/mana/mana-01.jpg" alt="A screenshot from the landing page of the Mana site">
    </picture>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/mana/mana-02.webp" type="image/webp">
        <source srcset="./images/work/mana/mana-02.jpg" type="image/jpg">
        <img src="./images/work/mana/mana-02.jpg" alt="A screenshot from a game review page">
    </picture>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/mana/mana-03.webp" type="image/webp">
        <source srcset="./images/work/mana/mana-03.jpg" type="image/jpg">
        <img src="./images/work/mana/mana-03.jpg" alt="A screenshot from a custom produced video about Titanfall">
    </picture>
</figure>