{{!-- Prevent search engines from indexing these partials --}}
<meta name="robots" content="noindex, nofollow">

<aside>
    <h5>Timeframe</h5>
    <h6><time>2017</time>/<time>2019</time></h6>

    <h5>Employer</h5>
    <h6><a href="https://www.trioptima.com/" target="_blank" rel="noopener">TriOptima</a></h6>
</aside>

<header>
    <h3>Product Design • Frontend Devolpment</h3>
    <h1>TriOptima Design System</h1>

    <hgroup>
        <h5>Tools</h5>
        <h6>Sketch • Zeplin • Illustrator • Photoshop • JIRA • Confluence • Bitbucket</h6>

        <h5>Code</h5>
        <h6>HTML • CSS (SCSS) • JS (ES5)</h6>
    </hgroup>

    {{!-- Avatars --}}
    <section>
        <h5>Team</h5>
        <a id="mikael" class="avatar" href="https://www.linkedin.com/in/mikaellindbergswe/" target="_blank" data-initials="ML" data-tooltip="Mikael Lindberg"></a>
        <a id="patricia" class="avatar" href="https://www.linkedin.com/in/patriciacallison/" target="_blank" data-initials="PC" data-tooltip="Patricia Callison"></a>
        <a id="johan" class="avatar" href="https://www.linkedin.com/in/johanmanstromer/" target="_blank" data-initials="JM" data-tooltip="Johan Månströmer"></a>
        <a id="emelie" class="avatar" href="https://www.linkedin.com/in/emelie-osbeck-ba34671b/" target="_blank" data-initials="EO" data-tooltip="Emelie Osbeck"></a>
        <a id="tina" class="avatar" href="https://www.linkedin.com/in/christina-howser-0632094/" target="_blank" data-initials="TH" data-tooltip="Christina Howser"></a>
        <a id="daniel" class="avatar" href="https://www.linkedin.com/in/daniel-vinntreus-6672184/" target="_blank" data-initials="DV" data-tooltip="Daniel Vinntreus"></a>
        <a id="sidi" class="avatar" href="https://www.linkedin.com/in/kasmi-sidi-49588b5a/" target="_blank" data-initials="KS" data-tooltip="Kasmi Sidi"></a>
        <a id="william" class="avatar" href="https://www.linkedin.com/in/perkola/" target="_blank" data-initials="WP" data-tooltip="William Perkola"></a>
        <a id="martin" class="avatar" href="https://www.linkedin.com/in/barksten/" target="_blank" data-initials="MB" data-tooltip="Martin Barksten"></a>
    </section>
</header>

<p>
    Atiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
</p>

<figure>
    <picture>
        <img src="./images/work/trids-date-picker.png" alt="">
    </picture>
    <figcaption>xxxxx xxxx xx</figcaption>
</figure>