<!DOCTYPE html>
<html lang="en">

<head>
    <title>menosketiago™ TriOptima Design System</title>

	{{> head/meta}}
	{{> head/og}}
	{{> head/links-scripts}}
</head>

<body class="theme-trids">
	<div class="wrapper">
		<header class="work-header">
			{{> layout/work-header}}
		</header>

		<main class="work-main">
            <section class="grid-3-2 gap-jumbo margin-bl">
                <div>
                    <h1>TriOptima Design System</h1>
                    <p>
                        After almost two years of consulting for Ericsson, I joined the UX team at <b>TriOptima</b>, exchanging telecom and networks, for over-the-counter derivatives  and financial optimization, going from wave signals and bytes to dollars and percentages. Interestingly enough, there were things both companies had in common, data-heavy interfaces that relied on tables and an overall lack of frontend developers and usage of modern web standards.
                    </p>
                    <p>
                        Thanks to the hard work my teammates had already put in cataloging design patterns and distilling them into a coherent and modern design language, I was able to hit the ground running and get to work almost immediately.
                    </p>
                </div>

                <aside>
                    <hgroup>
                        <h4>ROLE</h4>
                        <h5>Product Designer</h5>
                        <h5>Frontend Developer</h5>
                    </hgroup>
                    <hgroup>
                        <h4>Tools</h4>
                        <h5>Sketch</h5>
                        <h5>Adobe Illustrator</h5>
                        <h5>HTML</h5>
                        <h5>CSS</h5>
                        <h5>JS</h5>
                    </hgroup>
                    <hgroup>
                        <h4>Team</h4>
                        <h5>
                            <a href="https://www.linkedin.com/in/mikaellindbergswe/" target="_blank" rel="noopener" class="arrow-right">Mikael Lindberg</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/patriciacallison/" target="_blank" rel="noopener" class="arrow-right">Patricia Callison</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/johanmanstromer/" target="_blank" rel="noopener" class="arrow-right">Johan Månströmer</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/emelie-osbeck-ba34671b/" target="_blank" rel="noopener" class="arrow-right">Emelie Osbeck</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/christina-howser-0632094/" target="_blank" rel="noopener" class="arrow-right">Christina Howser</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/daniel-vinntreus-6672184/" target="_blank" rel="noopener" class="arrow-right">Daniel Vinntreus</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/kasmi-sidi-49588b5a/" target="_blank" rel="noopener" class="arrow-right">Kasmi Sidi</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/perkola/" target="_blank" rel="noopener" class="arrow-right">William Perkola</a>
                        </h5>
                        <h5>
                            <a href="https://www.linkedin.com/in/barksten/" target="_blank" rel="noopener" class="arrow-right">Martin Barksten</a>
                        </h5>
                    </hgroup>
                </aside>
            </section>

            <figure>
                <picture>
                    <source srcset="/images/trioptima/splash.avif 1x, /images/trioptima/splash.avif 2x" type="image/avif">
                    <source srcset="/images/trioptima/splash.webp 1x, /images/trioptima/splash.webp 1x" type="image/webp">
                    <img src="/images/trioptima/splash.jpg" alt="The TriOptima Design System Sketch library">
                </picture>
                <figcaption>The TriOptima Design System Sketch library</figcaption>
            </figure>

            <section class="grid-2-3">
                <h2>Creating a Design System</h2>
                <div>
                    <p>
                        Using a templating and documentation generation tool called <a href="https://fbrctr.github.io/" target="_blank" rel="noopener">Fabricator</a> and an object-oriented vanilla JS design pattern, both of which I had experience from when I worked on the <b>Loki</b> CSS framework (the seed of the <b>Ericsson Design System</b>), I was able to release the first version of the design system in little over two months.
                    </p>
                    <p>
                        The <b>TriOptima Design System</b> (<b>triDS</b> for short) is composed of design and technical writing documentation, a <b>Sketch</b> library, and, most importantly, a technology stack agnostic CSS/JS framework.
                    </p>
                </div>
            </section>

            <section class="grid-2-3">
                <h2>One library to rule them all</h2>
                <div>
                    <p>
                        Having a library allowed the entire team to quickly produce new design ideas and high fidelity mockups, thanks to very modular components made of interchangeable symbols that could be switched to reflect different UI  state changes. It also meant that design changes could be made in the shared library file and inherited by the different mockups with minimal effort doing design updates.
                    </p>
                </div>
            </section>

            <figure>
                <picture loading="lazy">
                    <source srcset="/images/trioptima/sketch-library-01.avif" type="image/avif">
                    <source srcset="/images/trioptima/sketch-library-01.webp" type="image/webp">
                    <img src="/images/trioptima/sketch-library-01.jpg" alt="Screenshot of the color and typography assets in Sketch" loading="lazy">
                </picture>
                <figcaption class="bottom">Colors and typography on the triDS library</figcaption>
            </figure>

            <figure>
                <picture loading="lazy">
                    <source srcset="/images/trioptima/sketch-library-03.avif" type="image/avif">
                    <source srcset="/images/trioptima/sketch-library-03.avif" type="image/webp">
                    <img src="/images/trioptima/sketch-library-03.jpg" alt="A closer look at the datep icker component on the Sketch library" loading="lazy">
                </picture>
                <figcaption class="bottom">Interchangeable symbols on the date picker component</figcaption>
            </figure>

            <figure>
                <picture loading="lazy">
                    <source srcset="/images/trioptima/sketch-library-04.avif" type="image/avif">
                    <source srcset="/images/trioptima/sketch-library-04.webp" type="image/webp">
                    <img src="/images/trioptima/sketch-library-04.jpg" alt="A quickstart template on the Sketch library" loading="lazy">
                </picture>
                <figcaption class="bottom">Quick-start template for new product mockups</figcaption>
            </figure>

            <section class="grid-2-3">
                <h2>Wireframing library</h2>
                <div>
                    <p>
                        Some weeks later, I also created a second library for wireframing, dropping all colors and detailed graphics so that we could keep the initial conversations with stakeholders focused on the right things, such as user flow and interaction patterns.
                    </p>
                </div>
            </section>

            <figure>
                <picture loading="lazy">
                    <source srcset="/images/trioptima/sketch-library-wires.avif" type="image/avif">
                    <source srcset="/images/trioptima/sketch-library-wires.webp" type="image/webp">
                    <img src="/images/trioptima/sketch-library-wires.jpg" alt="A screenshot of the Sketch wireframing library" loading="lazy">
                </picture>
                <figcaption class="bottom">Some components on the wireframing library</figcaption>
            </figure>

            <section class="grid-2-3">
                <h2>Implementing a CSS/JS framework</h2>
                <div>
                    <p>
                        At <b>TriOptima</b>, we had five independent product teams that made their own technology choices, and even within the same product, there were different javascript libraries (one used <b>Elm</b>, another language altogether) or frameworks that coexisted. What this meant was that applying a new design forced five different teams with varying levels of frontend knowledge to redo the same interface elements and interaction patterns.
                    </p>
                    <p>
                        My way to address it was to implement a <b>CSS</b> (started with <b>LESS</b> but rewrote it to <b>SCSS</b> after learning that some teams preferred it) that could be used by itself or complemented with a vanilla <b>JS</b> (<b>ES5</b> transpiled with Babel for older browser support).
                    </p>
                    <p>
                        <b>triDS.js</b> followed a class-based, object-oriented design pattern that allowed the creation of interface components that could be enabled or disable at will with a data attribute (data-nojs) on the <b>HTML</b> side. Thanks to contributions from my developer colleagues, later releases of the framework also featured a <b>React</b> inspired state object that could be read by other frameworks and even basic markup structure validation tests. I even include an automated "design review" feature that advised teams of optional but easy to add improvements to their component implementation.
                    </p>
                </div>
            </section>

            <figure>
                <picture loading="lazy">
                    <source srcset="/images/trioptima/class-based-js.avif" type="image/avif">
                    <source srcset="/images/trioptima/class-based-js.webp" type="image/webp">
                    <img src="/images/trioptima/class-based-js.jpg" alt="A screenshot of Visual code with the Dialog JS component and the build terminal running" loading="lazy">
                </picture>
                <figcaption class="bottom">The dialog component open on VS Code</figcaption>
            </figure>

            <section class="grid-2-3">
                <h2>Systematic documentation</h2>
                <div>
                    <p>
                        A design system is not complete without well-written documentation, compiled into a single source that could be accessed by everyone in the organization, from designers and developers but also project management, customer support, and any other stakeholder. The idea is to create a shared understanding of what the intended design and user experience should be, even across organizational silos.
                    </p>
                    <p>
                        This translated into an ever-green documentation site hosted on company subdomain, that was available for anyone within the company virtual private network and gathered not only design guidelines, but also UI writing recommendations and even development instructions. To top it off, you could even preview the different components and their <b>HTML</b> and <b>JS</b> structure under their explanatory documentation.
                    </p>
                </div>
            </section>

            <figure>
                <picture loading="lazy">
                    <source srcset="/images/trioptima/trids-home.avif" type="image/avif">
                    <source srcset="/images/trioptima/trids-home.webp" type="image/webp">
                    <img src="/images/trioptima/trids-home.jpg" alt="Screenshot from the design system home page" loading="lazy">
                </picture>
                <figcaption class="bottom">Due to my NDA clause with TriOptima I can only show most of this project in private</figcaption>
            </figure>

            <section class="grid-2-3">
                <h2>Prototyping with code</h2>
                <div>
                    <p>
                        Having a design library saved the UX team enough time to create clickable prototypes with <b>Sketch</b>, and using <b>Zeplin</b> allowed us to deliver detailed and inspectable hand-offs for development teams.
                    </p>
                    <p>
                        Even better was having the ability to quickly create <b>HTML prototypes</b> thanks to the <b>CSS</b>/<b>JS</b> framework and our templating/documentation platform. It allowed me to test the framework components in an environment as close to the actual implementation as possible, detecting bugs early before they went into the products and do quality control on new components.
                    </p>
                    <p>
                        It also worked as a great resource to help teams understand how the layouts were built and reinforce proper markup syntax and structuring on less knowledgeable developers.
                    </p>
                </div>
            </section>

            {{!-- More work section --}}

            <h2 class="m-th">More work</h2>

            <section class="dual-column">
                {{> summaries/ericsson}}
                {{> summaries/esm-vr}}
            </section>
		</main>

		{{!-- Back to top button --}}
		<a href="#top" target="_self" class="back-to-top"></a>

		<footer>
			{{> layout/footer}}
		</footer>
	</div>

	{{> tooltip}}

    <div class="cursor"></div>

	{{!-- JS --}}
	<script src="/index.js" type="text/javascript"></script>
</body>

</html>