{{!-- Prevent search engines from indexing these partials --}}
<meta name="robots" content="noindex, nofollow">

<aside>
    <h5>Timeframe</h5>
    <h6><time>2017</time>/<time>2019</time></h6>

    <h5>Employer</h5>
    <h6><a href="https://www.trioptima.com/" target="_blank" rel="noopener">TriOptima</a></h6>
</aside>

<header>
    <h3>Product Design • Frontend Devolpment</h3>
    <h1>TriOptima Design System</h1>

    <hgroup>
        <h5>Tools</h5>
        <h6>Sketch • Zeplin • Illustrator • Photoshop • JIRA • Confluence • Bitbucket</h6>

        <h5>Code</h5>
        <h6>HTML • CSS (SCSS) • JS (ES5)</h6>
    </hgroup>

    {{!-- Avatars --}}
    <section>
        <h5>Team</h5>
        <a id="mikael" class="avatar" href="https://www.linkedin.com/in/mikaellindbergswe/" target="_blank"  rel="noopener" data-initials="ML" data-tooltip="Mikael Lindberg"></a>
        <a id="patricia" class="avatar" href="https://www.linkedin.com/in/patriciacallison/" target="_blank"  rel="noopener" data-initials="PC" data-tooltip="Patricia Callison"></a>
        <a id="johan" class="avatar" href="https://www.linkedin.com/in/johanmanstromer/" target="_blank"  rel="noopener" data-initials="JM" data-tooltip="Johan Månströmer"></a>
        <a id="emelie" class="avatar" href="https://www.linkedin.com/in/emelie-osbeck-ba34671b/" target="_blank"  rel="noopener" data-initials="EO" data-tooltip="Emelie Osbeck"></a>
        <a id="tina" class="avatar" href="https://www.linkedin.com/in/christina-howser-0632094/" target="_blank"  rel="noopener" data-initials="TH" data-tooltip="Christina Howser"></a>
        <a id="daniel" class="avatar" href="https://www.linkedin.com/in/daniel-vinntreus-6672184/" target="_blank"  rel="noopener" data-initials="DV" data-tooltip="Daniel Vinntreus"></a>
        <a id="sidi" class="avatar" href="https://www.linkedin.com/in/kasmi-sidi-49588b5a/" target="_blank"  rel="noopener" data-initials="KS" data-tooltip="Kasmi Sidi"></a>
        <a id="william" class="avatar" href="https://www.linkedin.com/in/perkola/" target="_blank"  rel="noopener" data-initials="WP" data-tooltip="William Perkola"></a>
        <a id="martin" class="avatar" href="https://www.linkedin.com/in/barksten/" target="_blank"  rel="noopener" data-initials="MB" data-tooltip="Martin Barksten"></a>
    </section>
</header>

<p>
    After almost two years of consulting for <em>Ericsson</em>, I joined the UX team at <em>TriOptima</em>, exchanging telecom and networks, for over-the-counter derivatives  and financial optimization, going from wave signals and bytes to dollars and percentages. Interestingly enough, there were things both companies had in common, data-heavy interfaces that relied on tables and an overall lack of frontend developers and usage of modern web standards.
</p>
<p>
    Thanks to the hard work my teammates had already put in cataloging design patterns and distilling them into a coherent and modern design language, I was able to hit the ground running and get to work almost immediately.
</p>

<figure>
    <picture>
        <img src="./images/work/trioptima/illustration.webp" alt="The landing page illsutration on the TriOptima Design System">
    </picture>
</figure>

<h2>Crafting a Design System</h2>

<p>
    Using a templating and documentation generation tool called <a href="https://fbrctr.github.io/" target="_blank" rel="noopener">Fabricator</a> and an object-oriented vanilla JS design pattern, both of which I had experience from when I worked on the <em>Loki</em> CSS framework (the seed of the <em>Ericsson Design System</em>), I was able to release the first version of the design system in little over two months.
</p>
<p>
    The <em>TriOptima Design System</em> (<em>triDS</em> for short) is composed of design and technical writing documentation, a <em>Sketch</em> library, and, most importantly, a technology stack agnostic CSS/JS framework.
</p>

<h2>One library to rule them all</h2>

<p>
    Having a library allowed the entire team to quickly produce new design ideas and high fidelity mockups, thanks to very modular components made of interchangeable symbols that could be switched to reflect different UI  state changes. It also meant that design changes could be made in the shared library file and inherited by the different mockups with minimal effort doing design updates.
</p>

<figure>
    <picture>
        <img src="./images/work/trioptima/sketch-library-01.webp" alt="Screenshot of the color and typography assets in Sketch">
    </picture>
    <figcaption class="bottom">Colors and typography on the triDS library</figcaption>
</figure>
<figure>
    <picture>
        <img src="./images/work/trioptima/sketch-library-02.webp" alt="Screenshot of some of the design components on the Sketch library">
    </picture>
    <figcaption class="bottom">Some of the library components</figcaption>
</figure>
<figure>
    <picture>
        <img src="./images/work/trioptima/sketch-library-03.webp" alt="A closer look at the datep icker component on the Sketch library">
    </picture>
    <figcaption class="bottom">Interchangeable symbols on the date picker component</figcaption>
</figure>
<figure>
    <picture>
        <img src="./images/work/trioptima/sketch-library-04.webp" alt="A quickstart template on the Sketch library">
    </picture>
    <figcaption class="bottom">Quickstart template for new product mockups</figcaption>
</figure>

<h3>A missing library</h3>

<p>
    Some weeks later, I also created a second library for wireframing, dropping all colors and detailed graphics so that we could keep the initial conversations with stakeholders focused on the right things, such as user flow and interaction patterns.
</p>

<figure>
    <picture>
        <img src="./images/work/trioptima/sketch-library-wires.webp" alt="A screenshot of the Sketch wireframing library">
    </picture>
    <figcaption class="bottom">Some components on the wireframing library</figcaption>
</figure>

<h2>Implementing a framework</h2>

<p>
    At <em>TriOptima</em>, we had five independent product teams that made their own technology choices, and even within the same product, there were different javascript libraries (one used <em>Elm</em>, another language altogether) or frameworks that coexisted. What this meant was that applying a new design forced five different teams with varying levels of frontend knowledge to redo the same interface elements and interaction patterns.
</p>
<p>
    My way to address it was to implement a <em>CSS</em> (started with <em>LESS</em> but rewrote it to <em>SCSS</em> after learning that some teams preferred it) that could be used by itself or complemented with a vanilla <em>JS</em> (<em>ES5</em> transpiled with Babel for older browser support).
</p>
<p>
    <em>triDS.js</em> followed a class-based, object-oriented design pattern that allowed the creation of interface components that could be enabled or disable at will with a data attribute (data-nojs) on the <em>HTML</em> side. Thanks to contributions from my developer colleagues, later releases of the framework also featured a <em>React</em> inspired state object that could be read by other frameworks and even basic markup structure validation tests. I even include an automated "design review" feature that advised teams of optional but easy to add improvements to their component implementation.
</p>

<figure>
    <picture>
        <img src="./images/work/trioptima/class-based-js.webp" alt="A screenshot of Visual code with the Dialog JS component and the build terminal running">
    </picture>
    <figcaption class="bottom">The dialog component open on VS Code</figcaption>
</figure>

<h2>Open documentation</h2>

<p>
    A design system is not complete without well-written documentation, compiled into a single source that could be accessed by everyone in the organization, from designers and developers but also project management, customer support, and any other stakeholder. The idea is to create a shared understanding of what the intended design and user experience should be, even across organizational silos.
</p>
<p>
    This translated into an ever-green documentation site hosted on company subdomain, that was available for anyone within the company virtual private network and gathered not only design guidelines, but also UI writing recommendations and even development instructions. To top it off, you could even preview the different components and their <em>HTML</em> and <em>JS</em> structure under their explanatory documentation.
</p>

<figure>
    <picture>
        <img src="./images/work/trioptima/trids-home.webp" alt="Screenshot from the design system home page">
    </picture>
    <figcaption class="bottom">Some of this project can only be shown in private...</figcaption>
</figure>

<h2>Prototyping with code</h2>

<p>
    Having a design library saved the UX team enough time to create clickable prototypes with <em>Sketch</em>, and using <em>Zeplin</em> allowed us to deliver detailed and inspectable hand-offs for development teams.
</p>
<p>
    Even better was having the ability to quickly implement <em>HTML prototypes</em> thanks to the CSS/JS framework and our templating/documentation platform. It allowed me to test the framework components in an environment as close to the actual implementation as possible, detecting bugs early before they went into the products and do quality control on new components.
</p>
<p>
    It also worked as a great resource to help teams understand how the layouts were built and reinforce proper markup syntax and structuring on less knowledgeable developers.
</p>

<figure>
    <picture>
        <img src="./images/work/trioptima/trids-trireduce-02.webp" alt="Screenshot of the prototype from triReduce's login screen">
    </picture>
    <figcaption class="bottom">triReduce template</figcaption>
</figure>
<figure>
    <picture>
        <img src="./images/work/trioptima/trids-trireduce-03.webp" alt="Screenshot of the prototype from triReduce's login screen">
    </picture>
    <figcaption class="bottom">triReduce template</figcaption>
</figure>
<figure>
    <picture>
        <img src="./images/work/trioptima/trids-margin-01.webp" alt="Screenshot of the prototype from triReduce's login screen">
    </picture>
    <figcaption class="bottom">triResolve Margin template</figcaption>
</figure>