{{!-- Prevent search engines from indexing these partials --}}
<meta name="robots" content="noindex, nofollow">

<aside>
    <h5>Timeframe</h5>
    <h6><time>2013</time>/<time>2014</time></h6>

    <h5>Employer</h5>
    <h6>WannaPlayer</h6>
</aside>

<header>
    <h3>Product Design • Growth Hacking</h3>
    <h1>Wannaplayer</h1>

    <hgroup>
        <h5>Tools</h5>
        <h6>Illustrator • Photoshop • After Effects • Huge amounts of social media hustling</h6>
    </hgroup>

    {{!-- Avatars --}}
    <section>
        <h5>Team</h5>
        <a id="cabral" class="avatar" href="https://www.linkedin.com/in/joaorcabral/" target="_blank"  rel="noopener" data-initials="JC" data-tooltip="João Cabral"></a>
        <a id="hugo" class="avatar" href="https://www.linkedin.com/in/hccampos/" target="_blank"  rel="noopener" data-initials="HC" data-tooltip="Hugo Campos"></a>
    </section>
</header>

<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/wannaplayer.gif" type="image/gif">
        <img src="./images/work/wannaplayer/wannaplayer.gif" alt="An animated GIF showing WannaPlayer's landing page">
    </picture>
</figure>

<p>
    <em>WannaPlayer</em> was a Portuguese startup with the ambition of becoming the <em>LinkedIn</em> of football. We joined professionals of all shapes and sizes, from players to agents, scouts, coaches and even staff with clubs from around the world.
</p>
<p>
    Being one of an all-star team of three, I took on many roles, from Creative Director to Designer, Growth Hacker, Copywriter, and whatever else was needed.
</p>

<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/wannaplayer-other-01.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/wannaplayer-other-01.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/wannaplayer-other-01.jpg">
    </picture>
    <figcaption>The brand in different applications</figcaption>
</figure>

<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/wannaplayer-mock-01.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/wannaplayer-mock-01.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/wannaplayer-mock-01.jpg">
    </picture>
    <figcaption class="bottom">Mockup of the search page</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/wannaplayer-mock-02.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/wannaplayer-mock-02.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/wannaplayer-mock-02.jpg">
    </picture>
    <figcaption class="bottom">Exploring different options and ideas</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/wannaplayer-imp-01.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/wannaplayer-imp-01.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/wannaplayer-imp-01.jpg">
    </picture>
    <figcaption class="bottom">Implementation</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/wannaplayer-mock-03.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/wannaplayer-mock-03.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/wannaplayer-mock-03.jpg">
    </picture>
    <figcaption class="bottom">Mockup of the marketplace feature</figcaption>
</figure>

<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/wannaplayer-other-02.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/wannaplayer-other-02.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/wannaplayer-other-02.jpg">
    </picture>
    <figcaption class="bottom">One of the many social media "ads" we created</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/wannaplayer-other-03.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/wannaplayer-other-03.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/wannaplayer-other-03.jpg">
    </picture>
    <figcaption class="bottom">An email campaign with custom illustration</figcaption>
</figure>

<h2>The Lisbon Challenge and the Explorers Festival</h2>

<p>
    Alongside with the <em>João Cabral</em> and <em>Hugo Campos</em>, we hard balled into the TOP 25 (from 75 international startups) at the 2013 edition of <em>The Lisbon Challenge</em>, winning a pitch at the Explorers Festival and a final 12th place in the competition.
</p>
<p>
    In the end, even though we had a good track record with over 6000 users on the platform in only three months, like most startups, we failed to secure an investment that could make the full vision come true.
</p>

<div class="vimeo">
    <iframe src="https://player.vimeo.com/video/140435565?color=008BCC&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>

<h2>Spinning Off</h2>

<p>
    Using the experience and contacts acquired during our work at <em>WannaPlayer</em>, we spawned two pitches for new television shows where I was responsible for branding and art directing motion graphics.
</p>
<p>
    The <em>Next Big Player</em> focused on interviews with young and upcoming talent and <em>Secret Scout</em>, which was a match prognosis show, aired for a considerable amount of episodes on the cable channel <em>A Bola TV</em>.
</p>

<h3>Next Big Player</h3>

<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/nextbigplayer-01.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/nextbigplayer-01.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/nextbigplayer-01.jpg">
    </picture>
    <figcaption class="bottom">Branding tone and logo</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/nextbigplayer-02.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/nextbigplayer-02.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/nextbigplayer-02.jpg">
    </picture>
    <figcaption class="bottom">Motion graphic language</figcaption>
</figure>

<h3>Secret Scout</h3>

<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/secret-scout-01.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/secret-scout-01.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/secret-scout-01.jpg">
    </picture>
    <figcaption class="bottom">Secret Scout VS screen</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/secret-scout-02.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/secret-scout-02.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/secret-scout-02.jpg">
    </picture>
    <figcaption class="bottom">Team information</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/secret-scout-03.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/secret-scout-03.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/secret-scout-03.jpg">
    </picture>
    <figcaption class="bottom">Team performance analysis</figcaption>
</figure>
<figure>
    <picture>
        <source srcset="./images/work/wannaplayer/secret-scout-04.webp" type="image/webp">
        <source srcset="./images/work/wannaplayer/secret-scout-04.jpg" type="image/jpg">
        <img src="./images/work/wannaplayer/secret-scout-04.jpg">
    </picture>
    <figcaption class="bottom">Key decisive factors</figcaption>
</figure>