#about {
	position: relative;
	color: $white;
	background-image: url($path-images + 'bg-brownie.webp');
	background-color: $yellow;

	@include justify-content(flex-start);

	.card {
		position: relative;
		padding-bottom: $card-space + ($btn-height / 2);

		.avatar {
			position: absolute;
			top: 0;
			left: 50%;
			width: $avatar-size-large;
			height: $avatar-size-large;
			margin: 0;
			border: $space-tiny solid $white;

			@include transform(translate(-50%, -50%));
		}

		header {
			margin-bottom: $space-large + $space-base;

			h2 {
				margin-bottom: $space-base;
			}
		}

		h4 {
			display: block;
			width: 100%;
			margin-bottom: $space-base;
			font-size: 1em;
		}

		.keywords {
			margin: 0 -($space-small / 2);
			padding-top: $space-tiny;
			font-size: .8em;
			font-weight: $book;
			line-height: 1em;

			h6 {
				z-index: 0;
				padding: $space-tiny $space-small;
				// Fix for text align
				padding: $space-tiny - $text-fix;
				background: $white;
				font-size: inherit;
				font-weight: inherit;
				line-height: inherit;
				transition: all $speed-default ease;
				cursor: default;

				&:hover {
					z-index: 1;

					@include transform(scale(1.5));
				}
			}
		}

		button {
			position: absolute;
			bottom: 0;
			left: 50%;

			@include transform(translate(-50%, 50%));

			&::before {
				@include transform(translate(0, -101%));
			}

			&:hover {
				&::before {
					@include transform(translate(0, 0));
				}
			}
		}
	}

	> blockquote {
		position: absolute;
		right: $space-extra * 2;
		bottom: $space-extra * 2;
		color: #000000;
		text-shadow: 0 0 $space-base $yellow, 0 0 $space-extra $yellow;
	}

	// MEDIA QUERIES

	@media screen and (min-width: $screen-width-laptop) {
		.card {
			margin-left: $card-space * 2;
		}
	}

	@media screen and (min-width: $screen-width-full-hd) {
		.card {
			margin-left: $card-space * 3;
		}
	}

	@media screen and (max-width: $screen-width-average) {
		> blockquote {
			max-width: $default-width / 3;
			right: $space-large;
			bottom: $space-large;
		}
	}

	@media screen and (max-height: $screen-height-average) {
		.card {
			margin: $card-space-small ($card-space-small - $space-base);
			padding: $card-space-small;
			padding-bottom: $card-space-small + ($btn-height-average / 2);

			header {
				margin-bottom: $space-large;
			}

			.timeline {
				margin-bottom: $space-large;
			}
		}
	}

	@media screen and (max-height: $screen-height-small) {
		.card {
			padding-bottom: $card-space-small + ($btn-height-small / 3);

			.avatar {
				width: $avatar-size-small;
				height: $avatar-size-small;
			}

			header {
				margin-bottom: $space-small * 2;
			}

			h2 {
				font-size: 1.5em;
			}

			h4 {
				margin-bottom: $space-small;
			}

			.timeline {
				height: 45px;
				margin-bottom: $space-small * 2;

				.event {
					width: $timeline-event-size-small;
					height: $timeline-event-size-small;
				}
			}

			.keywords {
				font-size: .9em;
			}
		}

		> blockquote {
			max-width: $default-width / 4;
			right: $space-base;
			bottom: $space-large;
		}
	}
}

