#about {
	position: relative;
	color: $white;
	background-image: url($path-images + 'bg-brownie.jpg');
	background-color: $yellow;

	@include justify-content(flex-start);

	.card {
		position: relative;
		overflow: hidden;
		max-height: calc(100vh - (#{$card-space} * 4));

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			width: 100%;
			height: $card-space;
			background: $white;
		}

		section {
			overflow: auto;
			max-height: $card-space * 10;
		}
	}

	> blockquote {
		position: absolute;
		right: $space-extra * 2;
		bottom: $space-extra * 2;

		mark {
			padding: $space-tiny 0;
			color: inherit;
		}
	}
}

