#contact {
	position: relative;
	color: white;
	background-image: url($path-images + 'bg-phone.webp');

	@include justify-content(flex-start);

	.card {
		width: $card-width + ($space-extra * 2);
		position: relative;
		padding-bottom: $card-space;

		p {
			font-size: .8em;
		}

		form {
			margin-top: $space-large;

			.input {
				&:last-of-type {
					margin-bottom: 0;
				}

				textarea {
					min-width: 100%;
					max-height: $input-height * 5;
				}
			}
		}

		button {
			position: absolute;
			bottom: 0;
			left: 50%;

			@include transform(translate(-50%, 50%));
		}
	}

	> blockquote {
		position: absolute;
		right: $space-extra * 1.5;
		bottom: $space-extra * 1.5;
		color: $white;
		text-shadow: $text-shadow;

		&::before {
			background: $yellow;
		}
	}

	// MEDIA QUERIES

	@media screen and (min-width: $screen-width-laptop) {
		.card {
			margin-left: $card-space * 2;
		}
	}

	@media screen and (min-width: $screen-width-full-hd) {
		.card {
			margin-left: $card-space * 3;
		}
	}

	@media screen and (max-width: $screen-width-average) {
		> blockquote {
			max-width: $default-width / 3;
			right: $space-large;
			bottom: $space-large;
		}
	}

	@media screen and (max-height: $screen-height-average) {
		.card {
			width: $card-width-average;
			margin: $card-space-small;
			padding: $card-space-small;

			h1 {
				font-size: 1.8em;
			}

			form {
				margin-top: $space-large;
			}
		}
	}

	@media screen and (max-height: $screen-height-small) {
		.card {
			width: $card-width-small;
			padding-bottom: $card-space-small;

			h1 {
				margin-bottom: $space-base;
				font-size: 1.7em;
			}

			form {
				.input {
				textarea {
						max-height: $input-height-small * 2;
					}
				}
			}
		}

		> blockquote {
			max-width: $default-width / 4;
			right: $space-base;
			bottom: $space-large;
		}
	}
}

