#home {
	color: white;
	background-image: url($path-images + 'bg-mom.jpg');

	@include flex-direction(column);

	.logo {
	    width: $logo-home-size;
	    height: $logo-home-size;
	    margin-bottom: $space-extra;
	}

	h1 {
		max-width: $default-width;
		color: $white;
		text-align: center;
		text-shadow: $text-shadow;

		mark {
			color: $yellow;
			background: transparent;
			font-weight: inherit;
		}
	}

	// MEDIA QUERIES

	@media (max-height: $screen-height-average) {
		.logo {
			width: $logo-home-size-average;
	    	height: $logo-home-size-average;
		}
	}

	@media (max-height: $screen-height-small) {
		.logo {
			width: $logo-home-size-small;
	    	height: $logo-home-size-small;
			margin-bottom: $space-large;
		}
	}
}
