#work {
	overflow-x: hidden;
	width: auto;
	padding: 0;
	background-image: url('../images/pattern-blue.webp');
	background-color: $white;
	background-attachment: initial;
	background-size: initial;
	background-repeat: repeat;
	background-position: initial;

	@include flex-direction(row);
	@include justify-content(flex-start);

	.wrapper {
		width: $main-width;

		@include flexbox();
		@include flex-shrink(0);
		@include flex-direction(row);
		@include flex-wrap(wrap);
		@include justify-content(flex-start);
		@include align-items(flex-start);

		.item {
			position: relative;
			width: calc(100% / 3);
			height: calc((100vh - (#{$space-small} * 2)) / 3);
			padding: $space-large;
			background-color: transparent;
			background-image: url($path-thumbs + 'test.webp');
			background-size: cover;
			background-position: center;
			transition: all $speed-default ease;
			cursor: pointer;

			@include flexbox();
			@include flex(0 0 auto);
			@include flex-direction(column);
			@include justify-content(center);
			@include align-items(center);

			&::before,
			&::after {
				content: '';
				z-index: 0;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				transition: inherit;
			}

			// The filtered image

			&::before {
				background-image: inherit;
				background-size: inherit;
				background-position: inherit;

				@include filter(grayscale, 100%);
			}

			// BLUE OVERLAY

			&::after {
				background-color: $blue;
				background-image: url($path-images + 'pattern-white-faded.webp');
			}

			> * {
				pointer-events: none;
			}

			h2 {
				color: $white;
				text-align: center;
			}

			h3 {
				margin-bottom: $space-base;
				color: $yellow;
				font-weight: $bold;

				&::after {
					content: '';
					display: block;
					width: 100%;
					height: $stroke-height;
					margin-top: $space-small;
					background: $yellow;
				}
			}

			.view {
				margin-top: $space-base;
				padding: $space-small;
				color: $blue;
				background: $yellow;
				font-family: $header-font;
				font-weight: $regular;
				text-transform: uppercase;

				@include flexbox();
				@include align-items(center);

				svg {
					margin-right: $space-tiny;
				}
			}

			h2, h3, .view {
				z-index: 1;
				opacity: 0;
				transition: inherit;
			}

			&:hover,
			&:focus {
				&::before {
					opacity: 1;
				}

				&::after {
					opacity: .8;
				}

				h2, h3, .view {
					opacity: 1;
				}
			}

			&:active {
				&::before,
				&::after {
					opacity: 0;
				}

				h2, h3, .view {
					opacity: 0;
				}
			}

			// WORK ITEM CLASSES

			&#trioptima { background-image: url($path-thumbs + 'trioptima.webp'); }
			&#ericsson { background-image: url($path-thumbs + 'ericsson.webp'); }
			&#esm-vr { background-image: url($path-thumbs + 'esm-vr.webp'); }
			&#loki { background-image: url($path-thumbs + 'loki.webp'); }
			&#alien { background-image: url($path-thumbs + 'alien.webp'); }
			&#goo { background-image: url($path-thumbs + 'goo.webp'); }
			&#wannaplayer { background-image: url($path-thumbs + 'wannaplayer.webp'); }
			&#nem-tudo { background-image: url($path-thumbs + 'nem-tudo.webp'); }
			&#mana { background-image: url($path-thumbs + 'mana.webp'); }
			&#mamacita { background-image: url($path-thumbs + 'mamacita.webp'); }
		}
	}

	// MEDIA QUERIES

	@media screen and (max-height: $screen-height-small) {
		.wrapper {
			width: $main-width-small;

			.item {
				height: calc((100vh - (#{$space-base} * 2)) / 3);

				h2 {
					font-size: 1.5em;
				}

				h3 {
					margin-bottom: $space-small;

					&::after {
						margin-top: $space-tiny;
					}
				}

				.view {
					margin-top: $space-small;
					padding: 6px $space-small;

					svg {
						width: 18px;
						height: 18px;

						@include transform(scale(.8));
					}
				}
			}
		}
	}
}
