#about {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: $space-extra;
    align-items: flex-start;

    p {
        &:last-of-type {
            margin-bottom: $space-extra;
        }
    }

    .avatar {
        position: relative;
        width: 80%;
        justify-self: center;
        cursor: pointer;

        picture {
            width: 100%;
            height: auto;
            transition: opacity $speed-slow ease;

            img {
                width: inherit;
                height: inherit;
            }

            &:nth-child(2) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: auto;
                opacity: 0;
            }
            
            &:hover {
                &:nth-child(2) {
                    opacity: 1;
                }
            }
        }
    }
}