@use "../variables";

#bye {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: variables.$space-extra;
    margin: variables.$space-jumbo 0;

    h1 {
        grid-column-start: 2;
        text-align: right;
    }
}