@use "../variables";

#bye {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: var(--space-extra);
    margin: var(--space-jumbo) 0;

    h1 {
        grid-column-start: 2;
        text-align: right;
    }
}