@use "../variables";

#content {
    h2 {
        margin-bottom: var(--space-large);
        justify-self: center;
        text-align: center;
    }

    > .pill {
        margin-bottom: var(--space-jumbo);
    }

    .card-grid {
        display: grid;
        justify-items: flex-start;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: var(--space-large);

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: calc(var(--space-jumbo) * 4);
            padding: calc(var(--space-small) * 4);
            border: 2px solid transparent;
            border-radius: var(--border-radius-card);
            text-decoration: none;
            transition: all var(--speed-default) ease;

            // Background image
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-image: url(images/pattern.png);
                background-size: 5%;
                background-repeat: repeat;
                opacity: .3;
            }

            header {
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: var(--space-large);

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                    margin-bottom: var(--space-large);
                    background: var(--main-bg-transparency);
                    border-radius: var(--border-radius-default);
                    z-index: var(--z-index-tooltip);
                }

                h3 {
                    font-size: 1.25rem;
                    margin-bottom: var(--space-small);
                    text-wrap: balance;

                    &::after {
                        content: "—";
                        display: block;
                        margin-top: var(--space-small);
                    }
                }
    
                p {
                    font-size: 1rem;
                    font-weight: var(--medium);
                    line-height: 1.2em;
                    text-wrap: balance;
                }
            }

            .btn {
                background: var(--main-bg-color);
                text-align: center;
                z-index: var(--z-index-tooltip);
            }

            &:hover:not(:active),
            &:focus {
                border-color: var(--main-text-color);

                .btn {
                    background: var(--main-text-color);
                    color: var(--main-bg-color);
                }
            }
        }

        // MEDIA QUERIES
        @media only screen and (max-device-width: 1230px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media only screen and (max-device-width: 799px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: var(--space-base);

            .card {          
                header {
                    margin-bottom: var(--space-large);
    
                    h3 {
                        font-size: 1.2rem;
                    }
        
                    p {
                        font-size: var(--body-font-size);
                    }
                }
            }
        }

        @media only screen and (max-device-width: 470px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));

            .card {
                min-height: calc(var(--space-jumbo) * 3.5);
            }
        }
    }
}