@use "../variables";

#contact {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: var(--space-extra);
    align-items: flex-start;

    form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: var(--space-large);
    }

    // MEDIA QUERIES
    @media only screen and (max-device-width: 1200px) {
        grid-template-columns: auto;
        row-gap: var(--space-extra);

        form {
            max-width: calc(var(--space-jumbo) * 6);
        }
    }

    @media only screen and (max-device-width: 799px) {
        h2 {
            max-width: 50%;
        }
    }
}
