@use "../variables";

#content {
    .card-grid {
        display: grid;
        justify-items: flex-start;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: variables.$space-large;
        margin-top: variables.$space-extra;

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: variables.$space-jumbo * 4;
            padding: variables.$space-small * 4;
            border: 2px solid transparent;
            border-radius: variables.$border-radius-card;
            text-decoration: none;
            transition: all variables.$speed-default ease;

            // Background image
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background-image: url(images/pattern.png);
                background-size: 5%;
                background-repeat: repeat;
                opacity: .3;
            }

            header {
                margin-bottom: variables.$space-large;

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 48px;
                    height: 48px;
                    margin-bottom: variables.$space-large;
                    background: var(--main-bg-transparency);
                    border-radius: variables.$border-radius-default;
                }

                h3 {
                    font-size: 1.25rem;
                    margin-bottom: variables.$space-small;
                    text-wrap: balance;

                    &::after {
                        content: "—";
                        display: block;
                        margin-top: variables.$space-small;
                    }
                }
    
                p {
                    font-size: 1rem;
                    font-weight: variables.$medium;
                    line-height: 1.2em;
                    text-wrap: balance;
                }
            }

            .btn {
                text-align: center;
            }

            &:hover:not(:active),
            &:focus {
                border-color: var(--main-text-color);

                .btn {
                    background: var(--main-text-color);
                    color: var(--main-bg-color);
                }
            }
        }

        // Media queries
        @media only screen and (max-device-width: 1230px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media only screen and (max-device-width: 799px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: variables.$space-base;
            margin-top: variables.$space-extra;

            .card {          
                header {
                    margin-bottom: variables.$space-large;
    
                    h3 {
                        font-size: 1.2rem;
                    }
        
                    p {
                        font-size: variables.$body-font-size;
                    }
                }
            }
        }

        @media only screen and (max-device-width: 470px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));

            .card {
                min-height: variables.$space-jumbo * 3.5;
            }
        }
    }
}