@use "../variables";

#contact {
    display: grid;
    grid-template-columns: 2fr 2fr;
    column-gap: var(--space-extra);
    align-items: flex-start;

    form {
        margin: 0;
        width: 100%;
        text-align: right;
    }
}