#work {
    h2 {
        margin-bottom: $space-jumbo;
    }

    article {
        margin: $space-extra 0;
        margin-bottom: $space-jumbo;

        > a {
            overflow: hidden;
            filter: grayscale(1);
            mix-blend-mode: multiply;

            picture,
            video {
                display: block;
                transition: transform $speed-slow ease;
            }

            &:hover,
            &:active {
                filter: grayscale(0);
                mix-blend-mode: normal;

                picture,
                video {
                    transform: scale(105%);
                }
            }
        }

        > div {
            display: grid;
            grid-template-columns: 4fr 1fr;
            column-gap: $space-jumbo;
            justify-items: flex-start;
            margin-top: $space-extra;

            div:nth-child(2) {
                b {
                    margin-bottom: $space-large;
                }

                p {
                    font-size: 1em;
                }

                a {
                    margin-top: $space-extra;
                }
            }
        }
    }
}