@use "../variables";

#work {
    h2 {
        margin-bottom: var(--space-large);
        justify-self: center;
        text-align: center;
    }

    > .pill {
        margin-bottom: var(--space-jumbo);
    }

    article {
        margin-bottom: var(--space-jumbo);

        h4 {
            margin-bottom: var(--space-base);
        }

        > a {
            overflow: hidden;
            filter: grayscale(1);
            mix-blend-mode: multiply;

            picture,
            video {
                display: block;
                transition: transform var(--speed-slow) ease;
            }

            &:hover,
            &:active {
                filter: grayscale(0);
                mix-blend-mode: normal;

                picture,
                video {
                    transform: scale(105%);
                }
            }
        }

        > div {
            display: grid;
            grid-template-columns: 3fr 1fr;
            column-gap: var(--space-jumbo);
            justify-items: flex-start;
            margin-top: var(--space-extra);

            aside {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                h4 {
                    margin-top: var(--space-large);

                    &:first-child {
                        margin-top: 0;
                    }
                }

                .pill {
                    margin-left: 0;
                    margin-bottom: var(--space-small);
                }

                a {
                    margin-top: var(--space-large);
                }
            }
        }
    }

    .dual-column {
        article {
            > div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: var(--space-extra);

                aside {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        h4,
                        .pill {
                            margin-bottom: 0;
                        }

                        .pill {
                            margin-left: var(--space-small);
                        }
                    }

                    a {
                        margin-top: 0;
                        margin-left: var(--space-large);
                    }
                }
            }
        }
    }
}
