@use "../variables";

#work {
    article {
        margin-bottom: var(--space-jumbo);

        h4 {
            margin-bottom: var(--space-base);
        }

        > a {
            overflow: hidden;
            filter: grayscale(1);
            mix-blend-mode: multiply;

            picture,
            video {
                display: block;
                transition: transform var(--speed-slow) ease;
            }

            &:hover,
            &:active {
                filter: grayscale(0);
                mix-blend-mode: normal;

                picture,
                video {
                    transform: scale(105%);
                }
            }
        }

        > div {
            display: grid;
            grid-template-columns: 4fr 1fr;
            column-gap: var(--space-jumbo);
            justify-items: flex-start;
            margin-top: var(--space-extra);

            div:nth-child(2) {
                b {
                    margin-bottom: var(--space-large);
                }

                p {
                    font-size: 1em;
                }

                a {
                    margin-top: var(--space-large);
                }
            }
        }
    }

    .dual-column {
        article {
            margin-bottom: 0;

            a {
                margin-top: var(--space-large);
            }
        }
    }
}