@use "../variables";

main {
	&.standalone-page {
		h1 {
			margin-bottom: var(--space-jumbo);
			font-size: 6em;
			font-weight: var(--black);
		}
	}

	&.salary {
		margin-bottom: calc(var(--space-jumbo) * 2);

        h4 {
            font-size: var(--paragraph-font-size);
			font-weight: var(--black);
        }

		h5 {
			font-size: var(--paragraph-font-size);
			font-weight: var(--medium);

			&:last-of-type {
				margin-bottom: var(--space-extra);
			}
		}

		section {
			&:not(:first-of-type) {
				margin-top: 0;
				margin-bottom: var(--space-jumbo);
			}

			&:last-child {
				margin-bottom: calc(var(--space-jumbo) * 2);
			}

			p {
				&:last-of-type {
					margin-bottom: var(--space-large);
				}
			}
		}

        article	{
			margin-bottom: calc(var(--space-extra) + var(--space-large));

			time {
				margin-bottom: var(--space-large);
				font-size: var(--paragraph-font-size);
				font-weight: var(--medium);
			}
		}
	}

	@media only screen
	and (max-device-width: 799px) {
		&.standalone-page {
			h1 {
				margin-bottom: var(--space-jumbo);
				font-size: 4em;
			}
		}

		&.salary {
			h4 {
				margin-bottom: var(--space-large);
			}

			h5 {
				font-size: 1em;
			}

			article	{
				time {
					font-size: 1em;
				}
			}
		}
	}
}