@use "../variables";

main {
	&.standalone {
		h2 {
			justify-self: center;
			margin-bottom: var(--space-large);
   			text-align: center;
		}

		section {
            article {
                margin-bottom: var(--space-jumbo);
            }
        }
	}

	&.salary {
		.date {
			margin-bottom: var(--space-large);
			font-size: var(--paragraph-font-size);
			font-weight: var(--medium);

			&::before {
				content: '🗓️';
				margin-right: var(--space-small);
			}
		}

		hgroup {
			h4 {
				margin-bottom: var(--space-large);
			}
		}

		.money {
			&:before {
				content: '💵';
				margin-right: var(--space-small);
			}

			span {
				&:before {
					content: '💰';
					margin-right: var(--space-small);
				}
			}
		}
	}

	@media only screen and (max-device-width: 799px) {
		section {
            article {
                margin-bottom: var(--space-extra);
            }
        }
	}
}