html {
	@include box-sizing(border-box);

	&:before,
	&:after {
		@include box-sizing(inherit);
	}
}

body {
	margin: 0;
	padding: 0;
	background: $body-bg;
	font-family: $body-font;
	font-weight: normal;
    overflow-x: hidden;
}

section {
    width: calc(100vw - 80px);
	min-height: calc(100vh - 80px);
	padding: 40px;
	// This creates parallax on bg
	background-attachment: fixed;

    @include flexbox;
    @include flex-flow(column);
    @include justify-content(center);
    @include align-items(center);
}

.logo {
    width: 50px;
    height: 50px;
    background: url(../images/logo_@2X.png) no-repeat center;
    background-size: contain;
}
