html {
	scroll-behavior: smooth;

    @include box-sizing(border-box);
	@include scrollbars(0, transparent, transparent);
}

*,
*::before,
*::after {
	outline: 0;

    @include box-sizing(inherit);
}

body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: $black;
	background: $body-bg;
    overflow: hidden;

	@include flexbox();
}

img,
figure,
iframe {
	max-width: 100%;
}

svg {
	pointer-events: none;
}

form {
	margin-top: $space-large;

	&:first-child {
		margin-top: 0;
	}
}

hr {
	width: 100%;
	margin-top: $space-large;
	border: 0;
}

// NO MARGIN CLASS

.no-margin {
	margin: 0 !important;
}

// SPACING CLASSES

.margin {
	&-ts { margin-top: $space-small !important; }
	&-tb { margin-top: $space-base !important; }
	&-tl { margin-top: $space-large !important; }
	&-te { margin-top: $space-extra !important; }
}