@use "mixins/mixins";
@use "variables";


html {
	scroll-behavior: smooth;

    @include mixins.box-sizing(border-box);
	@include mixins.scrollbars(0, transparent, transparent);
}

*,
*::before,
*::after {
	outline: 0;

    @include mixins.box-sizing(inherit);
}

body {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: var(--space-jumbo);
	color: var(--main-text-color);
	background: var(--main-bg-color);
	font-size: var(--body-font-size);
	transition: background-color var(--speed-slowest) ease;

	display: flex;
	justify-content: center;
}

section {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	margin: var(--section-margin) 0;
	scroll-margin: calc(var(--section-margin) * 0.5);
}

img,
figure,
video,
iframe {
	width: 100%;
}

figure {
	figcaption {
		margin-top: var(--space-large);
		color: var(--main-text-color);
		font-size: 1rem;

		&::before {
			content: '—\00a0\00a0';
		}
	}
}

svg {
	pointer-events: none;
}

form {
	margin-top: var(--space-large);

	&:first-child {
		margin-top: 0;
	}
}

hr {
	width: 100%;
	margin-top: var(--space-large);
	border: 0;
}

time,
.money {
	font-variant-numeric: slashed-zero;
}

// FOCUS STYLE
.focus {
	outline-color: var(--main-text-color);
	outline-style: dashed;
	outline-offset: 2px;
	outline-width: 2px;
}

// NO MARGIN CLASS
.no-margin {
	margin: 0 !important;
}

// SPACING CLASSES
.margin {
	&-ts { margin-top: var(--space-small) !important; }
	&-tb { margin-top: var(--space-base) !important; }
	&-tl { margin-top: var(--space-large) !important; }
	&-te { margin-top: var(--space-extra) !important; }
	&-tj { margin-top: var(--space-jumbo) !important; }

	&-bs { margin-bottom: var(--space-small) !important; }
	&-bb { margin-bottom: var(--space-base) !important; }
	&-bl { margin-bottom: var(--space-large) !important; }
	&-be { margin-bottom: var(--space-extra) !important; }
	&-bj { margin-bottom: var(--space-jumbo) !important; }
}

// TOOLTIP TRIGGER
[data-tooltip] {
	cursor: help;
}

// NAME TRIGGER
[data-name] {
	cursor: pointer;
}

// WRAPPER
.wrapper {
	align-items: flex-start;
    width: 100%;
    max-width: 1112px;
}

// VIMEO
.vimeo {
	position: relative;
	display: block;
	width: 100%;
	padding: 56.25% 0 0 0;
}