html {
    @include box-sizing(border-box);
	@include scrollbars(0, transparent, transparent);
}

*,
*::before,
*::after {
	outline: 0;

    @include box-sizing(inherit);
}

body {
	width: 100vw;
	margin: 0;
	padding: 0;
	color: $black;
	background: $body-bg;
    overflow: hidden;

	@include flexbox();
}

img,
iframe {
	max-width: 100%;
}

form {
	margin-top: $space-large;

	&:first-child {
		margin-top: 0;
	}
}
