html {
	scroll-behavior: smooth;

    @include box-sizing(border-box);
	@include scrollbars(0, transparent, transparent);
}

*,
*::before,
*::after {
	outline: 0;

    @include box-sizing(inherit);
}

body {
	width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: $black;
	background: $body-bg;
    overflow: hidden;

	@include flexbox();
}

img,
iframe {
	max-width: 100%;
}

form {
	margin-top: $space-large;

	&:first-child {
		margin-top: 0;
	}
}

// NO MARGIN CLASS

.no-margin {
	margin: 0 !important;
}

// MEDIA QUERIES

// Reduced motion
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

// This should cover most smartphones
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 812px) {
		body {
			color: white;
			background-image: url($path-images + 'bg-mom.jpg');
			background-color: $blue;
			background-attachment: fixed;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top;
			text-align: center;

			@include flexbox();
			@include flex-direction(column);
			@include justify-content(center);
			@include align-items(center);

			&::before,
			&::after {
				content: '';
				max-width: 80vw;
			}

			&::before {
				width: 600px;
				height: 600px;
				max-height: 80vw;
				margin-bottom: $space-extra;
				background-image: url($path-images + 'logo.png');
				background-size: cover;
				background-repeat: no-repeat;
			}

			&::after {
				content: "I'm currently working on the mobile version of this site, in the meantime please visit on a laptop or tablet...";
				font-size: 5em;
				text-transform: uppercase;
				text-shadow: $text-shadow;
				line-height: 1em;
			}

			> * {
				display: none !important;
			}
		}
}