// IMPORT LOCAL FONTS

@font-face {
    font-family: 'Bebas Neue Pro';
    src: url($path-fonts + 'BebasNeuePro-Bold.woff2') format('woff2'),
         url($path-fonts + 'BebasNeuePro-Bold.woff') format('woff'),
         url($path-fonts + 'BebasNeuePro-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Pro';
    src: url($path-fonts + 'BebasNeuePro-Regular.woff2') format('woff2'),
         url($path-fonts + 'BebasNeuePro-Regular.woff') format('woff'),
         url($path-fonts + 'BebasNeuePro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Pro';
    src: url($path-fonts + 'BebasNeuePro-Book.woff2') format('woff2'),
         url($path-fonts + 'BebasNeuePro-Book.woff') format('woff'),
         url($path-fonts + 'BebasNeuePro-Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: $body-font;
	font-weight: $regular;
	font-size: $body-font-size;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: $black;
    font-family: $header-font;
    line-height: 1em;
    text-transform: uppercase;
}

h1 {
    color: $blue;
    font-size: 2.5em; // 42px
    font-weight: $bold;
}

h2 {
    color: $blue;
    font-size: 1.7em; // 32px
    font-weight: $bold;
}

h3 {
    font-size: 0.8em; // 16px
    font-weight: $regular;
}

h4 {
    display: inline-block;
    color: $blue;
    font-size: 1.3em; // 24px
}

h5 {
    display: inline-block;
    color: $blue;
    font-size: 0.7em; // 14px
    font-weight: $bold;
}

h6 {
    display: inline-block;
    color: $gray-dark;
    font-size: 0.7em; // 14px
    font-weight: $book;
}

hgroup {
    line-height: 1em;
}

p {
	margin: 0;
    margin-bottom: $space-base;
    font-weight: $book;
    line-height: 1.2em;

    &:last-child {
        margin-bottom: 0;
    }
}

span {
    font-weight: inherit;
    line-height: inherit;
}

a {
    color: $blue;
    outline: 0;
    transition: all $speed-default ease;

    &:hover {
        background: $yellow;
    }

    &:active {
        color: $white;
        background: $blue;
        text-decoration: none;
    }

    &.has-focus {
        background: $yellow;
    }
}

strong {
    color: $blue;
    font-weight: $regular;
}

mark {
    padding: 0 $space-tiny;
    color: $blue;
    background: $yellow;
    font-weight: $regular;
}

blockquote {
    color: $black;
    margin: $space-large;
    font-size: 1.4em;
    text-transform: uppercase;
    line-height: 1.2em;

    &::before {
        content: '';
        display: block;
        width: $space-extra * 2;
        height: $stroke-height + 1px;
        margin-bottom: $space-small * 2;
        background: $blue;
    }
}

// MEDIA QUERIES

@media screen and (max-height: $screen-height-average) {
    body {
        font-size: $body-font-size-average;
    }

    h1 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.1em;
    }

    h5, h6 {
        font-size: 0.8em;
    }
}

@media screen and (max-height: $screen-height-small) {
    body {
        font-size: $body-font-size-small;
    }

    h1 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.1em;
    }

    h5, h6 {
        font-size: .7em;
    }

    blockquote {
        font-size: 1.2em;

        &::before {
            width: $space-extra;
            height: $stroke-height;
            margin-bottom: $space-base;
        }
    }
}
