@use "variables";

// FONT IMPORT

@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
	html { font-family: 'Inter var', sans-serif; }
}

body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
	font-weight: var(--regular);
	font-size: var(--body-font-size);
	letter-spacing: -0.02em;
}

h1, 
h2, 
h3,
h4,
h5 {
    max-width: calc(var(--space-jumbo) * 8);
    margin: 0;
    line-height: 1em;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-wrap: balance;
}

h1 {
    font-size: 11.391rem;
    font-weight: var(--black);
    line-height: 0.85em;
}

h2 {
	margin-bottom: var(--space-extra);
    font-size: 7.594rem;
    font-weight: var(--black);
    line-height: 0.85em;
}

h3 {
    margin-bottom: var(--space-large);
    font-size: 5.063rem;
    font-weight: var(--black);
    line-height: 0.85em;
}

h4 {
    margin-bottom: var(--space-large);
    font-size: 1.5rem;
    font-weight: var(--black);
    line-height: 1em;

    span {
        font-weight: var(--medium);
        text-transform: none;
    }
}

h5 {
    margin-bottom: var(--space-small);
    font-size: 1rem;
    font-weight: var(--medium);
    text-transform: none;

    a {
        font-weight: var(--medium);
        text-decoration: none;

        &:hover:not(:active) {
            text-decoration: underline;
        }
    }
}

p {
    max-width: calc(var(--space-jumbo) * 8);
    margin: 0;
    margin-bottom: var(--space-large);
    font-size: var(--paragraph-font-size);
	line-height: 1.6em;

    &:last-of-type {
        margin-bottom: 0;
    }

    a {
        font-weight: var(--bold);
    }

    b {
        font-weight: var(--bold);
    }
}

// PATTERN TEXT
.pattern {
	background-image: url("../images/pattern.png");
	background-repeat: repeat;
	background-size: 8px;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	opacity: 0.8;
}