// FONT IMPORT

@import url('https://rsms.me/inter/inter.css');

html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
	html { font-family: 'Inter var', sans-serif; }
}

body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
	font-weight: $medium;
	font-size: $body-font-size;
	letter-spacing: -.02em;
}

h1, 
h2, 
h3 {
    margin: 0;
    line-height: 1em;
    text-transform: uppercase;
}

h1 {
    font-size: 3.157rem;
    font-weight: $medium;

    b {
        font-weight: $black;
    }
}

h2 {
	margin-bottom: $space-extra;
    font-size: 2.369rem;
    font-weight: $black;
}

h3 {
    font-size: 1.777rem;
    font-weight: $black;
}

p {
    font-size: $paragraph-font-size;
	line-height: 1.6em;

    a {
        font-weight: $extra-bold;
    }

    b {
        font-weight: $extra-bold;
    }
}
