// COLORS

$white: #ffffff;
$black: #464646;

$blue: #008BCC;
$yellow: #FFF800;
$red: #CC0069;

$gray-dark: #666666;
$gray-mid: mix($white, $gray-dark, 33%);

$body-color: $black;
$body-bg: $white;
$body-bg-dark: #1D1D1D;

$border-color: #E0E0E0;

$gold: #FFDD60;
$alien: #3AA550;

// TYPOGRAPHY

$body-font: 'Bebas Neue Pro', Helvetica, Arial, sans-serif;
$header-font: 'Bebas Neue Pro', Helvetica, Arial, sans-serif;

$body-font-size: 18px;

$book: 300;
$regular: 400;
$bold: 500;

$text-fix: 2px;
$text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);

// SPEEDS

$speed-default: .2s;
$speed-slow: .4s;
$speed-slowest: .8s;
$speed-loading: 3s;

// SIZES

$space-tiny: 4px;
$space-small: $space-tiny * 2;
$space-base: $space-tiny * 3;
$space-large: $space-base * 2;
$space-extra: $space-base * 4;

$space-modal: $space-extra;
$modal-aside-width: 120px;

$max-text-width: 700px;
$max-article-width: 1024px;

$header-width: 120px;
$footer-width: 66px;

$main-width: calc(100vw - #{$header-width} - #{$footer-width});
$main-height: calc(100vh - (#{$space-large} * 2));

$logo-home-size: $space-extra * 6;

$btn-height: $space-large * 2;
$avatar-width: $space-large;
$card-width: $space-extra * 11;

$loading-width: $space-extra * 2;
$tooltip-caret-width: $space-small;

$input-width: $space-extra * 8;
$input-height: $space-extra;
$input-padding: $space-base;
$input-icon-size: 18px;

$stroke-height: 2px;

// Z-INDEXES

$scroll-btn-index: 100;
$modal-index: 9999;
$z-index-tooltip: 10000;

// PATHS

$path-fonts: '../fonts/';
$path-images: '../images/';
$path-avatars: '../images/avatars/';
$path-thumbs: '../images/thumbs/';

// MEDIA QUERY SIZES

$screen-height-average: 643px;
$screen-height-small: 475px;

$body-font-size-average: 14px;
$body-font-size-small: 12px;

$header-width-small: 80px;
$footer-width-small: 48px;

$main-width-small: calc(100vw - #{$header-width-small} - #{$footer-width-small});
$main-height-small: calc(100vh - (#{$space-base} * 2));

$logo-home-size-average: $space-extra * 5;
$logo-home-size-small: $space-extra * 4;

$btn-height-average: 40px;
$btn-height-small: 34px;

$card-width-small: 400px;

$input-height-small: $space-large + $space-base;
$input-padding-small: $space-small;
$input-icon-size-small: 16px;