// COLORS

$white: #ffffff;
$black: #464646;

$blue: #008BCC;
$yellow: #FFF800;
$gray-dark: #666666;

$body-bg: $white;
$body-color: $black;

// TYPOGRAPHY

$body-font: 'Bebas Neue Pro', Helvetica, Arial, sans-serif;
$header-font: 'Bebas Neue Pro', Helvetica, Arial, sans-serif;

$body-font-size: 20px;

$regular: 300;
$bold: 500;

$text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);

// SPEEDS

$speed-default: .2s;
$speed-slow: .4s;
$speed-slowest: .8s;

// SIZES

$space-tiny: 4px;
$space-small: $space-tiny * 2;
$space-base: $space-tiny * 3;
$space-large: $space-base * 2;
$space-extra: $space-base * 4;

$space-modal: $space-extra;
$modal-aside-width: 120px;

$max-text-width: 700px;
$max-article-width: 1024px;

$header-width: 120px;
$footer-width: 66px;

$main-width: calc(100vw - #{$header-width} - #{$footer-width});
$main-height: calc(100vh - #{$space-large} - #{$space-large});

$btn-scroll-width: $space-large * 2;
$avatar-width: $space-large;

$stroke-height: 3px;
$tooltip-caret-width: $space-small;

// Z-INDEXES

$scroll-btn-index: 100;
$modal-index: 9999;
$z-index-tooltip: 10000;

// PATHS

$path-fonts: '../fonts/';
$path-images: '../images/';
$path-avatars: '../images/avatars/';
$path-thumbs: '../images/thumbs/';

// OTHER

$shadow-focus: 0 0 0 $space-tiny $yellow;
$btn-scroll-shadow-focus: 0 0 0 $space-tiny $blue;
