// COLORS

$white: #ffffff;
$black: #464646;

$blue: #008BCC;
$yellow: #FFEC00;
$gray-dark: #666666;

$body-bg: $white;
$body-color: $black;

// TYPOGRAPHY

$body-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$header-font: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;

$regular: 300;
$bold: 600;

$text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);

$max-text-width: 700px;

// SPEEDS

$speed-default: .2s;
$speed-slow: .4s;
$speed-slowest: .8s;

// SIZES

$space-tiny: 4px;
$space-small: $space-tiny * 2;
$space-base: $space-tiny * 3;
$space-large: $space-base * 2;
$space-extra: $space-base * 4;

$header-width: 120px;
$footer-width: 66px;

$main-width: calc(100vw - #{$header-width} - #{$footer-width});
$main-height: calc(100vh - #{$space-large} - #{$space-large});

$scroll-btn-width: $space-large * 2;

$stroke-height: 3px;

// Z-INDEXES

$scroll-btn-index: 100;
$modal-index: 9999;

// OTHER

$shadow-focus: 0 0 0 $space-tiny $yellow;
$btn-scroll-shadow-focus: 0 0 0 $space-tiny $blue;
