// COLORS

$white: #ffffff;
$black: #000000;

$primary-color: #008cba;
$secondary-color: #e7e7e7;

$body-bg: $white;
$body-color: $black;

// TYPOGRAPHY

$body-font: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

// OTHER

$site-max-width: 1200px;
