// COLORS

$white: #ffffff;
$black: #000000;

$blue: #018ac9;
$lightGray: #e7e7e7;

$body-bg: $white;
$body-color: $black;

// TYPOGRAPHY

$body-font: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$bebas-font: "Bebas", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;

// OTHER

$site-max-width: 1200px;
