<section>
	<p>
		© Copyright — <b>Tiago Almeida 2021</b><br>
		<br>
		Made in <b>Sweden</b> with <b>love</b>, <b>Handlebars</b>, <b>SASS</b>, <b>JS</b> and the awesome <a href="https://rsms.me/inter/" rel="noopener" target="_blank">Inter</a> typeface created by <a href="https://rsms.me/" rel="noopener" target="_blank">Rasmus Andersson</a>
	</p>

	<p>
		All <a data-tooltip="&quot;code&quot; in binary 🤓">01100011 01101111 01100100 01100101</a> on this page is custom crafted and open source...
	</p>

	<a href="https://github.com/menosketiago" rel="noopener" target="_blank" class="btn secondary">Check it on Github&nbsp;&nbsp;→</a>
</section>

<a href="#top" target="_self" class="icon">
	{{> vectors/icon}}
</a>