<div id="top" class="logo" aria-label="Website logo">
    {{> vectors/logo}}
</div>

<nav role="navigation">
    <a class="arrow-down" href="#about" target="_self" aria-label="About">About</a>
    <a class="arrow-down" href="#work" target="_self"aria-label="Work">Work</a>
    <a class="arrow-down" href="#content" target="_self" aria-label="Content">Content</a>
    <a class="arrow-down" href="#contact" target="_self" aria-label="Contact">Contact</a>
</nav>