<div id="top" class="logo" aria-label="Website logo">
    {{> vectors/logo}}
</div>

<section>
    <h1 role="heading" aria-label="Hi, my name is Tiago Almeida, Product Designer based in Stockholm">
        <span aria-hidden="true">
            <b>Hej!</b> My name is<br>
            <b id="name-home" class="name" data-tooltip="<b>Tee-ah-gu Ahl-may-dah</b><br>Click to listen to the pronunciation">Tiago Almeida</b><br>
            <b class="role">Product Designer</b><br>
            based in <b>Stockholm</b>
        </span>
    </h1>

    <nav role="navigation">
        <a id="nav-about" href="#about" target="_self" aria-label="About">About</a>
        <a id="nav-work" href="#work" target="_self"aria-label="Work">Work</a>
        <a id="nav-content" href="#content" target="_self" aria-label="Content">Content</a>
        <a id="nav-contact" href="#contact" target="_self" aria-label="Contact">Contact</a>
    </nav>
</section>