<div id="top" class="logo">
    {{> vectors/logo}}
</div>

<section>
    <h1 role="heading">
        <b>Hej!</b> My name is<br>
        <b id="name-home" class="name" data-tooltip="<b>Tee-ah-gu Ahl-may-dah</b><br>Click to listen to the pronounciation&nbsp;&nbsp;↓">Tiago Almeida</b><br>
        I’m a <b>Product Designer</b><br>
        and <b>Illustrator</b><br>
        living in <b>Stockholm</b>
    </h1>

    <nav role="navigation">
        <a id="nav-about" href="#about" target="_self">About</a>
        <a id="nav-work" href="#work" target="_self">Work</a>
        <a id="nav-writing" href="#writing" target="_self">Writing</a>
        <a id="nav-contact" href="#contact" target="_self">Contact</a>
    </nav>
</section>