<a href="/index.html" target="_self" id="top" class="logo">
    {{> vectors/logo}}
</a>

<nav>
    <a href="/index.html" target="_self" id="top" class="btn arrow-left" aria-label='Learn more about me'>Learn more about me</a>
</nav>