<article>
    <a href="/work/ericsson.html" target="_self">
        <picture loading="lazy">
            <source
                srcset="/images/_thumbs/ericsson.avif 1x, /images/_thumbs/ericsson-2x.avif 2x"
                type="image/avif"
            />
            <source
                srcset="/images/_thumbs/ericsson.webp 1x, /images/_thumbs/ericsson-2x.webp 2x"
                type="image/webp"
            />
            <img
                src="/images/_thumbs/ericsson.jpg"
                alt="An Apple Display XDR screen showing the Ericsson Security Manager app redesigned with the Ericsson Design System language"
                loading="lazy"
            />
        </picture>
    </a>

    <div>
        <div>
            <h3 aria-label="Ericsson Design System">Ericsson Design System</h3>

            <p>
                What if a company rebranding could be about more than
                communication design? That's the question my team at
                <b>Ericsson</b>
                got asked.
            </p>

            <p>
                Our reply was a brand-new user experience strategy
                that culminated in an award-winning Design System and
                kickstarted a company-wide mindset shift.
            </p>
        </div>
        <div>
            <h4>ROLE —</h4>
            <p>Senior Interaction/Visual Designer</p>

            <h4>AWARDS —</h4>
            <p>Red Dot/IF Design</p>

            <a
                href="/work/ericsson.html"
                target="_self"
                class="btn arrow-right"
                aria-label="Read more about the Ericsson Design System"
            >Read more</a>
        </div>
    </div>
</article>