<article>
    <a href="/work/esm-vr.html" target="_self">
        <video
            autoplay
            loop
            muted
            playsinline
            aria-label="An animated image showing the Ericsson Security Manager VR concept"
        >
            <source
                src="/videos/ericsson/esm-vr-concept.webm"
                type="video/webm"
            />
            <source
                src="/videos/ericsson/esm-vr-concept.mp4"
                type="video/mp4"
            />
            <img
                src="/images/ericsson/esm-vr-concept.gif"
                alt="This is a fallback image in case your browser does not support HTML5"
            />
        </video>
    </a>

    <div>
        <div>
            <h3 aria-label="Ericsson Security Manager VR">Ericsson Security
                Manager VR</h3>

            <p>
                To test the boundaries and flexibility of the new design
                language concepts and user experience principles my team created
                for the
                <b>Ericsson</b>
                rebrand, we got challenged to reimagine one of our web-based
                interfaces as a virtual reality experience.
            </p>
        </div>
        <div>
            <h4>ROLE —</h4>
            <p>Senior Interaction/Visual Designer</p>

            <a
                href="/work/esm-vr.html"
                target="_self"
                class="btn arrow-right"
                aria-label="Read more about the Ericsson Security Manager VR experience"
            >Read more</a>
        </div>
    </div>
</article>