<article>
    <a href="/work/esm-vr.html" target="_self">
        <video
            autoplay
            loop
            muted
            playsinline
            aria-label="An animated image showing the Ericsson Security Manager VR concept"
        >
            <source
                src="/videos/ericsson/esm-vr-concept.webm"
                type="video/webm"
            />
            <source
                src="/videos/ericsson/esm-vr-concept.mp4"
                type="video/mp4"
            />
            <img
                src="/images/ericsson/esm-vr-concept.gif"
                alt="This is a fallback image in case your browser does not support HTML5"
            />
        </video>
    </a>

    <div>
        <div>
            <h3 aria-label="Ericsson Security Manager VR">Ericsson Security
                Manager VR</h3>

            <p>
                To test just how flexible the new Ericsson Design System and our UX Design principles were, my team was challenged to imagine 
                how one of our web-based interfaces would translate into a virtual reality experience.
            </p>
            <p>
                Armed with no prior knowledge of VR experiences and a tight deadline, we still managed to rise to the occasion.
            </p>
        </div>
        <aside>
            <h4 class="h-s">Role</h4>

            <div class="pill">Senior Product Designer</div>

            <a
                href="/work/esm-vr.html"
                target="_self"
                class="btn arrow-right"
                aria-label="Read more about the Ericsson Security Manager VR experience"
            >Read more</a>
        </aside>
    </div>
</article>