<p>
    To test the boundaries and flexibility of the new design language concepts and user experience principles my team created for the <b>Ericsson</b> rebrand, we got challenged to reimagine one of our web-based interfaces as a virtual reality experience.
</p>