<article>
    <a href="/work/klarna.html" target="_self">
        <picture loading="lazy">
            <source
                srcset="/images/_thumbs/klarna.avif 1x, /images/_thumbs/klarna-2x.avif 2x"
                type="image/avif"
            />
            <source
                srcset="/images/_thumbs/klarna.webp 1x, /images/_thumbs/klarna-2x.webp 2x"
                type="image/webp"
            />
            <img
                src="/images/_thumbs/klarna.jpg"
                alt="An Apple Display XDR screen showing a window with a Figma page from the Gloss library"
                loading="lazy"
            />
        </picture>
    </a>

    <div>
        <div>
            <h3 aria-label="Klarnan Website Design System">Klarna Website Design
                System</h3>

            <p>
                Can a Design System make it as
                <i>smoooth</i>
                to design, implement, and maintain 37+ multi-language websites
                (as well as dozens of bespoke campaign pages per year) as it is
                to buy with
                <b>Klarna</b>? How about providing full support for multiple
                brands and sub-brands?
            </p>
            <p>
                Find out how a small team of Klarnauts achieved all of this and
                much more in under a year.
            </p>
        </div>
        <aside>
            <h5>Role</h5>

            <div class="pill-group">
                <div class="pill">Design System Manager</div>
                <div class="pill">Senior Product Designer</div>
            </div>

            <a
                href="/work/klarna.html"
                target="_self"
                class="btn arrow-right"
                aria-label="Read more about the Klarna Website Design System"
            >Read more</a>
        </aside>
    </div>
</article>