<article>
    <a href="/work/nem-tudo.html" target="_self">
        <picture loading="lazy">
            <source srcset="/images/_thumbs/nem-tudo.avif 1x, /images/_thumbs/nem-tudo-2x.avif 2x" type="image/avif">
            <source srcset="/images/_thumbs/nem-tudo.webp 1x, /images/_thumbs/nem-tudo-2x.webp 2x" type="image/webp">
            <img class="logo" src="/images/_thumbs/nem-tudo.jpg" alt="A metallic gold silk screen themed illustration for an indie published illustration book" loading="lazy">
        </picture>
    </a>

    <hgroup>
        <h3>Nem Tudo o que Reluz é Ouro</h3> 
        <h4>ROLE — <span>Illustrator</span></h4>
    </hgroup>

    <a href="/work/nem-tudo.html" target="_self" class="btn arrow-right">See more</a>
</article>