<p>
    A story of how a small team of designers with almost no development resources created a thriving design system used on products that have helped compress thousands of trillions of dollars in gross notional in the OTC financial market. 
</p>
<p>
    Or how one motivated designer created 2 Sketch libraries and implemented and maintained a tech stack agnostic CSS/JS framework used in 5 products, where one critical bug could spell thousands of dollars in losses.
</p>