<section id="about">
    <div class="card">
        <div id="me" class="avatar" data-initials="TA"></div>

        <header>
            <h2>About me</h2>

            <p>
                I'm a <time data-year data-age>35</time> year old Product Designer and in-training unicorn™ (a fancy way to say I also do Frontend Devolpment) on an epic quest to craft great products and services.
            </p>
        </header>

        <h4 class="no-margin">Professional timeline</h4>

        {{> timeline}}

        <section class="grid">
             <div class="col col-50">
                {{> skill-chart}}
            </div>
            <div class="col col-50">
                {{> keywords}}
            </div>
        </section>

        <button id="btn-download-cv" onclick="window.open('./files/tiago-almeida.zip')" aria-label="Download CV and Portfolio">
            {{> icons/download}}
            Download CV and Portfolio
        </button>
    </div>

    <blockquote>
        Two generations of designers with a 🐩 named Brownie
    </blockquote>
</section>
