<section id="about" role="region" aria-label="Section with information about me and my design philosophy">
    <div class="avatar">
        <picture>
            <source srcset="/images/avatar-halftone.avif 1x, /images/avatar-halftone-2x.avif 2x" type="image/avif" />
            <source srcset="/images/avatar-halftone.webp 1x, /images/avatar-halftone-2x.webp 2x" type="image/webp" />
            <img class="logo" src="/images/avatar-halftone.jpg" alt="" />
        </picture>
        <picture>
            <source srcset="/images/avatar.avif 1x, /images/avatar-2x.avif 2x" type="image/avif" />
            <source srcset="/images/avatar.webp 1x, /images/avatar-2x.webp 2x" type="image/webp" />
            <img class="logo" src="/images/avatar.jpg" alt="" />
        </picture>
    </div>

    <div>
        <h2>About —</h2>

        <p>Born in 1984 in <b>Lisbon</b>, <b>Portugal</b>, I'm a second-generation Designer, following in my father's footsteps (and according to my mom, I'm a pretty good one). At 16, I started freelancing as a <b>Digital Colorist</b>, which led to discovering illustration as one of my passions. In 2008, I graduated in <b>Product Design</b> (Industrial) at <b>Lisbon's Fine Arts School</b>.</p>

        <p>I have been working for little over 20 years. For the first decade, I mainlybre worked as a <b>Graphic Designer</b> and <b>Illustrator</b>, while I struggled to make ends meet in a country badly hit by the  <a href="https://en.wikipedia.org/wiki/Subprime_mortgage_crisis" rel="noopener" target="_blank">sub-prime crisis</a>.</p>

        <p>Then, in 2012, I joined the Lisbon startup scene with <b>WannaPlayer</b>, a top 15 finalist on <b>The Lisbon Challenge</b> (ranking 12 out of 150 European startups). This is where I transformed into a <b>UX Designer</b> and later evolved into a grown-ass <b>Digital Product Designer</b> (it's unknown if this is my final form).</p>

        <p>Fast forward to 2014, I moved to <b>Stockholm</b>, <b>Sweden</b>, where I have been enjoying the long dark winters, living the lagom life and working for Swedish companies of all sizes, like <b>Goo Technologies</b>, <b>Ericsson</b>, <b>TriOptima</b>, and <b>Mentimeter</b>.</p>

        <p>In my opinion, a designer's job is to bridge user needs with business and development value. Therefore, we should conduct/collaborate with <b>research</b>, visualize ideas with <b>wireframes</b> or <b>mockups</b>, and <b>prototype</b> to enable stakeholder/development alignment and <b>usability testing</b>. I also love to code (I'm a nerd for <b>HTML</b>, <b>CSS</b>, and <b>JS</b>), which helps in working closely with developers and makes me a great addition to any <b>Design System</b> team/effort (been part of 6 in the last few years).</p>

        <p>Today, you can find me at <b>Klarna</b> scaling design for our multi-country and multi-brand websites. This is possible thanks to <b>Gloss</b>, a local design/code library part of the <b>Klarna Design System</b>. Outside work, I mentor the next generation of designers at <a href="https://adplist.org/mentors/tiago-almeida">ADPList</a> and am a hardcore gamer (I was even a videogames journalist some years back).</p>

        <a href="https://www.linkedin.com/in/menosketiago/" rel="noopener" target="_blank" class="btn secondary arrow-right">LinkedIn</a>
        <a href="https://www.instagram.com/menosketiago" rel="noopener" target="_blank" class="btn secondary arrow-right">Instagram</a>
        <a href="https://medium.com/@menosketiago" rel="noopener" target="_blank" class="btn secondary arrow-right">Medium</a>
    </div>
</section>