<section id="about" role="region" aria-label="About section featuring a background image with a picture of me as a kid sitting on a tree with my father and dog on my right side">
    <div class="card">
        <div id="me" class="avatar" data-initials="TA" role="figure" aria-hidden="true"></div>

        <header>
            <h2>About me</h2>
            <p role="text">
                I'm a <time data-year data-age>35</time> years old Product Designer with Frontend development knowledge and experience implementing Design Systems
            </p>
        </header>

        {{> timeline}}

        <div class="grid">
             <div class="col col-50">
                {{> skill-chart}}
            </div>
            <div class="col col-50">
                {{> keywords}}
            </div>
        </div>

        <button id="btn-download-cv" onclick="window.open('./files/tiago-almeida.zip')" aria-label="Download CV and Shortfolio">
            {{> icons/download}}
            Download CV and "Shortfolio"
        </button>
    </div>

    <blockquote>
        Two generations of designers with a 🐩 named Brownie
    </blockquote>
</section>
