<section id="about" role="region" aria-label="Section with information about me and my design philosophy">
    <div class="avatar">
        <picture>
            <source srcset="/images/avatar-halftone.avif 1x, /images/avatar-halftone-2x.avif 2x" type="image/avif">
            <source srcset="/images/avatar-halftone.webp 1x, /images/avatar-halftone-2x.webp 2x" type="image/webp">
            <img class="logo" src="/images/avatar-halftone.jpg" alt="">
        </picture>
        <picture>
            <source srcset="/images/avatar.avif 1x, /images/avatar-2x.avif 2x" type="image/avif">
            <source srcset="/images/avatar.webp 1x, /images/avatar-2x.webp 2x" type="image/webp">
            <img class="logo" src="/images/avatar.jpg" alt="">
        </picture>
    </div>

    <div>
        <h2>About —</h2>

        <p>
            <b>Tiago</b> was born in <b>1984</b> in <b>Lisbon</b>, <b>Portugal</b>. At 16, he started freelancing as a <b>Digital Colorist</b>, which leads to discovering illustration as one of his passions. In <b>2008</b> he completed a <b>Master’s in Product Design</b> at <b>Lisbon’s Fine Arts School</b>.
        </p>

        <p>
            One of his most held beliefs is that a designer’s job is to bridge user needs with business and development. Therefore, designers should conduct just enough <b>research</b>, visualize with <b>wireframes</b> or <b>mockups</b>, and <b>prototype</b> as soon as possible to enable stakeholder/development alignment and, just in time <b>usability testing</b>.
        </p>

        <p>
            He also advocates that designers should learn to <b>code</b> (he his a nerd for <b>HTML</b>, <b>CSS</b>, and <b>JS</b>), and that no company is too small to have a <b>Design System</b> (he has been a contributor in 5 of them in the last few years).
        </p>

        <p>
            Today, you can find him at <a href="https://www.klarna.com/" rel="noopener" target="_blank">Klarna</a>, scaling design for <b>Klarna.com</b>, thanks to <b>Gloss</b>, a local design/code library part of the <b>Klarna Design System</b>.
        </p>

        <a href="https://www.linkedin.com/in/menosketiago/" rel="noopener" target="_blank" class="btn secondary arrow-right">LinkedIn</a>
        <a href="https://www.instagram.com/menosketiago" rel="noopener" target="_blank" class="btn secondary arrow-right">Instagram</a>
        <a href="https://medium.com/@menosketiago" rel="noopener" target="_blank" class="btn secondary arrow-right">Medium</a>
    </div>
</section>
