<section
    id="about"
    role="region"
    aria-label="Section with information about me"
>
    <div class="avatar">
        <picture>
            <source
                srcset="/images/avatar-01.avif 1x, /images/avatar-01-2x.avif 2x"
                type="image/avif"
            />
            <source
                srcset="/images/avatar-01.webp 1x, /images/avatar-01-2x.webp 2x"
                type="image/webp"
            />
            <img class="logo" src="/images/avatar-01.jpg" alt="" />
        </picture>
        <picture>
            <source
                srcset="/images/avatar-02.avif 1x, /images/avatar-02-2x.avif 2x"
                type="image/avif"
            />
            <source
                srcset="/images/avatar-02.webp 1x, /images/avatar-02-2x.webp 2x"
                type="image/webp"
            />
            <img class="logo" src="/images/avatar-02.jpg" alt="" />
        </picture>
        <picture>
            <source
                srcset="/images/avatar-03.avif 1x, /images/avatar-03-2x.avif 2x"
                type="image/avif"
            />
            <source
                srcset="/images/avatar-03.webp 1x, /images/avatar-03-2x.webp 2x"
                type="image/webp"
            />
            <img class="logo" src="/images/avatar-03.jpg" alt="" />
        </picture>
        <picture>
            <source
                srcset="/images/avatar-04.avif 1x, /images/avatar-04-2x.avif 2x"
                type="image/avif"
            />
            <source
                srcset="/images/avatar-04.webp 1x, /images/avatar-04-2x.webp 2x"
                type="image/webp"
            />
            <img class="logo" src="/images/avatar-04.jpg" alt="" />
        </picture>
    </div>

    <div>
        <h2>About —</h2>

        <p>
            I collaborate with teams and stakeholders, to create products and
            design systems, balancing user needs and business value.
        </p>

        <p>
            Born in Portugal, I moved to Sweden 9 years ago, and have since
            worked at companies like
            <b>Ericsson</b>,
            <b>TriOptima</b>,
            <b>Mentimeter</b>
            and
            <b>Klarna</b>.
        </p>

        <p>
            During my free time, you can find me mentoring designers at
            <a
                href="https://adplist.org/mentors/tiago-almeida"
                rel="noopener"
                target="_blank"
            >ADPList</a>, trying to spread love and two decades of design/life
            knowledge. I also post hipster food pics and the occasional rant on
            social media.
        </p>

        <a
            href="https://www.linkedin.com/in/menosketiago/"
            rel="noopener"
            target="_blank"
            class="btn secondary arrow-right"
            aria-label="LinkedIn"
        >LinkedIn</a>
        <a
            href="https://www.youtube.com/@menosketiago"
            rel="noopener"
            target="_blank"
            class="btn secondary arrow-right"
            aria-label="YouTube"
        >YouTube</a>
        <a
            href="https://medium.com/@menosketiago"
            rel="noopener"
            target="_blank"
            class="btn secondary arrow-right"
            aria-label="medium"
        >Medium</a>
        <a
            href="https://www.instagram.com/menosketiago"
            rel="noopener"
            target="_blank"
            class="btn secondary arrow-right"
            aria-label="Instagram"
        >Instagram</a>
    </div>
</section>