<section
    id="about"
    role="region"
    aria-label="Section with information about me"
>

    <div>
        <h2>About —</h2>

        <p>
            I collaborate with teams and stakeholders to craft products and
            systems, balancing business value and user needs.
        </p>
        <p>
            Born in Portugal, I moved to Sweden 9 years ago and have since
            worked at companies like
            <b>Ericsson</b>,
            <b>TriOptima</b>,
            <b>Mentimeter</b>,
            <b>Klarna</b>
            and
            <b>H&M</b>. Today, you can find me on the
            <b>Volvo Cars</b>
            mobile Design System team.
        </p>
        <p>
            During my free time, I mentor designers on
            <a
                href="https://adplist.org/mentors/tiago-almeida"
                rel="noopener"
                target="_blank"
            >ADPList</a>, keep my PlayStation 5 busy and my wife happy with my
            amateur vegan chef skills.
        </p>
        <p>
            Catch me on social media, or check
            <a
                href="#content"
                target="_self"
                aria-label="all my online content"
            >all my online content</a>
            further down.
        </p>

        <a
            href="https://www.linkedin.com/in/menosketiago/"
            rel="noopener"
            target="_blank"
            class="btn secondary arrow-right"
            aria-label="Visit my LinkedIn profile"
        >LinkedIn</a>
        <a
            href="https://www.youtube.com/@menosketiago"
            rel="noopener"
            target="_blank"
            class="btn secondary arrow-right"
            aria-label="Watch my videos on YouTube"
        >YouTube</a>
        <a
            href="https://medium.com/@menosketiago"
            rel="noopener"
            target="_blank"
            class="btn secondary arrow-right"
            aria-label="Read my articles on Medium"
        >Medium</a>
        <a
            href="https://www.instagram.com/menosketiago"
            rel="noopener"
            target="_blank"
            class="btn secondary arrow-right"
            aria-label="Check my photos on Instagram"
        >Instagram</a>
    </div>
</section>