<section id="about">
    <div class="card">
        <header>
            <div id="me" class="avatar" data-initials="TA"></div>

            <h1>Tiago Miguel dos Santos Almeida</h1>

            <h5>Born</h5>
            <h6>Lisbon, Portugal</h6>

            <h5>Located in</h5>
            <h6>Stockholm, Sweden</h6>
        </header>

        {{> timeline}}

        <button>{{> icons/download}} Download CV and Portfolio</button>
    </div>

    <blockquote>
        Two generations of barechested designers with a 🐩 named Brownie
    </blockquote>
</section>
