<section id="about" role="region" aria-label="Section with information about me and my design philosophy">
    <div class="avatar">
        <picture>
            <source srcset="/images/avatar-halftone.avif 1x, /images/avatar-halftone-2x.avif 2x" type="image/avif" />
            <source srcset="/images/avatar-halftone.webp 1x, /images/avatar-halftone-2x.webp 2x" type="image/webp" />
            <img class="logo" src="/images/avatar-halftone.jpg" alt="" />
        </picture>
        <picture>
            <source srcset="/images/avatar.avif 1x, /images/avatar-2x.avif 2x" type="image/avif" />
            <source srcset="/images/avatar.webp 1x, /images/avatar-2x.webp 2x" type="image/webp" />
            <img class="logo" src="/images/avatar.jpg" alt="" />
        </picture>
    </div>

    <div>
        <h2>About —</h2>

        <p>
            <b>Tiago</b> was born in <b>1984</b> in <b>Lisbon</b>, <b>Portugal</b>. He is a second-generation designer,
            following in his father's footsteps before even reaching puberty, and according to his mom, he is also good at it. At 16, he started freelancing as a <b>Digital Colorist</b>, which led to discovering illustration as one of his life passions. In <b>2008</b> he completed a <b>Master's</b> in <b>Product Design</b> (Industrial) at <b>Lisbon's Fine Arts School</b>.
        </p>
        <p>
            He has been working for around 20 years. He dedicated the first ten years to graphic design, illustration, and making ends meet in a country badly hit by the 2008 economic crisis and the subsequent IMF-driven austerity plan.
        </p>
        <p>
            In 2012 he joined the universal church of startups with <b>WannaPlayer</b>, a top 15 finalist on <b>The Lisbon Challenge</b> (ranking
            12 out of 150 European startups). This was is trial-by-fire into becoming a <b>UX Designer</b>, and later evolve like a Pok&eacute;mon into a
            majestic <b>Digital Product Designer </b>(it's unknown if this is his final form).</p>
        <p>
            Then in 2014, he moved to <b>Stockholm</b>, <b>Sweden</b>, to enjoy the long and dark winters, live the lagom life, and spend way too much money on Scandinavian design. He has worked in different industries for companies like <b>Goo Technologies</b>, <b>Ericsson</b>, <b>TriOptima</b>, and <b>Mentimeter</b>.
        </p>
        <p>
            One of his beliefs is that a designer's job is to bridge user needs with business and development. Therefore, designers should conduct just
            enough <b>research</b>, visualize with <b>wireframes</b> or <b>mockups</b>, and <b>prototype</b> as soon as possible to enable stakeholder/development alignment and, just in time <b>usability testing</b>.
        </p>
        <p>
            He also advocates that designers should learn to <b>code</b> (he is a nerd for <b>HTML</b>, <b>CSS</b>, and <b>JS</b>) and that no company is too small to have a <b>Design System</b> (he has been a contributor to five in the last few years).
        </p>

        <p>
            Today, you can find him at <a target="_blank" href="https://www.klarna.com/" rel="noopener">Klarna</a>, scaling design for <b>Klarna.com</b>, thanks to <b>Gloss</b>, a local design/code library part of the <b>Klarna Design System</b>. After work, he also mentors the next generation of designers at <a target="_blank" href="https://adplist.org/mentors/tiago-almeida" rel="noopener"><b>ADPList</b></a>.
        </p>

        <a href="https://www.linkedin.com/in/menosketiago/" rel="noopener" target="_blank"
            class="btn secondary arrow-right">LinkedIn</a>
        <a href="https://www.instagram.com/menosketiago" rel="noopener" target="_blank"
            class="btn secondary arrow-right">Instagram</a>
        <a href="https://medium.com/@menosketiago" rel="noopener" target="_blank"
            class="btn secondary arrow-right">Medium</a>
    </div>
</section>