<section
    id="about"
    role="region"
    aria-label="Section with information about me"
>
    <div>
        <h2>
            Making<br> 
            things<br>
            more<br>
            <span class="pattern">human</span>
        </h2>
    </div>

    <div>
        <p>
            My mission is to drive products forward with craft and collaboration
            with other designers, engineers, product managers, and other awesome
            humans ❤️
        </p>
        <p>
            Born in Portugal, I moved to Sweden 9 years ago, and have since
            worked at companies like
            <b>Ericsson</b>,
            <b>TriOptima</b>,
            <b>Mentimeter</b>, and
            <b>Klarna</b>. Today I lead the Mobile Design System at
            <b>Volvo Cars</b>.
        </p>
        <p>
            During my free time, I mentor designers in order to spread love and over two decades of design/life knowledge, and play videogames (used to be semi-pro games journalist). I also post hipster food pics and the occasional rant on social media.
        </p>
        <a
            href="https://www.linkedin.com/in/menosketiago/"
            rel="noopener"
            target="_blank"
            class="btn secondary arrow-right"
            aria-label="Visit my LinkedIn profile"
        >LinkedIn</a>
        <a
            href="https://www.youtube.com/@menosketiago"
            rel="noopener"
            target="_blank"
            class="btn secondary arrow-right"
            aria-label="Watch my videos on YouTube"
        >YouTube</a>
        <a
            href="https://www.instagram.com/menosketiago"
            rel="noopener"
            target="_blank"
            class="btn secondary arrow-right"
            aria-label="Check my photos on Instagram"
        >Instagram</a>
    </div>
</section>