<section
  id="about"
  role="region"
  aria-label="Section with information about me and my design philosophy"
>
  <div class="avatar">
    <picture>
      <source
        srcset="/images/avatar-halftone.avif 1x, /images/avatar-halftone-2x.avif 2x"
        type="image/avif"
      />
      <source
        srcset="/images/avatar-halftone.webp 1x, /images/avatar-halftone-2x.webp 2x"
        type="image/webp"
      />
      <img class="logo" src="/images/avatar-halftone.jpg" alt="" />
    </picture>
    <picture>
      <source
        srcset="/images/avatar.avif 1x, /images/avatar-2x.avif 2x"
        type="image/avif"
      />
      <source
        srcset="/images/avatar.webp 1x, /images/avatar-2x.webp 2x"
        type="image/webp"
      />
      <img class="logo" src="/images/avatar.jpg" alt="" />
    </picture>
  </div>

  <div>
    <h2>About —</h2>

    <p>
      I collaborate with teams to create products and design systems, balancing user needs and business value.
    </p>

    <p>
      Born in Portugal, I moved to Sweden 8 years ago, and have worked at
      companies like
      <b>Ericsson</b>,
      <b>TriOptima</b>,
      <b>Mentimeter</b>
      and
      <b>Klarna</b>.
    </p>

    <p>
        During my free time, you can find me mentoring designers at <a href="https://adplist.org/mentors/tiago-almeida" rel="noopener" target="_blank">ADPList</a>, and trying to spread love, two decades of design knowledge, and hipster food pics on social media.
    </p>

    <a
      href="https://www.linkedin.com/in/menosketiago/"
      rel="noopener"
      target="_blank"
      class="btn secondary arrow-right"
    >LinkedIn</a>
    <a
      href="https://medium.com/@menosketiago"
      rel="noopener"
      target="_blank"
      class="btn secondary arrow-right"
    >Medium</a>
    <a
      href="https://www.youtube.com/@menosketiago"
      rel="noopener"
      target="_blank"
      class="btn secondary arrow-right"
    >YouTube</a>
    <a
      href="https://www.instagram.com/menosketiago"
      rel="noopener"
      target="_blank"
      class="btn secondary arrow-right"
    >Instagram</a>
  </div>
</section>