<section id="bye">
    <h1 aria-label='Bye, and see you next time!'>
        <b>HEJDÅ</b>,<br>
        <b>ADEUS</b><br>
        & <b>BYE</b><br>
        SEE YOU<br>
        NEXT TIME! 
    </h1>
</section>