<section id="contact" aria-label="Section with information about how to contact me">
    <h2>Contact —</h2>

    <p>
        Like most wild <b>Designerus millenius</b>, I can be easily spooked with phone calls, as they are strongly associated with one of our primal predators, the <b>Telemarketerus obnoscius</b>.
    </p>
    <p>
        But emails are a safe bet, so use the form below to reach me!</b>
    </p>

    <form action="https://formspree.io/xyyyddgr" method="POST" role="form" aria-label="A form you can use to contact me">
        <div class="input">
            <input type="text" name="name" id="name" minlength="1" maxlength="100" required aria-label="Type your name or alias">
            <label for="name" aria-hidden="true">Name</label>
        </div>

        <div class="input">
            <input type="email" name="email" id="email" minlength="5" maxlength="254" required aria-label="Type your email address">
            <label for="email" aria-hidden="true">Email</label>
        </div>

        <div class="input">
            <textarea name="message" id="message" maxlength="2500" required aria-label="Write your message here"></textarea>
            <label for="message" aria-hidden="true">Drop some lines here...</label>
        </div>

        <button id="btn-submit-message" class="btn arrow-right" type="submit" aria-label="Send message">Send Message</button>
    </form>
</section>
