<section id="content" role="region" aria-label="My latest published articles, videos, freebies and other resources">
    <h2>Human<br> generated<br> content</h2>

    <div class="pill">100% natural intelligence 🤓</div>

    <div class="card-grid">
        <a class="card" href="https://bento.me/menosketiago" target="_blank" rel="noopener">
            <header>
                <div class="icon">
                    {{> vectors/bento}}
                </div>
                <h3>Bento</h3>
                <p>Most of my internet footprint gathered in one place</p>
            </header>
            <div class="btn arrow-right" aria-label="Discover most of my online content">Discover</div>
        </a>

        <a class="card" href="https://www.youtube.com/@menosketiago" target="_blank" rel="noopener">
            <header>
                <div class="icon">
                    {{> vectors/youtube}}
                </div>
                <h3>YouTube</h3>
                <p>Videos about Design Ops, Design Systems and Product Design</p>
            </header>
            <div class="btn arrow-right" aria-label="Watch my videos on YouTube">Watch</div>
        </a>

        <a class="card" href="https://figma.com/@menosketiago" target="_blank" rel="noopener">
            <header>
                <div class="icon">
                    {{> vectors/figma}}
                </div>
                <h3>Figma community</h3>
                <p>Component libraries and other freebies</p>
            </header>
            <div class="btn arrow-right" aria-label="Follow me on the Figma community">Follow</div>
        </a>

        <a class="card" href="https://menosketiago.medium.com" target="_blank" rel="noopener">
            <header>
                <div class="icon">
                    {{> vectors/medium}}
                </div>
                <h3>Medium</h3>
                <p>Articles about Product Design, code and the tech industry</p>
            </header>
            <div class="btn arrow-right" aria-label="Read my articles on Medium">Read</div>
        </a>

        <a class="card" href="http://www.swedishdesignsystems.se" target="_blank" rel="noopener">
            <header>
                <div class="icon">
                    {{> vectors/notion}}
                </div>
                <h3>Swedish Design Systems</h3>
                <p>Design Systems, DS Specialists and jobs</p>
            </header>
            <div class="btn arrow-right" aria-label="Discover everything Swedish Design Systems">Discover</div>
        </a>

        <a class="card" href="https://menosketiago.com/salary.html" target="_blank" rel="noopener">
            <header>
                <div class="icon">
                    {{> vectors/notion}}
                </div>
                <h3>Salary and income</h3>
                <p>An opinionated narrative of how much money I made as a Designer in the past</p>
            </header>
            <div class="btn arrow-right" aria-label="Discover my salary/income history">Discover</div>
        </a>

        <a class="card" href="https://menosketiago.notion.site/Job-hunt-tracker-template-a46edaa0a309469d906873e6150601c2?pvs=4" target="_blank" rel="noopener">
            <header>
                <div class="icon">
                    {{> vectors/notion}}
                </div>
                <h3>Job-hunt tracker™</h3>
                <p>Notion template to keep tabs on search activities</p>
            </header>
            <div class="btn arrow-right" aria-label="Track your job-hunting activities">Track</div>
        </a>

        <a class="card" href="https://bit.ly/design-hiring-sweden" target="_blank" rel="noopener">
            <header>
                <div class="icon">
                    {{> vectors/medium}}
                </div>
                <h3>Design Hiring in Sweden</h3>
                <p>What matters to Swedish hiring managers</p>
            </header>
            <div class="btn arrow-right" aria-label="Learn about Design Hiring in Sweden">Learn</div>
        </a>
    </div>
</section>