<section id="home" role="region" aria-label="Home section featuring a background image with a picture of me as a kid on my mom's lap, pointing a finger to something in the distance (the future)">
    <picture aria-hidden="true">
        <source srcset="./images/logo.webp 1x, ./images/logo@2x.webp 2x" type="image/webp">
        <source srcset="./images/logo.png 1x, ./images/logo@2x.png 2x" type="image/jpg">
        <img class="logo" src="./images/logo.png" alt="menosketiago™ logo">
    </picture>

    <h1 role="heading" aria-label="Hello! My name is Tiago Almeida. I'm a designer and illustrator living in Stockholm, Sweden">
        <span aria-hidden="true">
            Olá, hello, and hej!<br>
            My name is <mark id="name-home" class="name" data-tooltip="<b>Tee-ah-gu Ahl-may-dah</b><br>Click name to hear pronounciation...">Tiago Almeida</mark>.<br>
            I’m a Designer and illustrator<br>
            living in Stockholm, Sweden
        </span>
    </h1>
</section>
