<section
    id="splash"
    role="region"
    aria-label="Introduction section"
>

    <div class="pill-row">
        <div class="pill arrow-right" aria-hidden="true">Spell</div>
        <div class="pill black" data-tooltip="<b>Tee-ah-gu Ahl-may-dah</b><br>Click to listen to the pronunciation" data-name>Tiago Almeida 🇵🇹🇸🇪</div>
        <div class="pill arrow-left" aria-hidden="true">Hear</div>
    </div>

    <h1>
        Designer<br>
        <span>{{> avatar}} Mentor<br></span>
        <span class="pattern">Maker™</span>
    </h1>
    
    <div class="pill">™ stands for Tiago Miguel (Almeida)</div>
    

    {{!-- Draggable stickers --}}
    <figure id="sticker-pattern" class="sticker">
        <picture>
            <source srcset="/images/stickers/sticker-pattern.avif 1x, /images/stickers/sticker-pattern-2x.avif 2x" type="image/avif">
            <source srcset="/images/stickers/sticker-pattern.webp 1x, /images/stickers/sticker-pattern-2x.webp 2x" type="image/webp">
            <img src="/images/stickers/sticker-pattern.png" alt="Rounded sticker with a pattern with my brand icon repeated over a yellow background" aria-hidden="true">
        </picture>
    </figure>
    <figure id="sticker-icon" class="sticker">
        <picture>
            <source srcset="/images/stickers/sticker-icon.avif 1x, /images/stickers/sticker-icon-2x.avif 2x" type="image/avif">
            <source srcset="/images/stickers/sticker-icon.webp 1x, /images/stickers/sticker-icon-2x.webp 2x" type="image/webp">
            <img src="/images/stickers/sticker-icon.png" alt="Rounded sticker with my brand icon in black over a yellow background" aria-hidden="true">
        </picture>
    </figure>
    <figure id="sticker-black" class="sticker">
        <picture>
            <source srcset="/images/stickers/sticker-black.avif 1x, /images/stickers/sticker-black-2x.avif 2x" type="image/avif">
            <source srcset="/images/stickers/sticker-black.webp 1x, /images/stickers/sticker-black-2x.webp 2x" type="image/webp">
            <img src="/images/stickers/sticker-black.png" alt="Rounded sticker with my logo in yellow on a black background" aria-hidden="true">
        </picture>
    </figure>
</section>