<section
    id="splash"
    role="region"
    aria-label="Introduction section"
>

    <div>
        <p>Tiago Almeida</p>
    </div>

    <h1>
        Designer<br>
        <span>{{> avatar}} Mentor<br></span>
        <span class="pattern">Maker™</span>
    </h1>
    
    <p>™ stands for Tiago Miguel (dos Santos Almeida) 🤓</p>
</section>