<section id="work" role="region" aria-label="Section about companies and projects that I worked at">
    <h2>Work —</h2>

    {{!-- {{> summaries/klarna}} --}}
    {{> summaries/ericsson}}
    {{> summaries/esm-vr}}
    {{> summaries/trids}}

    <div class="dual-column">
        {{> summaries/nem-tudo}}
        {{> summaries/alien}}
    </div>
</section>