<section id="work" role="region" aria-label="Section about companies and projects that I worked at">
    <h2>Work —</h2>
    
    <picture>
        {{#formats}}
            {{#each format}}
                <source srcset="./images/avatar.{{key}} 1x, ./images/avatar-2x.{{key}} 2x" type="image/{{key}}">
            {{/each}}
        {{/formats}}
        <img class="logo" src="./images/avatar-halftone.jpg" alt="">
    </picture>
</section>