<section id="writing" role="region" aria-label="My latest published articles">
    <h2>Writing —</h2>

    <a href="https://medium.com/@menosketiago" target="_blank" class="btn secondary">Read all my articles on Medium&nbsp;&nbsp;→</a>

    <article>
        <h3>Design Hiring in Sweden 🇸🇪</h3>
        
        <p>
            We have all been there, looking for a new job and being confused by the contradicting advice and tips about what you should be focusing on. How to write the perfect CV, the most impressive portfolio, and engage recruiters with your custom-crafted cover letter…
        </p>
        <p>
            As someone that arrived in Sweden already in my thirties, I always have the extra layer of doubt, due to potential cultural differences. (…)
        </p>

        <a href="https://menosketiago.medium.com/design-hiring-in-sweden-84dda9439815" target="_blank" class="btn secondary">Read more&nbsp;&nbsp;→</a>
    </article>

    <article>
        <h3>CSS Only Tilt-shift Photography</h3>
        
        <p>
            Or a guide to being able to be as hipster with CSS as you are on Instagram 😎
        </p>
        <p>
            It’s almost 2020, and web standards have come along more than what most people give them credit for (go forth and spread the good word to your backend friends)! (...)
        </p>

        <a href="https://menosketiago.medium.com/css-only-tilt-shift-photography-5a86d09189f5" target="_blank" class="btn secondary">Read more&nbsp;&nbsp;→</a>
    </article>
</section>