<section id="writing" role="region" aria-label="My latest published articles">
    <h2>Writing —</h2>

    <a href="https://medium.com/@menosketiago" target="_blank" class="btn secondary">Read all my articles on Medium&nbsp;&nbsp;→</a>
</section>